<template>
  <div>
    <q-dialog
      v-model="dialog"
      @hide="hide"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          v-if="action == 'ADD' || action == 'UPDATE'"
          :title="action == 'UPDATE' ? 'Editar Planificación' : 'Agregar Planificación'"
          @back="closeDialog"
          button-title="ACEPTAR"
          icon-close="close"
          @send="sendData"
        >
        </toolbar>
        <toolbar
          v-else
          title="Ver Planificación"
          @back="dialog = false"
          icon-close="close"
        >
        </toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <q-form action ref="form" class="q-mt-md">
          <div class="card q-pa-sm">
            <div class="q-pa-sm">
              <q-input
                label="Mes y Año"
                v-model="object.date"
                :rules="[(val) => !!val || 'Seleccione mes y año']"
                readonly
                @click="openDate"
                :disable="action == 'UPDATE' || action == 'VIEW'"
                color="grey-8"
              >
              </q-input>
              <q-select
                v-model="object.week"
                :options="optionsWeek"
                label="Semana"
                :rules="[(val) => !!val || 'Seleccione semana']"
                :disable="!object.date || action == 'UPDATE' || action == 'VIEW'"
                behavior="dialog"
                color="grey-8"
                @input="getBalance"
              />
              <q-input
                label="Saldo esperado"
                v-model="object.expectedBalance"
                :rules="[
                  (val) => !!val || 'Ingrese saldo esperado',
                  (val) =>
                    parseInt((val + '').split(',').join('')) > 0 ||
                    'El monto ingresado no es válido',
                ]"
                :readonly="action == 'AUTORIZE' || action == 'VIEW'"
                color="grey-8"
                v-currency="{ currency: null, locale: 'en' }"
                prefix="Q "
              >
              </q-input>
            </div>
          </div>
          <div class="card q-mt-md">
            <p class="text-subtitle1 text-bold q-pl-sm q-pt-sm q-mb-sm">Colocaciones</p>

            <q-item-label header class="q-pl-sm">Clientes Nuevos</q-item-label>
            <div class="q-pa-sm">
              <q-input
                label="No."
                v-model.number="object.clientNewNo"
                :rules="[
                  (val) => !!val || 'Ingrese número de clientes nuevos',
                  (val) =>
                    parseInt((val + '').split(',').join('')) > 0 ||
                    'El valor ingresado no es válido',
                ]"
                :readonly="action == 'AUTORIZE' || action == 'VIEW'"
                color="grey-8"
                type="number"
              >
              </q-input>
              <q-input
                label="Esperado"
                v-model="object.clientNewExpected"
                :rules="[
                  (val) => !!val || 'Ingrese cantidad esperado',
                  (val) =>
                    parseInt((val + '').split(',').join('')) > 0 ||
                    'El monto ingresado no es válido',
                ]"
                :readonly="action == 'AUTORIZE' || action == 'VIEW'"
                color="grey-8"
                v-currency="{ currency: null, locale: 'en' }"
                prefix="Q "
              >
              </q-input>
              <q-input
                label="Alcanzado"
                v-model="object.clientNewReached"
                :rules="[(val) => !!val || 'Ingrese cantidad alcanzado']"
                :readonly="true"
                color="grey-8"
                v-currency="{ currency: null, locale: 'en' }"
                prefix="Q "
                :key="keyNew"
              >
              </q-input>

              <q-item-label header class="q-mt-md q-pl-none"
                >Clientes Refinanciados</q-item-label
              >

              <q-input
                label="No."
                v-model.number="object.clientRefNo"
                :rules="[
                  (val) => !!val || 'Ingrese número de clientes nuevos',
                  (val) =>
                    parseInt((val + '').split(',').join('')) > 0 ||
                    'El valor ingresado no es válido',
                ]"
                :readonly="action == 'AUTORIZE' || action == 'VIEW'"
                color="grey-8"
                type="number"
              >
              </q-input>
              <q-input
                label="Esperado"
                v-model="object.clientRefExpected"
                :rules="[
                  (val) => !!val || 'Ingrese cantidad esperado',
                  (val) =>
                    parseInt((val + '').split(',').join('')) > 0 ||
                    'El monto ingresado no es válido',
                ]"
                :readonly="action == 'AUTORIZE' || action == 'VIEW'"
                color="grey-8"
                v-currency="{ currency: null, locale: 'en' }"
                prefix="Q "
              >
              </q-input>
              <q-input
                label="Alcanzado"
                v-model="object.clientRefReached"
                :readonly="true"
                color="grey-8"
                v-currency="{ currency: null, locale: 'en' }"
                prefix="Q "
                :key="keyRef"
              >
              </q-input>
            </div>
          </div>

          <div class="card q-mt-md q-mb-md">
            <p class="text-subtitle1 text-bold q-pl-sm q-pt-sm q-mb-sm">
              Detalle Cliente Etapa
            </p>

            <q-item-label header class="q-pl-sm">Tramite</q-item-label>

            <div class="q-pa-sm">
              <q-input
                label="No."
                :rules="[(val) => !!val || 'Ingrese número tramite']"
                :readonly="true"
                color="grey-8"
                type="number"
                :value="getSizeClients(object.clients)"
              >
              </q-input>
              <div class="text-center q-pb-md">
                <q-btn
                  flat
                  color="primary"
                  @click="clientsStage"
                  label="Clientes/Etapas"
                />
              </div>
              <div v-if="action != 'ADD'">
                <q-separator spaced />
                <q-item-label header class="q-mt-md q-pl-none">Vencimientos</q-item-label>
                <div class="text-center">
                  <q-btn
                    flat
                    color="primary"
                    label="Detalle de clientes"
                    @click="seePlanning"
                  />
                </div>
              </div>
            </div>
          </div>
        </q-form>
        <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogChange" persistent>
      <q-card>
        <q-card-section>
          <div class="text-h6">Salir</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          ¿Desea salir sin guardar cambios en clientes/etapas?
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn
            flat
            label="Aceptar"
            color="primary"
            @click="
              dialog = false;
              dialogChange = false;
            "
          />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <clients-stage
      ref="clientsStage"
      @clients="clients"
      @changed="change = true"
    ></clients-stage>
    <see-planning-clients-expire ref="seePlanning"></see-planning-clients-expire>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo Cartera
 * Desc: Componente para agregar, actulizar, ver planificaciones
 * Rol: Gestor
 */
import HeaderData from "src/components/common/HeaderData";
import Toolbar from "src/components/common/Toolbar";
import DateDialog from "src/components/common/DateDialog";
import Util from "src/mixin/Util";
import ClientsStage from "src/components/portfolio-monitoring/ClientsStage";
import SeePlanningClientsExpire from "./SeePlanningClientsExpire";

export default {
  mixins: [Util],
  components: {
    HeaderData,
    Toolbar,
    DateDialog,
    ClientsStage,
    SeePlanningClientsExpire,
  },
  data: () => ({
    dialog: false,
    action: null,
    dataHeader: [],
    item: {},
    keyRef: 0,
    keyNew: 1,
    object: {
      id: null,
      date: null,
      week: null,
      month: null,
      year: null,
      clientNewNo: null,
      clientNewExpected: null,
      clientNewReached: null,
      clientRefNo: null,
      clientRefExpected: null,
      clientRefReached: null,
      expectedBalance: null,
      procedureNo: null,
      procedureReached: null,
      clients: [],
    },
    optionsWeek: [],
    options: [],
    dialogChange: false,
    change: false,
  }),
  created() {
    this.dataHeader = [
      {
        label: "Gestor",
        value: this.$store.state.username,
      },
      {
        label: "Agencia",
        value: this.$store.state.office,
      },
      {
        label: "Gerente",
        value: this.$store.state.supervisorName,
      },
    ];
  },
  methods: {
    show(item, action, options) {
      this.dialog = true;
      this.item = item;
      this.action = action;
      if (action == "VIEW" || action == "UPDATE") {
        this.object = Object.assign({}, item);
        this.getBalance();
      }
      this.options = options;
    },
    sendData() {
      this.$refs.form.validate().then((res) => {
        if (res) {
          let body = {
            idOfi: this.$store.state.officeId,
            anio: this.object.year,
            mes: this.object.month,
            idSemana: this.object.week.value || this.object.weekId,
            estado: 1,
            clientesNuevos: this.object.clientNewNo,
            clientesRefinanciados: this.object.clientRefNo,
            esperadoNuevo: this.formatToParse(this.object.clientNewExpected),
            esperadoRefinanciado: this.formatToParse(this.object.clientRefExpected),
            saldoEsperado: this.formatToParse(this.object.expectedBalance),
            planSemanalGestorTramites: this.formatClients(this.object.clients || []),
          };
          let url;
          if (this.action == "ADD") url = "gestor/semana/add";
          else {
            body.id = this.object.id;
            url = "gestor/semana/upd";
          }
          this.request(url, body).then((response) => {
            if (response) {
              if (response.estado == 1) {
                if (this.action == "UPDATE")
                  this.notifySuccess("Planificación editada corrctamente");
                else this.notifySuccess("Planificación agregada corrctamente");
                this.dialog = false;

                this.$emit("getData");
                this.hide();
              } else if (response.estado == 2) {
                if (this.action == "UPDATE")
                  this.notifyError("Error al editar la planificación");
                else this.notifyError("Error al insertar la planificación");
              } else {
                this.notifyError(response.data);
              }
            }
          });
        }
      });
    },
    formatClients(clients) {
      let temp = [];
      clients.map((item) => {
        temp.push({
          id: item.id,
          idCli: item.clientId,
          idEstadoEtapa: item.stageId,
          eliminado: item.isHidden ? "S" : "N",
        });
      });
      return temp;
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
    dateSelected(month, year, fullDate) {
      if (this.dialog) {
        if (this.action == "ADD") {
          this.object.week = null;
          this.object.month = month;
          this.object.year = year;
          this.object.date = fullDate;
          this.getWeeks(month, year);
        }
      }
    },
    getWeeks(month, year, initValue) {
      let body = {
        mes: month,
        anio: year,
      };
      this.request("semanas", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.optionsWeek = [];
            response.data.map((item) => {
              let model = {
                value: item.id,
                label: item.semana,
              };
              this.optionsWeek.push(model);
            });
            if (initValue) {
              this.optionsWeek.map((elem) => {
                if (elem.value == this.object.id) {
                  this.object.week = elem;
                }
              });
            }
          } else this.notifyError(response.descripcion);
        }
      });
    },
    clientsStage() {
      if (this.object.week) {
        let item = {
          week: this.object.week.label || this.object.week,
          clients: this.object.clients,
        };
        this.$refs.clientsStage.show(item, this.action, this.options);
      } else this.notifyInfo("Debe seleccionar la semana");
    },
    clients(clients) {
      this.notifyInfo("Total Clientes/Etapas: " + this.getSizeClients(clients));
      this.object.clients = clients;
    },
    seePlanning() {
      this.$refs.seePlanning.show(this.object);
    },

    hide() {
      this.object = {
        id: null,
        date: null,
        week: null,
        month: null,
        year: null,
        clientNewNo: null,
        clientNewExpected: null,
        clientNewReached: null,
        clientRefNo: null,
        clientRefExpected: null,
        clientRefReached: null,
        expectedBalance: null,
        procedureNo: null,
        procedureReached: null,
        clients: [],
      };
      this.optionsWeek = [];
      this.$emit("hide");
    },
    getBalance(value) {
      console.log(value);
      let body = {
        mes: this.object.month,
        anio: this.object.year,
        dia: this.object.week.label
          ? this.object.week.label.split(" ")[1]
          : this.object.week.split(" ")[1],
        idOfi: this.$store.state.officeId,
        empresaUsu: localStorage.getItem("companyUser")
      };
      this.request("gerente/semana/saldo", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            if (response.data) {
              this.object.clientRefReached = this.getFormatMoney(
                response.data[0].montoClientesRef
              );
              this.object.clientNewReached = this.getFormatMoney(
                response.data[0].montoClientesNuevos
              );
              this.keyRef++;
              this.keyNew++;
            } else {
              this.object.clientRefReached = 0;
              this.object.clientNewReached = 0;
              this.keyNew++;
              this.keyRef++;
            }
          }
        }
      });
    },
    getSizeClients(clients) {
      if (clients && clients.length > 0) {
        return clients.filter((item) => !item.isHidden).length;
      } else return 0;
    },
    closeDialog() {
      if (this.change) {
        this.dialogChange = true;
      } else this.dialog = false;
    },
  },
};
</script>
