<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          :title="action == 'VIEW' ? 'Ver Planificación' : 'Autorizar Planificación'"
          @back="dialog = false"
        >
        </toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md q-mb-xl">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.week }}
          </p>
          <q-list>
            <q-item>
              <q-item-section>
                <q-item-label>Saldo Cartera Inicial {{ balance.init }}</q-item-label>
                <q-item-label caption>Esperando: {{ item.expectedBalance }}</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label caption>Alcanzado: {{ balance.end }}</q-item-label>
              </q-item-section>
            </q-item>
            <q-separator spaced />
            <q-item-label header>Colocaciones</q-item-label>
            <q-item class="q-mb-sm">
              <q-item-section>
                <q-item-label>Clientes Nuevos</q-item-label>
                <q-item-label caption>No: {{ item.clientNewNo }}</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label caption
                  >Esperado: {{ item.clientNewExpected }}</q-item-label
                >
                <q-item-label caption
                  >Alcanzado: {{ item.clientNewReached }}</q-item-label
                >
              </q-item-section>
            </q-item>

            <q-item>
              <q-item-section>
                <q-item-label>Clientes Refinanciados</q-item-label>
                <q-item-label caption>No: {{ item.clientRefNo }}</q-item-label>
              </q-item-section>
              <q-item-section side>
                <q-item-label caption
                  >Esperado: {{ item.clientRefExpected }}</q-item-label
                >
                <q-item-label caption
                  >Alcanzado: {{ balance.clientRefReached }}</q-item-label
                >
              </q-item-section>
            </q-item>
            <q-separator spaced />
            <q-item-label header>Detalle Clientes Etapas</q-item-label>
            <q-item>
              <q-item-section>
                <q-item-label>Tramite </q-item-label>
                <q-item-label caption
                  >No. {{ !item.clients ? 0 : item.clients.length }}</q-item-label
                >
              </q-item-section>
            </q-item>
            <div class="text-center">
              <q-btn
                label="Clientes/Etapas"
                flat
                color="white"
                text-color="primary"
                @click="clientsStage"
              ></q-btn>
            </div>

            <q-separator spaced />
            <q-item-label header>Vencimientos</q-item-label>
            <div class="text-center">
              <q-btn
                label="Detalle de clientes"
                flat
                color="white"
                text-color="primary"
                @click="seePlanning"
              ></q-btn>
            </div>
          </q-list>
        </div>
        <div class="q-pa-md"></div>
        <div class="fixed fixed-bottom shadow-1" v-if="action == 'APPROVE'">
          <div class="row shadow-8 bg-white">
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(3)"
                label="Rechazar"
                text-color="primary"
                flat
                color="white"
                class="full-width"
                icon="clear"
              ></q-btn>
            </div>
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(2)"
                label="Aprobar"
                unelevated
                color="primary"
                class="full-width"
                icon="done"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-card>
      <clients-stage ref="clientsStage"></clients-stage>
      <see-planning-clients-expire ref="seePlanning"></see-planning-clients-expire>
    </q-dialog>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo cartera
 * Desc: Componente para ver o aprobar planificaciones
 * Rol: Supervisor
 */
import Toolbar from "../common/Toolbar";
import HeaderData from "../common/HeaderData";
import ListActions from "../common/ListActions";
import ClientsStage from "./ClientsStage.vue";
import SeePlanningClientsExpire from "./SeePlanningClientsExpire";
// mixin
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    ListActions,
    ClientsStage,
    SeePlanningClientsExpire,
  },
  data: () => ({
    dialog: false,
    dataHeader: [],
    item: {},
    options: [],
    action: null,
    balance: {
      init: 0,
      end: 0,
      clientRefReached: 0,
    },
  }),

  methods: {
    show(item, action, options) {
      (this.balance = {
        init: this.getFormatMoney(0),
        end: this.getFormatMoney(0),
        clientRefReached: 0,
      }),
        (this.dialog = true);
      this.item = Object.assign({}, item);
      this.item.expectedBalance = this.getFormatMoney(this.item.expectedBalance);
      this.options = options;
      this.action = action;
      this.dataHeader = [
        {
          label: "Gestor",
          value: item.title,
        },
        {
          label: "Oficina",
          value: this.$store.state.office,
        },
        {
          label: "Gerente",
          value: this.$store.state.username,
        },
      ];
      this.getBalance();
    },
    hideDialog() {},
    changeState(id) {
      let body = {
        estado: id,
        id: this.item.id,
      };
      this.request("gerente/semana/estado", body).then((response) => {
        if (response) {
          if (response.estado == 1) {
            if (id == 2) this.notifySuccess("Aprobada correctamente");
            else this.notifySuccess("Rechazada correctamente");
            this.dialog = false;
            this.$emit("getData");
          } else {
            if (id == 2) this.notifyError("Error al aprobar");
            else this.notifyError("Error al rechazar");
          }
        }
      });
    },
    clientsStage() {
      this.$refs.clientsStage.show(this.item, "VIEW", this.options);
    },
    seePlanning() {
      this.$refs.seePlanning.show(this.item, this.item.managerId);
    },
    getBalance() {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        dia: this.item.dayInit,
        idOfi: this.$store.state.officeId,
        empresaUsu: localStorage.getItem("companyUser"),
      };
      this.request("gerente/semana/saldo", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            if (response.data) {
              this.balance = {
                init: this.getFormatMoney(response.data[0].saldoInicial),
                end: this.getFormatMoney(response.data[0].saldoFinal),
                clientRefReached: this.getFormatMoney(response.data[0].montoClientesRef),
              };
            }
          }
        }
      });
    },
  },
};
</script>
