<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          title="Clientes/Etapas"
          @back="dialog = false"
          @send="send"
          button-title="ACEPTAR"
          v-if="action != 'VIEW'"
        >
        </toolbar>
        <toolbar title="Clientes/Etapas" @back="dialog = false" v-else> </toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.week }}
          </p>

          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            emptyMessage="No se han encontrado clientes"
            :data="data"
            @remove="remove"
            @update="update"
          ></list-actions>
        </div>
        <q-fab
          v-if="action == 'ADD' || action == 'UPDATE'"
          unelevated
          v-model="fab"
          class="fixed fixed-bottom-right q-ma-md add"
          label="Agregar"
          label-position="right"
          color="primary"
          icon="fas fa-plus-circle"
          direction="right"
          @click="addClientStage"
        >
        </q-fab>
      </q-card>
    </q-dialog>

    <q-dialog v-model="dialogAdd" full-width @hide="hideAdd">
      <q-card>
        <q-linear-progress :value="1" color="red" />
        <q-card-section>
          <div class="text-h6" v-if="tempAction == 'ADD'">Agregar Cliente</div>
          <div class="text-h6" v-else>Editar Cliente</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <q-form ref="form">
            <q-item-label v-if="client.name" header class="q-pl-none"
              ><span class="text-bold">Nombre: </span> {{ client.name }}</q-item-label
            >

            <q-select
              v-model="client.documentType"
              :options="optionsIdentity"
              label="Tipo de documento"
              :rules="[(val) => !!val || 'Seleccione tipo de documento']"
              color="grey-8"
              :readonly="(action == 'VIEW' || action == 'UPDATE') && tempAction != 'ADD'"
            />
            <q-input
              ref="client"
              bottom-slots
              v-model="client.document"
              label="Número de documento"
              :rules="[
                (val) => !!val || 'Ingrese número de documento',
                (val) =>
                  val.length > client.documentType.mask.length - 1 ||
                  'Número de documento no válido',
              ]"
              maxlength="20"
              color="grey-8"
              @input="validClient"
              :mask="client.documentType.mask"
              lazy-rules
              :readonly="(action == 'VIEW' || action == 'UPDATE') && tempAction != 'ADD'"
            >
            </q-input>

            <q-select
              v-model="client.stage"
              :options="optionsStage"
              label="Etapa"
              :rules="[(val) => !!val || 'Seleccione etapa']"
              color="grey-8"
              :readonly="action == 'VIEW'"
            />
          </q-form>
        </q-card-section>

        <q-card-actions align="right" class="bg-white text-primary">
          <q-btn flat label="Cancelar" v-close-popup />
          <q-btn flat label="Aceptar" @click="sendData" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo cartera
 * Desc: Componente para agregar, actulizar, eliminar clientes/etapas
 * Rol: Gestor
 */
import Toolbar from "../common/Toolbar";
import HeaderData from "../common/HeaderData";
import ListActions from "../common/ListActions";
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    ListActions,
  },
  data: () => ({
    dialog: false,
    dataHeader: [],
    data: [],
    action: null,
    item: {},
    fab: false,
    dialogAdd: false,
    client: {
      id: null,
      name: null,
      document: null,
      stage: null,
      documentType: {
        label: null,
        value: null,
        mask: "",
      },
    },
    optionsStage: [],
    optionsIdentity: [],
    optionsLeft: [],
    keyList: 0,
    options: [],
    tempAction: null,
  }),
  created() {},
  methods: {
    show(item, action, options) {
      this.dialog = true;
      this.item = item;
      this.action = action;
      this.data = Object.assign([], item.clients) || [];
      this.options = options;
      this.fillOptions();
      let isAsesor = localStorage.getItem("supervisorId");
      if (isAsesor) {
        this.dataHeader = [
          {
            label: "Gestor",
            value: this.$store.state.username,
          },
          {
            label: "Agencia",
            value: this.$store.state.office,
          },
          {
            label: "Gerente",
            value: this.$store.state.supervisorName,
          },
        ];
      } else {
        this.dataHeader = [
          {
            label: "Gestor",
            value: this.item.title,
          },
          {
            label: "Agencia",
            value: this.$store.state.office,
          },
          {
            label: "Gerente",
            value: this.$store.state.username,
          },
        ];
      }
    },
    hideDialog() {},

    addClientStage() {
      this.tempAction = "ADD";
      this.getStages();
      this.getIdentityType();
      this.dialogAdd = true;
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Eliminar",
          icon: "fas fa-trash-alt",
          action: "remove",
          enable:
            this.action != "VIEW" &&
            this.action != "APPROVE" &&
            this.isEnableOption(this.options, 28),
        },
        {
          title: "Editar",
          icon: "edit",
          action: "update",
          enable:
            (this.action == "ADD" || this.action == "VIEW" ? false : true) &&
            this.isEnableOption(this.options, 29),
        },
      ];
    },
    sendData() {
      this.$refs.form.validate().then((res) => {
        if (res) {
          let flag = false;
          this.data.map((item) => {
            if (
              item.clientId == this.client.clientId &&
              !item.isHidden &&
              (this.action != "UPDATE" || this.tempAction != "UPDATE")
            )
              flag = true;
          });
          if (!flag) {
            if (this.action == "ADD" || this.tempAction == "ADD") {
              if (this.client.clientId) {
                let model = {
                  clientId: this.client.clientId,
                  name: this.client.name,
                  document: this.client.document,
                  stage: this.client.stage.label,
                  stageId: this.client.stage.value,
                  title: this.client.name,
                  description: this.client.stage.label,
                };
                this.data.push(model);
                this.dialogAdd = false;
                this.notifySuccess("Cliente agregado");
                this.$emit("changed");
              } else this.notifyError("Cliente no encontrado");
            } else {
              let tempData = [];

              this.data.map((item, index) => {
                if (item.clientId == this.client.clientId) {
                  let model = {
                    id: this.client.id,
                    clientId: this.client.clientId,
                    name: this.client.name,
                    document: this.client.document,
                    stage: this.client.stage.label,
                    stageId: this.client.stage.value,
                    title: this.client.name,
                    description: this.client.stage.label,
                  };
                  tempData.push(model);
                } else {
                  tempData.push(item);
                }
              });
              this.data = tempData;
              this.keyList++;
              this.dialogAdd = false;
              this.notifySuccess("Cliente editado");
              this.$emit("changed");
            }
          } else this.notifyError("El cliente seleccionado ya esta ingresado");
        }
      });
    },

    getStages(setStage) {
      if (this.optionsStage.length == 0) {
        this.request("etapas", {}).then((response) => {
          if (response) {
            if (response.estado == 200) {
              this.optionsStage = [];
              response.data.map((item) => {
                let model = {
                  value: item.id,
                  label: item.descripcion,
                };
                this.optionsStage.push(model);
              });
              if (setStage) {
                console.log(this.optionsStage, this.client);
                this.optionsStage.map((item) => {
                  if (item.value == this.client.stageId) {
                    this.client.stage = {
                      value: this.client.stageId,
                      label: this.client.stage,
                    };
                    console.log("set stage");
                  }
                });
              }
            }
          }
        });
      }
    },
    async getIdentityType(setDocument) {
      return await new Promise((res, rej) => {
        if (this.optionsIdentity.length == 0) {
          this.request("tipo/identificacion", {}).then((response) => {
            if (response) {
              if (response.estado == 200) {
                this.optionsIdentity = [];
                response.data.map((item) => {
                  let model = {
                    value: item.id,
                    label: item.descripcion,
                    mask: this.formatMask(item.mascara),
                  };
                  this.optionsIdentity.push(model);
                });

                if (setDocument) {
                  this.optionsIdentity.map((item) => {
                    if (item.value == this.client.documentTypeId) {
                      this.client.documentType = {
                        value: this.client.documentTypeId,
                        label: this.client.documentType,
                        mask: this.client.mask,
                      };
                      console.log("set document");
                    }
                  });
                  console.log(this.optionsIdentity, this.client);
                }

                res();
              }
            }
          });
        } else res();
      });
    },
    formatMask(mask) {
      let newMask = "";
      if (mask) {
        mask.split("").map((item) => {
          if (item == "9") newMask += "#";
          else if (item == "*") newMask += "N";
          else if (item == "a") newMask += "S";
          else newMask += item;
        });
      }
      console.log(newMask);
      return newMask;
    },
    send() {
      this.dialog = false;
      this.$emit("clients", this.data);
    },

    hide() {
      this.data = [];
    },
    hideAdd() {
      this.fab = false;
      this.client = {
        id: null,
        name: null,
        document: null,
        stage: null,
        documentType: {
          label: null,
          value: null,
          mask: "",
        },
      };
    },
    remove(item) {
      if (this.action == "ADD") {
        this.data.map((elem, index) => {
          if (elem.clientId == item.clientId) this.data.splice(index, 1);
        });
        this.notifySuccess("Cliente eliminado");
      } else {
        this.notifySuccess("Cliente eliminado");
        this.data.map((elem, index) => {
          if (elem.clientId == item.clientId) {
            this.data[index].isHidden = true;
          }
        });
      }
    },
    async update(item) {
      this.client = Object.assign({}, item);
      this.tempAction = "UPDATE";
      if (this.optionsStage.length > 0) {
        this.optionsStage.map((item) => {
          if (item.value == this.client.stageId) {
            this.client.stage = {
              value: this.client.stageId,
              label: this.client.stage,
            };
          }
        });
      }
      if (this.optionsIdentity.length > 0) {
        this.optionsIdentity.map((item) => {
          if (item.value == this.client.documentTypeId) {
            this.client.documentType = {
              value: this.client.documentTypeId,
              label: this.client.documentType,
              mask: this.client.mask,
            };
          }
        });
      }
      console.log(this.client);
      this.getStages(true);
      await this.getIdentityType(true);
      this.dialogAdd = true;
    },
    validClient(val) {
      if (val && val.length > this.client.documentType.mask.length - 1) {
        let body = {
          numeroDocumento: val,
        };
        this.request("cliente/valid", body).then((response) => {
          if (response) {
            if (response) {
              if (response.estado == 200) {
                if (response.data) {
                  this.client.clientId = response.data.id;
                  this.client.name = response.data.nombre;
                } else {
                  this.client.clientId = null;
                  this.client.name = null;
                  this.notifyError("Cliente no encontrado");
                }
              } else this.notifyError("Error al obtener datos");
            }
          }
        });
      }
    },
  },
};
</script>
