<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          title="Coordinadores"
          @back="dialog = !dialog"
          icon-close="close"
        ></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md q-mb-xl">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.title }}
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            emptyMessage="No se han encontrado coordinadores"
            :data="data"
            @managers="managers"
            @autorize="autorize"
            @view="view"
          ></list-actions>
        </div>
      </q-card>
    </q-dialog>
    <managers ref="managers" @getData="getData(true)"></managers>
    <approve-planning ref="approvePlanning" @getData="getData(true)"></approve-planning>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo Facilitador
 * Desc: Componente para ver los asesores del supervisor
 * Rol: Asesor y Supervisor
 */
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import Toolbar from "src/components/common/Toolbar";
import Managers from "src/components/portfolio-monitoring/Managers.vue";
import ApprovePlanning from "./ApprovePlanning.vue";

// mixin
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: { Toolbar, HeaderData, ListActions, Managers, ApprovePlanning },
  props: {
    month: String,
    year: String,
  },
  data: () => ({
    dialog: false,
    dataHeader: [],
    optionsLeft: [],
    data: [],
    item: {},
    options: [],
    keyList: 0,
    emitToParent: false,
  }),
  created() {
    this.dataHeader = [
      {
        label: "Oficina",
        value: this.$store.state.office,
      },
      {
        label: "Gerente Agencia",
        value: this.$store.state.username,
      },
    ];
  },
  methods: {
    show(item, options) {
      this.dialog = true;
      this.item = Object.assign({}, item);
      this.options = options;
      this.getData();
    },
    getData(emitToParent) {
      let body = {
        mes: this.month,
        anio: this.year,
        idOfi: this.$store.state.officeId,
        idSemana: this.item.weekId,
      };

      this.request("gerente/semana/coordinador", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            const data = response.data;
            this.data = [];
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let model = {
                  id: item.idUsu,
                  title: item.nombre,
                  week: this.item.title,
                  description: item.estado,
                  weekId: this.item.weekId,
                  planCoordinator: item.planCoordinador,
                  year: this.year,
                  month: this.month,
                  adviserId: item.idUsu,
                  alwaysAutorize: this.item.alwaysAutorize,
                };

                model.hiddenOptionsLeft = [];
                if (item.planCoordinador == 0) model.hiddenOptionsLeft = [1, 2];
                else {
                  if (item.planCoordinador == 2) model.hiddenOptionsLeft.push(1);
                  else model.hiddenOptionsLeft.push(2);
                }

                if (item.gestores == 0) {
                  model.hiddenOptionsLeft.push(0);
                }

                this.data.push(model);
              });
              if (emitToParent) this.emitToParent = true;
            }
            this.fillOptions();
          } else {
            this.notifyError("Error al obtener datos");
          }
        }
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Gestores",
          icon: "group",
          action: "managers",
          enable: this.isEnableOption(this.options, 30),
        },
        {
          title: "Autorizar",
          icon: "fas fa-check-circle",
          action: "autorize",
          enable: this.isEnableOption(this.options, 32),
        },
        {
          title: "Ver",
          icon: "fas fa-eye",
          action: "view",
          enable: this.isEnableOption(this.options, 33),
        },
      ];
      this.keyList++;
    },

    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
    managers(item) {
      this.$refs.managers.show(item, this.options);
    },
    autorize(item) {
      this.getDataPlan(item, "APPROVE");
    },
    view(item) {
      this.getDataPlan(item, "VIEW");
    },
    getDataPlan(item, action) {
      let body = {
        mes: this.month,
        anio: this.year,
        idOfi: this.$store.state.officeId,
        idSemana: item.weekId,
        idAsesor: item.id,
      };
      this.request("gerente/gestores/plan", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            let item = response.data[0];

            let model = {
              title: item.gestor,
              description: item.estado,
              id: item.id,
              stateId: item.idEstado,
              date: `${this.getMonthName(item.mes)} - ${item.anio}`,
              dayInit: item.diaInicio,
              week: item.semana,
              weekId: item.idSemana,
              month: item.mes,
              year: item.anio,
              clientNewNo: item.clientesNuevos,
              clientNewExpected: item.esperadoNuevo,

              clientRefNo: item.clientesRef,
              clientRefExpected: item.esperadoRef,
              clientRefReached: item.alcanzadoRef,
              expectedBalance: item.saldoEsperado,
              procedureNo: item.tramite,
              procedureReached: item.tramiteAlcanzado,
              managerId: item.idGestor,
              clients: this.formatClients(item.clientesTramites || []),
            };

            this.$refs.approvePlanning.show(model, action, this.options);
          } else this.notifyError("Error al obtener los datos");
        }
      });
    },
    formatClients(clients) {
      let temp = [];
      clients.map((item) => {
        temp.push({
          id: item.id,
          clientId: item.idCli,
          name: item.cliente,
          document: item.numeroDocumento,
          stage: item.estadoEtapa,
          stageId: item.idEstadoEtapa,
          title: item.cliente,
          description: item.estadoEtapa,
          documentType: item.tipoDocumento,
          documentTypeId: item.idTipoDocumento,
          mask: item.mascara,
        });
      });
      return temp;
    },
  },
};
</script>
