<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Gestores" @back="dialog = false"> </toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.week || item.title }}
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            :emptyMessage="emptyMessage"
            :data="data"
            @autorize="autorize"
            @view="view"
          ></list-actions>
        </div>
        <approve-planning
          ref="approvePlanning"
          @getData="getData(true)"
        ></approve-planning>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo cartera
 * Desc: Componente para ver los gestores de un supervisor
 * Rol: Supervisor
 */
import Toolbar from "../common/Toolbar";
import HeaderData from "../common/HeaderData";
import ListActions from "../common/ListActions";
import ApprovePlanning from "./ApprovePlanning.vue";

// mixin
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    ListActions,
    ApprovePlanning,
  },
  data: () => ({
    dialog: false,
    optionsLeft: [],
    dataHeader: [],
    data: [],
    emptyMessage: "No se han encontrado gestores",
    item: {},
    options: [],
    keyList: 0,
    emitToParent: false,
  }),
  created() {
    this.dataHeader = [
      { label: "Gerente", value: this.$store.state.username },
      {
        label: "Oficina",
        value: this.$store.state.office,
      },
    ];
  },
  methods: {
    show(item, options) {
      this.dialog = true;
      this.item = item;
      this.options = options;
      this.getData();
    },
    getData(emitParent) {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        idOfi: this.$store.state.officeId,
        idSemana: this.item.weekId,
        ...(this.item.adviserId && { idAsesor: this.item.adviserId }),
      };
      console.log("genete aseseros,", this.item);
      this.request("gerente/gestores", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.data = [];
            response.data.map((item) => {
              let model = {
                title: item.gestor,
                description: item.estado,
                id: item.id,
                stateId: item.idEstado,
                date: `${this.getMonthName(item.mes)} - ${item.anio}`,
                dayInit: item.diaInicio,
                week: item.semana,
                weekId: item.idSemana,
                month: item.mes,
                year: item.anio,
                clientNewNo: item.clientesNuevos,
                clientNewExpected: item.esperadoNuevo,

                clientRefNo: item.clientesRef,
                clientRefExpected: item.esperadoRef,
                clientRefReached: item.alcanzadoRef,
                expectedBalance: item.saldoEsperado,
                procedureNo: item.tramite,
                procedureReached: item.tramiteAlcanzado,
                managerId: item.idGestor,
                clients: this.formatClients(item.clientesTramites || []),
              };
              if (item.idEstado == 2 && !this.item.alwaysAutorize)
                model.hiddenOptionsLeft = [0];
              else model.hiddenOptionsLeft = [1];
              this.data.push(model);
            });
            if (emitParent) this.emitToParent = true;
          } else this.notifyError("Error al obtener los datos");
        }
        this.fillOptions();
      });
    },
    formatClients(clients) {
      let temp = [];
      clients.map((item) => {
        temp.push({
          id: item.id,
          clientId: item.idCli,
          name: item.cliente,
          document: item.numeroDocumento,
          stage: item.estadoEtapa,
          stageId: item.idEstadoEtapa,
          title: item.cliente,
          description: item.estadoEtapa,
          documentType: item.tipoDocumento,
          documentTypeId: item.idTipoDocumento,
          mask: this.formatMask(item.mascara),
        });
      });

      return temp;
    },
    formatMask(mask) {
      let newMask = "";
      if (mask) {
        mask.split("").map((item) => {
          if (item == "9") newMask += "#";
          else if (item == "*") newMask += "N";
          else if (item == "a") newMask += "S";
          else newMask += item;
        });
      }
      console.log(newMask);
      return newMask;
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Autorizar",
          icon: "fas fa-check-circle",
          action: "autorize",
          enable: this.isEnableOption(this.options, 32),
        },
        {
          title: "Ver",
          icon: "fas fa-eye",
          action: "view",
          enable: this.isEnableOption(this.options, 33),
        },
      ];

      this.keyList++;
    },
    hideDialog() {},
    autorize(item) {
      this.$refs.approvePlanning.show(item, "APPROVE", this.options);
    },
    view(item) {
      this.$refs.approvePlanning.show(item, "VIEW", this.options);
    },
    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
  },
};
</script>
