<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Planificación clientes vencen" @back="dialog = false"></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.week }} {{ item.year }}
          </p>
          <div v-if="data.length > 0">
            <q-list class="q-pb-sm" v-for="(item, index) of data" :key="index">
              <q-item>
                <q-item-section>
                  <q-item-label>{{ item.name }}</q-item-label>
                  <q-item-label caption> {{ item.creditAmount }}</q-item-label>
                </q-item-section>
                <q-item-section side>
                  <q-item-label caption>Pago: {{ item.payDate }}</q-item-label>
                  <q-item-label caption>Ultima cuota: {{ item.lastQuota }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
          <div v-else>
            <p class="text-center text-grey q-mt-lg" v-if="!loading.isActive">
              No se han encontrado clientes
            </p>
          </div>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/***
 * Modulo: Monitoreo cartera
 * Desc: Componente para ver planificacion clientes vencen
 * Rol: gestor y supervisor
 */
import HeaderData from "../common/HeaderData";
import Toolbar from "../common/Toolbar";
import Util from "../../mixin/Util";

export default {
  mixins: [Util],
  components: { Toolbar, HeaderData },
  data() {
    return {
      dialog: false,
      dataHeader: [],
      data: [],
      item: {},
      loading: this.$q.loading,
    };
  },
  methods: {
    show(item, userId) {
      this.dialog = true;
      this.item = item;
      let isAsesor = localStorage.getItem("supervisorId");
      if (isAsesor) {
        this.dataHeader = [
          { label: "Gestor", value: this.$store.state.username },
          { label: "Oficina", value: this.$store.state.office },
          { label: "Gerente", value: this.$store.state.supervisorName },
        ];
      } else {
        this.dataHeader = [
          { label: "Gestor", value: this.item.title },
          { label: "Oficina", value: this.$store.state.office },
          { label: "Gerente", value: this.$store.state.username },
        ];
      }
      this.getData(userId);
    },
    getData(userId) {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        dia: this.item.dayInit || 0,
        empresaUsu: localStorage.getItem("companyUser"),
        idOfi: this.$store.state.officeId,
        ...(userId && { idGestor: userId }),
      };
      this.request("gerente/clientes", body).then((response) => {
        if (response && response.estado === 200) {
          const data = response.data;
          this.data = [];
          if (Array.isArray(data) && data.length !== 0) {
            data.map((item) => {
              let model = {
                name: item.nombreCliente,
                creditAmount: this.getFormatMoney(item.montoCredito),
                lastQuota: item.ultimaCuota,
                payDate: item.fechaPago,
              };
              this.data.push(model);
            });
          }
        } else this.notifyError("Error al obtener los datos");
      });
    },
    monthName(month) {
      return this.getMonthName(month);
    },
  },
  created() {},
};
</script>
