<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Autorizar" @back="dialog = false"></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md q-mb-xl">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.title }}
          </p>
          <q-list>
            <q-item v-for="(item, index) in data" :key="index">
              <q-item-section>
                <q-item-label>{{ item.title }}</q-item-label>
                <q-item-label caption lines="1">{{ item.description }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div class="fixed fixed-bottom shadow-1">
          <div class="row shadow-8 bg-white">
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(3)"
                label="Rechazar"
                text-color="primary"
                flat
                color="white"
                class="full-width"
                icon="clear"
              ></q-btn>
            </div>
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(2)"
                label="Autorizar"
                unelevated
                color="primary"
                class="full-width"
                icon="done"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
/**
 * Modulo: Gestor de Cobros
 * Desc: Componente  para autorizar las proyecciones
 */
import Toolbar from "../common/Toolbar";
import HeaderData from "../common/HeaderData";
import ListActions from "../common/ListActions";
import Util from "../../mixin/Util.js";
export default {
  components: {
    Toolbar,
    HeaderData,
    ListActions,
  },
  mixins: [Util],
  data: () => ({
    dialog: false,
    data: [],
    dataHeader: [],

    emptyMessage: "No se han encontrado datos",
    item: {},
    emmitToParent: false,
  }),
  created() {},
  methods: {
    show(item) {
      this.dialog = true;
      this.item = Object.assign({}, item);
      this.data = [
        {
          title: "Proyección rubros",
          description: this.getFormatMoney(0),
        },
        {
          title: "Cartera vigente grupal",
          description: this.getFormatMoney(this.item.groupWallet),
        },
        {
          title: "Cartera vigente individual",
          description: this.getFormatMoney(this.item.individualWallet),
        },
        {
          title: "Cartera saneada",
          description: this.getFormatMoney(this.item.sanitizedWallet),
        },
        {
          title: "Activos extraordinarios",
          description: this.getFormatMoney(this.item.assetsExtraordianry),
        },
        {
          title: "Actividad adicional",
          description: this.item.activityAdditional,
        },
        {
          title: "Observaciones",
          description: this.item.observations,
        },
        {
          title: "Clientes",
          description: this.item.clients,
        },
      ];
      this.dataHeader[3].value = this.item.clients;
    },
    hideDialog() {},
    sendData() {},
    adviser() {},
    changeState(state) {
      let body = {
        idSem: this.item.week,
        estado: state,
        idNus: this.item.id,
      };

      this.request("gestor/asesor/proyeccion/estado", body).then((response) => {
        if (response) {
          if (response.estado == 1) {
            this.dialog = false;
            if (state == 2) this.notifySuccess("Planificación autorizada correctamente");
            else this.notifySuccess("Planificación rechazada correctamente");
            this.$emit("getData");
          } else {
            if (state == 2) this.notifyError("Error al autorizar la planificación");
            else this.notifyError("Error al rechazar la planificación");
          }
          this.emmitToParent = true;
        }
      });
    },
    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
  },
  mounted() {
    this.dataHeader = [
      {
        label: "Usuario",
        value: this.$store.state.username,
      },
      {
        label: "Coordinador",
        value: this.$store.state.supervisorName,
      },
      {
        label: "Agencia",
        value: this.$store.state.office,
      },
    ];
  },
};
</script>
