<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Gestores" @back="dialog = false"> </toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.title }}
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            :emptyMessage="emptyMessage"
            :data="data"
            @planning="planning"
          ></list-actions>
        </div>
      </q-card>
    </q-dialog>
    <planning ref="planning" @getData="getData(true)"></planning>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo cartera
 * Desc: Componente para ver los gestores de un supervisor
 * Rol: Supervisor
 */
import Toolbar from "../common/Toolbar";
import HeaderData from "../common/HeaderData";
import ListActions from "../common/ListActions";
import Planning from "src/components/collections-manager/Planning.vue";

// mixin
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    ListActions,
    Planning,
  },
  data: () => ({
    dialog: false,
    optionsLeft: [],
    dataHeader: [],
    data: [],
    emptyMessage: "No se han encontrado gestores",
    item: {},
    options: [],
    keyList: 0,
    emitToParent: false,
  }),
  created() {
    this.dataHeader = [
      { label: "Gerente", value: this.$store.state.username },
      {
        label: "Oficina",
        value: this.$store.state.office,
      },
    ];
  },
  methods: {
    show(item, options) {
      this.dialog = true;
      this.item = item;
      this.options = options;
      this.getData();
    },
    getData(emmitToParent) {
      let body = {
        idNus: this.item.id,
      };
      this.request("coordinador/gestor", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.data.length = 0;
            response.data.map((item) => {
              let model = {
                title: item.nombre,
                description: item.estado,
                id: item.id,
                stateId: item.idEstado,
                coodinatorId: item.id,
              };
              this.data.push(model);
            });
            this.fillOptionsSupervisor();
          } else this.notifyError("Error al obtener los datos ");
          if (emmitToParent) this.emitToParent = true;
        }
      });
    },
    fillOptionsSupervisor() {
      this.optionsLeft = [
        {
          title: "Planificaciones",
          icon: "fas fa-pen-nib",
          action: "planning",
          enable: this.isEnableOption(this.options, 1),
        },
      ];
      this.keyList++;
    },
    planning(item) {
      this.$refs.planning.show(item, this.options);
    },

    fillOptions() {
      this.keyList++;
    },
    hideDialog() {},

    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
  },
};
</script>
