<template>
  <div>
    <segmented-control
      @select="changeOption"
      @initSelect="(val) => (sectionOption = val)"
      v-if="hierarchyId == 2"
      class="q-mt-md"
    ></segmented-control>

    <header-data :data-header="dataHeader" class="q-mx-sm">
      <template v-slot:complement>
        <div class="q-mr-md q-ml-md">
          <q-input
            class="q-my-md"
            label="Mes y Año"
            v-model="date"
            readonly
            @click="openDate"
          >
            <template v-slot:prepend>
              <q-icon name="event" class="cursor-pointer"> </q-icon>
            </template>
          </q-input>
        </div>
      </template>
    </header-data>
    <div class="card q-pa-sm q-mt-md q-mb-xl q-mx-sm">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
        {{ sectionOption == "P" ? "Planificaciones Semanales" : "Gestores Supervisados" }}
      </p>
      <list-actions
        :key="keyList"
        :optionsLeft="optionsLeft"
        :emptyMessage="emptyMessage"
        :data="data"
        @autorize="autorize"
        @watch="watch"
        @update="update"
        @planning="planning"
      ></list-actions>
    </div>

    <q-fab
      v-if="sectionOption == 'P' || hierarchyId == 3"
      unelevated
      v-model="fab"
      class="fixed fixed-bottom-right q-ma-md add"
      label="Agregar"
      label-position="right"
      color="primary"
      icon="fas fa-plus-circle"
      direction="right"
      @click="openPlan"
    >
    </q-fab>

    <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
    <autorize ref="autorize"></autorize>
    <view-plan
      ref="viewPlanning"
      @hide="fab = false"
      @getData="getData(true)"
    ></view-plan>
    <planning ref="planning" @getData="changeOption(sectionOption)"></planning>
  </div>
</template>
<script>
/**
 * Modulo: Gestor de Cobros
 * Desc: Componente  para ver, agregar, editar las planificaciones semanales
 * Rol: Asesor
 */
import Toolbar from "src/components/common/Toolbar";
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import DateDialog from "src/components/common/DateDialog";
import Autorize from "src/components/collections-manager/Autorize.vue";
import Util from "src/mixin/Util";
import ViewPlan from "src/components/collections-manager/ViewPlan.vue";
import { parse } from "app/node_modules/vue-currency-input/src";
import SegmentedControl from "src/components/common/SegmentedControl.vue";
import Planning from "src/components/collections-manager/Planning.vue";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    ListActions,
    DateDialog,
    Autorize,
    ViewPlan,
    SegmentedControl,
    Planning,
  },
  data: () => ({
    fab: false,
    dialog: false,
    month: "",
    year: "",
    optionsMonth: [],
    optionsYear: [],
    dataHeader: [],
    optionsLeft: [],
    data: [],
    emptyMessage: "No se han encontrado planificaciones semanales",
    date: null,
    item: {},
    selectedDate: {},
    object: {
      clients: null,
      amountGroup: null,
      amountIndividual: null,
      amountSanitized: null,
      amountActive: null,
      activity: null,
      observations: null,
      week: null,
      date: null,
      month: null,
      year: null,
    },
    optionsWeek: [],
    options: [],
    keyList: 1,
    emitToParent: false,
    sectionOption: null,
    hierarchyId: parseInt(localStorage.getItem("hierarchyId")) || 0,
  }),
  created() {},
  methods: {
    show(options) {
      this.dialog = true;
      this.options = options;
      this.getData();
    },
    getData(emitEvent) {
      let body = {
        mes: this.selectedDate.month,
        anio: this.selectedDate.year,
      };
      this.data.length = 0;
      this.request("gestor/asesor/semana", body).then((response) => {
        if (response) {
          response.data.map((item) => {
            if (item.idProyeccion) {
              let model = {
                id: item.id,
                title: item.semana,
                week: item.numero,
                description: `Clientes: ${item.cliente}`,
                right: [item.estado, item.porcentaje],
                rubros: 0,
                amountGroup: item.montoCarteraGrupal,
                amountIndividual: item.montoCarteraIndividual,
                amountSanitized: item.montoCarteraSaneada,
                amountActive: item.montoActivos,
                activity: item.actividadAdicional,
                observations: item.observaciones,
                stateId: item.idEstado,
                state: item.estado,
                clients: item.cliente,
                month: this.selectedDate.month,
                year: this.selectedDate.year,
                proyectionId: item.idProyeccion,
              };
              //Si el estado es aprobado, oculta la opcion Editar
              if (item.idEstado == 2) model.hiddenOptionsLeft = [1];
              this.data.push(model);
            }
          });
          if (emitEvent) this.emitToParent = true;
          this.fillOptions();
        }
      });
    },

    fillOptions() {
      this.optionsLeft = [
        {
          title: "Ver",
          icon: "fas fa-eye",
          action: "watch",
          enable: this.isEnableOption(this.options, 13),
        },
        {
          title: "Editar",
          icon: "edit",
          action: "update",
          enable: this.isEnableOption(this.options, 25),
        },
      ];
      this.keyList++;
    },

    getDataSupervisor() {
      this.request("coordinador/gestor", {}).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.data.length = 0;
            response.data.map((item) => {
              let model = {
                title: item.nombre,
                description: item.estado,
                id: item.id,
                stateId: item.idEstado,
              };
              this.data.push(model);
            });
            this.fillOptionsSupervisor();
          } else this.notifyError("Error al obtener los datos ");
        }
      });
    },
    fillOptionsSupervisor() {
      this.optionsLeft = [
        {
          title: "Planificaciones",
          icon: "fas fa-pen-nib",
          action: "planning",
          enable: this.isEnableOption(this.options, 1),
        },
      ];
      this.keyList++;
    },
    planning(item) {
      this.$refs.planning.show(item, this.options);
    },

    addDays(date, days) {
      var result = new Date(date);
      result.setDate(result.getDate() + days);
      return result;
    },
    restDays(date, days) {
      var result = new Date(date);
      result.setDate(result.getDate() - days);
      return result;
    },
    monthName(month) {
      return this.getMonthName(month);
    },
    hideDialog() {},

    autorize(item) {
      this.$refs.autorize.show(item);
    },
    watch(item) {
      this.$refs.viewPlanning.show(item, "VIEW");
    },
    update(item) {
      this.$refs.viewPlanning.show(item, "UPDATE");
    },
    openPlan() {
      this.$refs.viewPlanning.show(null, "ADD");
    },
    management() {},
    dateSelected(month, year, fullDate) {
      this.selectedDate = {
        month: month.toString(),
        year: year.toString(),
      };
      if (this.date) {
        this.getData();
      }
      this.date = fullDate;
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
    changeOption(option) {
      if (option == "S") this.getDataSupervisor();
      else this.getData();
      this.sectionOption = option;
    },
  },
  mounted() {
    let hierearchyId = parseInt(localStorage.getItem("hierarchyId"));
    /**
     * this.dataHeader = [
      {
        label: hierearchyId == this.USER_LEVEL_2 ? "Coordinador" : "Gestor",
        value: this.$store.state.username,
      },
      {
        label: "Gerente",
        value: this.$store.state.supervisorName,
      },
    ];
     * 
     * 
     */
  },
};
</script>
