<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
      @hide="hideDialog"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Planificaciones" @back="dialog = false"> </toolbar>
        <header-data :data-header="dataHeader">
          <template v-slot:complement>
            <div class="q-mr-md q-ml-md">
              <q-input
                class="q-my-md"
                label="Mes y Año"
                v-model="date"
                readonly
                @click="openDate"
              >
                <template v-slot:prepend>
                  <q-icon name="event" class="cursor-pointer"> </q-icon>
                </template>
              </q-input>
            </div>
          </template>
        </header-data>
        <div class="card q-pa-sm q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            Planificaciones Semanales
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            :emptyMessage="emptyMessage"
            :data="data"
            @autorize="autorize"
            @watch="watch"
          ></list-actions>
        </div>
      </q-card>
    </q-dialog>
    <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
    <autorize
      ref="autorize"
      @getData="getData(currentMonth, curretnYear, true)"
    ></autorize>
    <view-plan
      ref="viewPlanning"
      @getData="getData(currentMonth, curretnYear, true)"
    ></view-plan>
  </div>
</template>
<script>
/**
 * Modulo: Gestor de Cobros
 * Desc: Componente  para ver, autorizar las planificaciones semanales
 * Rol: Supervisor
 */
import Toolbar from "src/components/common/Toolbar";
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import DateDialog from "src/components/common/DateDialog";
import Autorize from "src/components/collections-manager/Autorize.vue";
import ViewPlan from "src/components/collections-manager/ViewPlan.vue";
import Util from "src/mixin/Util";

export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    ListActions,
    DateDialog,
    Autorize,
    ViewPlan,
  },
  data: () => ({
    dialog: false,
    month: "",
    year: "",
    optionsMonth: [],
    optionsYear: [],
    dataHeader: [],
    optionsLeft: [],
    data: [],
    emptyMessage: "No se han encontrado planificaciones semanales",
    date: null,
    item: {},
    currentMonth: null,
    curretnYear: null,
    options: [],
    keyList: 1,
    emmitToParent: false,
  }),
  created() {},
  methods: {
    show(item, options) {
      this.dialog = true;
      this.options = options;
      this.item = item;
      this.dataHeader = [
        {
          ...(item.coordinatorId
            ? {
                label: "Coordinador",
              }
            : {
                label: "Gestor",
              }),
          value: item.title,
        },
      ];
      this.getData(this.currentMonth, this.curretnYear);
    },
    getData(month, year, emmitToParent) {
      let body = {
        mes: month,
        anio: year,
        estado: this.item.stateId,
        idNus: this.item.id,
      };
      this.data.length = 0;
      this.request("gestor/asesor/proyeccion", body).then((response) => {
        if (response) {
          response.data.map((item) => {
            if (item.idProyeccion) {
              let model = {
                id: item.id,
                week: item.numero,
                title: item.semana,
                description: `Clientes: ${item.cliente} `,
                right: [item.estado, item.porcentaje],
                rubros: 0,
                amountGroup: item.montoCarteraGrupal,
                amountIndividual: item.montoCarteraIndividual,
                amountSanitized: item.montoCarteraSaneada,
                amountActive: item.montoActivos,
                activity: item.actividadAdicional,
                observations: item.observaciones,
                stateId: item.idEstado,
                state: item.estado,
                clients: item.cliente,
                year: year,
                month: month,
                proyectionId: item.idProyeccion,
                manager: this.item.title,
                ...(this.item.coordinatorId && {
                  coordinatorId: this.item.coordinatorId,
                }),
                managerName: this.item.title,
                alwaysAutorize: item.ultimoPlan == "1" ? true : false,
              };
              //Si el estado es aprobado, oculta la opcion Autorizar
              if (item.idEstado == 2 && !model.alwaysAutorize)
                model.hiddenOptionsLeft = [0];
              else model.hiddenOptionsLeft = [1];
              this.data.push(model);
            }
          });
          this.fillOptions();
        }
        if (emmitToParent) this.emmitToParent = true;
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Autorizar",
          icon: "fas fa-check-circle",
          action: "autorize",
          enable: this.isEnableOption(this.options, 3),
        },
        {
          title: "Ver",
          icon: "fas fa-eye",
          action: "watch",
          enable: this.isEnableOption(this.options, 4),
        },
      ];
      this.keyList++;
    },
    hideDialog() {
      if (this.emmitToParent) {
        this.$emit("getData");
        this.emmitToParent = false;
      }
    },

    autorize(item) {
      this.$refs.viewPlanning.show(item, "APPROVE");
    },
    watch(item) {
      this.$refs.viewPlanning.show(item, "VIEW");
    },
    management() {},
    dateSelected(month, year, fullDate) {
      this.currentMonth = month;
      this.curretnYear = year;
      this.date = fullDate;
      if (this.dialog) this.getData(month, year);
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
  },
  mounted() {},
};
</script>
