<template>
  <div>
    <q-dialog
      @hide="hide"
      v-model="dialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          v-if="action == 'VIEW' || action == 'APPROVE'"
          :title="action == 'VIEW' ? 'Ver Planificación' : 'Autorizar Planificación'"
          @back="dialog = false"
          icon-close="close"
        />
        <toolbar
          v-else-if="action == 'UPDATE' || action == 'ADD'"
          :title="
            action == 'UPDATE' ? 'Editar Planificación' : 'Agregar Planificación'
          "
          @back="dialog = false"
          icon-close="close"
          button-title="ACEPTAR"
          @send="sendData"
        />

        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md q-mb-xl">
          <q-form action ref="form" class="q-pa-sm">
            <q-input
              v-model="object.clients"
              label="Clientes"
              :rules="[
                (val) => !!val || 'Ingrese clientes',
                (val) =>
                  parseInt((val + '').split(',').join('')) > 0 ||
                  'El valor ingresado no es válido',
              ]"
              color="grey-8"
              maxlength="30"
              type="number"
              :readonly="action == 'VIEW' || action == 'APPROVE'"
            />

            <q-input
              v-model="object.amountGroup"
              label="Cartera vigente grupal"
              :rules="[
                (val) => !!val || 'Ingrese cartera vigente grupal',
                (val) =>
                  parseInt((val + '').split(',').join('')) >= 0 ||
                  'El monto ingresado no es válido',
              ]"
              color="grey-8"
              maxlength="30"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              :readonly="action == 'VIEW' || action == 'APPROVE'"
            />

            <q-input
              v-model="object.amountIndividual"
              label="Cartera vigente individual"
              :rules="[
                (val) => !!val || 'Ingrese cartera vigente individual',
                (val) =>
                  parseInt((val + '').split(',').join('')) >= 0 ||
                  'El monto ingresado no es válido',
              ]"
              color="grey-8"
              maxlength="30"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              :readonly="action == 'VIEW' || action == 'APPROVE'"
            />

            <q-input
              v-model="object.amountSanitized"
              label="Cartera sandeada"
              :rules="[
                (val) => !!val || 'Ingrese cartera saneada',
                (val) =>
                  parseInt((val + '').split(',').join('')) >= 0 ||
                  'El monto ingresado no es válido',
              ]"
              color="grey-8"
              maxlength="30"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              :readonly="action == 'VIEW' || action == 'APPROVE'"
            />

            <q-input
              v-model="object.amountActive"
              label="Activos extraordinarios"
              :rules="[
                (val) => !!val || 'Ingrese activos extraordinarios',
                (val) =>
                  parseInt((val + '').split(',').join('')) >= 0 ||
                  'El monto ingresado no es válido',
              ]"
              color="grey-8"
              maxlength="30"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              :readonly="action == 'VIEW' || action == 'APPROVE'"
            />

            <q-input
              v-model="object.activity"
              label="Actividad adicional"
              :rules="[(val) => !!val || 'Ingrese actividad adicional']"
              color="grey-8"
              maxlength="100"
              :readonly="action == 'VIEW' || action == 'APPROVE'"
            />

            <q-input
              v-model="object.observations"
              label="Observaciones"
              :rules="[(val) => !!val || 'Ingrese observaciones']"
              color="grey-8"
              maxlength="150"
              :readonly="action == 'VIEW' || action == 'APPROVE'"
            />

            <q-input
              label="Mes y Año"
              :rules="[(val) => !!val || 'Seleccione mes y año']"
              v-model="object.date"
              readonly
              @click="openDate"
              :disable="action == 'VIEW' || action == 'APPROVE'"
            />

            <q-select
              v-model="object.week"
              :options="optionsWeek"
              label="Semana"
              :rules="[(val) => !!val || 'Seleccione semana']"
              :disable="!object.date"
              :readonly="action == 'VIEW' || action == 'APPROVE'"
            />
          </q-form>
        </div>
        <div class="fixed fixed-bottom shadow-1" v-if="action == 'APPROVE'">
          <div class="row shadow-8 bg-white">
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(3)"
                label="Rechazar"
                text-color="primary"
                flat
                color="white"
                class="full-width"
                icon="clear"
              ></q-btn>
            </div>
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(2)"
                label="Autorizar"
                unelevated
                color="primary"
                class="full-width"
                icon="done"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>
    <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
  </div>
</template>
<script>
/**
 * Modulo: Gestor de Cobros
 * Desc: Componente  para ver, autorizar, editar, agregar las planificaciones semanales
 * Rol: Asesor
 */
import Toolbar from "src/components/common/Toolbar";
import HeaderData from "src/components/common/HeaderData";
import Util from "src/mixin/Util";
import DateDialog from "src/components/common/DateDialog";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    DateDialog,
  },
  data: () => ({
    dialog: false,
    object: {
      clients: null,
      amountGroup: null,
      amountIndividual: null,
      amountSanitized: null,
      amountActive: null,
      activity: null,
      observations: null,
      week: null,
      date: null,
      month: null,
      year: null,
    },
    optionsWeek: [],
    dataHeader: [],
    action: null,
    emmitToParent: false,
  }),
  methods: {
    show(item, action) {
      this.dialog = true;

      this.action = action;
      let isAsesor = localStorage.getItem("supervisorId");
      let hierarchyId = parseInt(localStorage.getItem("hierarchyId")) || 0;
      if (isAsesor) {
        this.dataHeader = [
          {
            label: "Agencia",
            value: this.$store.state.office,
          },
          {
            label: "Gestor",
            value:
              hierarchyId == this.USER_LEVEL_2 && item && item.managerName
                ? item.managerName
                : this.$store.state.username,
          },
        ];
      } else {
        this.dataHeader = [
          {
            label: "Agencia",
            value: this.$store.state.office,
          },
          {
            label: item.coordinatorId ? "Coordinador" : "Gestor",
            value: item.manager,
          },

          {
            label: "Gerente",
            value: this.$store.state.username,
          },
        ];
      }

      if (item) {
        this.object = Object.assign({}, item);

        this.object.date = `${this.getMonthName(item.month)} - ${item.year}`;
        //  this.object.week = item.title;
        if (action == "UPDATE") this.getWeeks(item.month, item.year, true);
        else this.object.week = item.title;
      }
    },
    sendData() {
      this.$refs.form.validate().then((res) => {
        if (res) {
          let body = {
            mes: this.object.month,
            anio: this.object.year,
            idOfi: this.$store.state.officeId,
            clientes: this.object.clients,
            montoCarteraGrupal: this.formatToParse(this.object.amountGroup),
            montoCarteraIndividual: this.formatToParse(this.object.amountIndividual),
            montoCarteraSaneada: this.formatToParse(this.object.amountSanitized),
            montoActivos: this.formatToParse(this.object.amountActive),
            actividadAdicional: this.object.activity,
            observaciones: this.object.observations,
            idSemana: this.object.week.value,
          };
          let url;
          if (this.object.proyectionId) {
            url = "asesor/plan/upd";
            body.id = this.object.proyectionId;
            body.idEstado = 1;
          } else {
            url = "asesor/plan/add";
          }
          this.request(url, body).then((response) => {
            if (response) {
              if (response.estado == 1) {
                this.dialog = false;

                if (this.object.proyectionId)
                  this.notifySuccess("Planificación editada correctamente");
                else this.notifySuccess("Planificación agregada correctamente");
                this.clear();
                this.$emit("getData");
              } else this.notifyError(response.data);
            }
          });
        }
      });
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
    dateSelected(month, year, fullDate) {
      if (this.dialog) {
        this.object.week = null;
        this.object.month = month;
        this.object.year = year;
        this.object.date = fullDate;
        this.getWeeks(month, year);
      }
    },
    getWeeks(month, year, initValue) {
      let body = {
        mes: month,
        anio: year,
      };
      this.request("semanas", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.optionsWeek = [];
            response.data.map((item) => {
              let model = {
                value: item.id,
                label: item.semana,
              };
              this.optionsWeek.push(model);
            });
            if (initValue) {
              this.optionsWeek.map((elem) => {
                if (elem.value == this.object.id) {
                  this.object.week = elem;
                }
              });
            }
          } else this.notifyError(response.descripcion);
        }
      });
    },
    clear() {
      this.optionsWeek = [];
      this.object = {
        clients: null,
        amountGroup: null,
        amountIndividual: null,
        amountSanitized: null,
        amountActive: null,
        activity: null,
        observations: null,
        week: null,
        date: null,
        month: null,
        year: null,
      };

      this.$emit("hide");
    },
    changeState(state) {
      if (state == 3 && parseInt(this.object.stateId) == 3) {
        this.notifyInfo("La planificación ya esta rechazada");
        return;
      }
      let body = {
        id: this.object.proyectionId,
        estado: state,
      };

      this.request("gestor/asesor/proyeccion/estado", body).then((response) => {
        if (response) {
          if (response.estado == 1) {
            this.dialog = false;
            if (state == 2) this.notifySuccess("Planificación autorizada correctamente");
            else this.notifySuccess("Planificación rechazada correctamente");
            this.$emit("getData");
          } else {
            if (state == 2) this.notifyError("Error al autorizar la planificación");
            else this.notifyError("Error al rechazar la planificación");
          }
          this.emmitToParent = true;
        }
      });
    },
    hide() {
      this.clear();
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
  },
};
</script>
