<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          v-if="action == 'ADD' || action == 'UPDATE'"
          :title="
            action == 'ADD'
              ? 'Agregar Planificación Semanal'
              : 'Editar Planifación Semanal'
          "
          @back="closeDialog"
          icon-close="close"
          @send="sendData"
          button-title="ACEPTAR"
        ></toolbar>
        <toolbar
          v-else-if="action == 'VIEW' || action == 'APPROVE'"
          :title="
            action == 'VIEW' ? 'Ver Planificación Semanal' : 'Planificación Semanal'
          "
          @back="dialog = false"
          icon-close="close"
        ></toolbar>

        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md">
          <q-form ref="form" class="q-pa-sm">
            <q-input
              label="Mes y Año"
              v-model="object.date"
              :rules="[(val) => !!val || 'Seleccione mes y año']"
              readonly
              @click="openDate"
              :disable="action == 'UPDATE' || action == 'VIEW' || action == 'APPROVE'"
            />
            <q-select
              v-if="optionsWeek.length > 0 && action != 'APPROVE'"
              v-model="object.week"
              :options="optionsWeek"
              label="Semana"
              :rules="[(val) => !!val || 'Seleccione semana']"
              :disable="!object.date"
              :readonly="action == 'VIEW' || action == 'UPDATE'"
            />
            <q-input
              v-else
              :value="object.title"
              label="Semana"
              :rules="[(val) => !!val || 'Seleccione semana']"
              :disable="true"
              :readonly="action == 'VIEW' || action == 'APPROVE' || action == 'UPDATE'"
            />
            <q-input label="No. Grupos" :value="totalGroups" class="q-mb-md" readonly />

            <div class="text-center">
              <q-btn color="primary" label="Grupos" flat @click="groups"></q-btn>
            </div>
          </q-form>
        </div>
      </q-card>
      <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
      <weekly-plan-group
        ref="weeklyPlanGroup"
        :month="object.month + ''"
        :year="object.year + ''"
        :weekId="object.week ? object.week.value + '' : null"
        :title="object.week ? object.week.label + '' : null"
        @data="dataGroup"
        @getData="emitToParent = true"
      ></weekly-plan-group>
    </q-dialog>
    <q-dialog v-model="dialogChange" persistent>
      <q-card>
        <q-card-section>
          <div class="text-h6">Salir</div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          ¿Desea salir sin guardar cambios en grupos?
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn
            flat
            label="Aceptar"
            color="primary"
            @click="
              emitToParent = false;
              dialog = false;
              dialogChange = false;
              $emit('getData')
            "
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog v-model="dialogClose" full-width>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="red" text-color="white" />
          <span class="q-ml-sm">¿Desea salir sin guardar la planificación semanal?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn
            flat
            label="Aceptar"
            color="primary"
            @click="
              dialog = false;
              dialogClose = false;
            "
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo Facilitadores
 * Desc: Componente para editar, aprobar, agregar, ver ,resultados esperados de planificacion credito grupal
 * Rol: Asesor y Supervisor
 */
import WeeklyPlanGroup from "src/components/faciliting-monitoring/WeeklyPlanGroup";
import DateDialog from "src/components/common/DateDialog";
import Toolbar from "src/components/common/Toolbar";
import HeaderData from "src/components/common/HeaderData";
// mixin
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: {
    WeeklyPlanGroup,
    DateDialog,
    Toolbar,
    HeaderData,
  },
  data: () => ({
    dialog: false,
    dialogClose: false,
    action: null,
    dataHeader: [],
    object: {
      date: null,
      week: null,
      month: null,
      year: null,
      date: null,
    },
    optionsWeek: [],
    dataPlanGroup: [],
    options: [],
    totalGroups: 0,
    emitToParent: false,
    dialogChange: false,
  }),
  methods: {
    show(item, action, options) {
      this.dialog = true;
      this.action = action;
      this.options = options;
      this.dataHeader = [
        { label: "Facilitador", value: this.$store.state.username },
        { label: "Oficina", value: this.$store.state.office },
      ];
      if (item) {
        this.optionsWeek = [];
        this.object = Object.assign({}, item);
        this.object.date = `${this.getMonthName(item.month)} - ${item.year}`;
        this.object.week = {
          label: this.object.title,
          value: this.object.weekId,
        };
        this.totalGroups = item.total;
        console.log(this.object);
      }
    },
    sendData() {
      this.$refs.form.validate().then((res) => {
        if (res) {
          if (this.totalGroups == 0) {
            this.notifyError("Debe ingresar grupos");
            return;
          }
          let body = {
            anio: this.object.year,
            mes: this.object.month,
            idEstado: 1,
            idOfi: this.$store.state.officeId,
          };
          let url;
          if (this.action == "UPDATE") {
            url = "facilitador/plan/semanal/upd";
            body.idSem = this.object.weekId;
            body.id = this.object.id;
          } else {
            url = "facilitador/plan/semanal/add";
            body.idSem = this.object.week.value;
          }
          body.grupoPlanSemanal = this.formatDataPlanGroup(body.idSem);
          this.request(url, body).then((response) => {
            if (response) {
              if (response.estado == 1) {
                if (this.action == "UPDATE")
                  this.notifySuccess("Planificación editada corrctamente");
                else this.notifySuccess("Planificación agregada corrctamente");
                this.dialog = false;
                this.dataPlanGroup = [];
                this.emitToParent = false;
                this.$emit("getData");
                this.hide();
              } else if (response.estado == 2) {
                if (this.action == "UPDATE")
                  this.notifyError("Error al editar la planificación");
                else this.notifyError("Error al insertar la planificación");
              } else {
                this.notifyError(response.data);
              }
            }
          });
        }
      });
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
    dateSelected(month, year, fullDate) {
      if (this.dialog) {
        this.object.week = null;
        this.object.month = month;
        this.object.year = year;
        this.object.date = fullDate;
        if (this.action != "UPDATE" && this.action != "APPROVE" && this.action != "VIEW")
          this.getWeeks(month, year);
      }
    },
    getWeeks(month, year, initValue) {
      let body = {
        mes: month,
        anio: year,
      };
      this.request("semanas", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.optionsWeek = [];
            response.data.map((item) => {
              let model = {
                value: item.id,
                label: item.semana,
              };
              this.optionsWeek.push(model);
            });
            if (initValue) {
              this.optionsWeek.map((elem) => {
                if (elem.value == this.object.id) {
                  this.object.week = elem;
                }
              });
            }
          } else this.notifyError(response.descripcion);
        }
      });
    },
    dataGroup(data) {
      this.dataPlanGroup = data;
      this.totalGroups = this.dataPlanGroup.filter((item) => !item.isHidden).length;
    },
    groups() {
      this.$refs.form.validate().then((res) => {
        if (res) {
          this.$refs.weeklyPlanGroup.show(this.action, this.options, this.dataPlanGroup);
        }
      });
    },
    formatDataPlanGroup(idSem) {
      let temp = [];
      this.dataPlanGroup.map((item) => {
        let body = {
          idGrupo: item.groupId,
          idTipo: item.typeId,
          monto: this.formatToParse(item.amount),
          idEstatus: item.statusId,
          anio: this.object.year,
          mes: this.object.month,
          idOfi: this.$store.state.officeId,
          idSemana: idSem,
          fechaProxDes: item.dateProx,
          idEstado: item.stateId,
          id: item.id,
          eliminado: item.isHidden ? "S" : "N",
        };
        temp.push(body);
      });

      return temp;
    },
    hide() {
      if (this.dataPlanGroup.length > 0) {
        this.dialogClose = true;
      } else {
        this.object = {
          date: null,

          week: null,
          month: null,
          year: null,
          date: null,
        };
        this.totalGroups = 0;
      }
    },
    closeDialog() {
      if (this.emitToParent) {
        this.dialogChange = true;
      } else this.dialog = false;
    },
  },
};
</script>
