<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Asesores" @back="dialog = !dialog" icon-close="close"></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md q-mb-xl">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.title }}
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            emptyMessage="No se han encontrado asesores"
            :data="data"
            @faciliting="faciliting"
            @approve="approve"
            @view="view"
          ></list-actions>
        </div>
      </q-card>
    </q-dialog>
    <faciliting
      ref="faciliting"
      :month="month + ''"
      :year="year + ''"
      @getData="getData(true)"
    ></faciliting>
    <weekly-plan-group
      ref="weeklyPlanGroup"
      :month="month + ''"
      :year="year + ''"
      :weekId="item.weekId"
      :title="item.week"
      @getData="getData(true)"
      :asesor="null"
    ></weekly-plan-group>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo Facilitador
 * Desc: Componente para ver los asesores del supervisor
 * Rol: Asesor y Supervisor
 */
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import Toolbar from "src/components/common/Toolbar";
import Faciliting from "src/components/faciliting-monitoring/Faciliting.vue";
import WeeklyPlanGroup from "src/components/faciliting-monitoring/WeeklyPlanGroup";

// mixin
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: { Toolbar, HeaderData, ListActions, Faciliting, WeeklyPlanGroup },
  props: {
    month: String,
    year: String,
  },
  data: () => ({
    dialog: false,
    dataHeader: [],
    optionsLeft: [],
    data: [],
    item: {},
    options: [],
    keyList: 0,
    emitToParent: false,
  }),
  created() {
    this.dataHeader = [
      {
        label: "Oficina",
        value: this.$store.state.office,
      },
      {
        label: "Gerente Agencia",
        value: this.$store.state.username,
      },
    ];
  },
  methods: {
    show(item, options) {
      this.dialog = true;
      this.item = Object.assign({}, item);
      this.options = options;
      this.getData();
    },
    getData(emitToParent) {
      /**Al idJerarquia se le agreaga "1" para obtener los usuarios que tengan un nivel menor en cuanto a jerarquia
       *
       */
      let body = {
        mes: this.month,
        anio: this.year,
        idOfi: this.$store.state.officeId,
        idSemana: this.item.weekId,
        idJerarquia: parseInt(localStorage.getItem("hierarchyId")) + 1 || 0,
      };

      this.request("grupal/plan/facilitador", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            const data = response.data;
            this.data = [];
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let model = {
                  id: item.id,
                  title: item.nombre,
                  week: this.item.title,
                  description: item.estado,
                  weekId: this.item.weekId,
                  alwaysAutorize: this.item.alwaysAutorize,
                };
                /***
                 * Si el usuario no tiene alguna planificacion semanal oculta "Grupos" y "Ver Grupos"
                 * De lo contrario, si el usuario  tiene aluna planificacion en estado ingresada o reachazada oculta "Ver Grupos" si todas ya estan aprobadas oculta "Grupos"
                 *
                 * */
                if (item.semanaAsesor == 0) model.hiddenOptionsLeft = [1, 2];
                else if (item.semanaAsesor == 1) model.hiddenOptionsLeft = [2];
                else if (item.semanaAsesor == 2) model.hiddenOptionsLeft = [1];

                this.data.push(model);
              });
              if (emitToParent) this.emitToParent = true;
            }
            this.fillOptions();
          } else {
            this.notifyError("Error al obtener datos");
          }
        }
      });
    },
    fillOptions() {
      let hierarchyId = localStorage.getItem("hierarchyId") || 0;
      this.optionsLeft = [
        {
          title: "Facilitadores",
          icon: "group",
          action: "faciliting",
          enable: parseInt(hierarchyId) == 1 && this.isEnableOption(this.options, 48),
        },
        {
          title: "Grupos",
          icon: "group",
          action: "approve",
          enable: parseInt(hierarchyId) == 1 && this.isEnableOption(this.options, 20),
        },
        {
          title: "Ver Grupos",
          icon: "group",
          action: "view",
          enable: this.isEnableOption(this.options, 39),
        },
      ];
      this.keyList++;
    },
    monthName(month) {
      return this.getMonthName(month);
    },
    faciliting(item) {
      this.$refs.faciliting.show(item, this.options, true);
    },
    approve(item) {
      this.$refs.weeklyPlanGroup.show("APPROVE", this.options, [], item, true);
    },
    view(item) {
      this.$nextTick(function () {
        this.$refs.weeklyPlanGroup.show("VIEW", this.options, [], item, true);
      });
    },
    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
  },
};
</script>
