<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
      @hide="hideDialog"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          v-if="action == 'VIEW'"
          title="Ver Grupo"
          @back="dialog = !dialog"
          icon-close="close"
        ></toolbar>
        <toolbar
          v-else-if="action == 'UPDATE' || action == 'ADD'"
          :title="action == 'UPDATE' ? 'Editar Grupo' : 'Agregar Grupo'"
          @back="dialog = !dialog"
          button-title="ACEPTAR"
          icon-close="close"
          @send="sendData"
        ></toolbar>
        <toolbar
          v-else-if="action == 'APPROVE'"
          title="Autorizar Grupo"
          @back="dialog = !dialog"
          icon-close="close"
        ></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-sm q-pt-sm q-mb-sm">
            {{ title }}
          </p>
          <div class="q-mx-sm q-pb-md q-mb-md">
            <q-form ref="form">
              <q-select
                bottom-slots
                v-model="result.group"
                label="Grupo"
                :rules="[(val) => !!val || 'Seleccione grupo']"
                class="full-width"
                color="grey-8"
                :disable="isView"
                :options="optionsGroup"
                behavior="dialog"
              >
              </q-select>

              <q-select
                bottom-slots
                v-model="result.type"
                label="Tipo"
                :rules="[(val) => !!val || 'Seleccione tipo']"
                class="full-width"
                color="grey-8"
                :disable="isView"
                :options="optionsType"
              >
              </q-select>

              <q-input
                bottom-slots
                v-model="result.amount"
                label="Monto"
                :rules="[
                  (val) => !!val || 'Ingrese monto',
                  (val) =>
                    parseInt((val + '').split(',').join('')) >= 0 ||
                    'El monto no es válido',
                ]"
                maxlength="30"
                class="full-width"
                color="grey-8"
                v-currency="{ currency: null, locale: 'en' }"
                prefix="Q "
                :disable="isView"
              >
              </q-input>

              <q-select
                bottom-slots
                v-model="result.status"
                label="Estatus"
                :rules="[(val) => !!val || 'Seleccione estatus']"
                class="full-width"
                color="grey-8"
                :disable="isView"
                :options="optionsStatus"
                behavior="dialog"
              >
              </q-select>

              <q-input
                label="Fecha aproximada desembolso"
                readonly
                :rules="[(val) => !!val || 'Fecha aproximada desembolso']"
                @click="
                  if (!isView) $refs.qDateProxy.show();
                  if (!isView) result.date = $store.state.systemDate;
                "
                v-model="result.date"
              >
                <template v-slot:append>
                  <q-popup-proxy
                    ref="qDateProxy"
                    transition-show="scale"
                    transition-hide="scale"
                  >
                    <q-date v-model="result.date" :locale="localES" mask="DD/MM/YYYY">
                      <div class="row items-center justify-end">
                        <q-btn v-close-popup label="Cerrar" color="primary" flat />
                      </div>
                    </q-date>
                  </q-popup-proxy>
                </template>
              </q-input>
            </q-form>
          </div>
        </div>
        <div class="q-pa-md"></div>
        <div class="fixed fixed-bottom shadow-1" v-if="action == 'APPROVE'">
          <div class="row shadow-8 bg-white">
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(3)"
                label="Rechazar"
                text-color="primary"
                flat
                color="white"
                class="full-width"
                icon="clear"
              ></q-btn>
            </div>
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(2)"
                label="Aprobar"
                unelevated
                color="primary"
                class="full-width"
                icon="done"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/***
 * Modulo: Monitoreo Facilitadores
 * Desc: Componente para aprobar, editar, agregar  y ver grupos
 * Rol: Asesor, Supervisor y facilitador
 */
import HeaderData from "src/components/common/HeaderData";
import Toolbar from "src/components/common/Toolbar";

import Util from "src/mixin/Util";

export default {
  components: { Toolbar, HeaderData },
  mixins: [Util],
  props: {
    month: String,
    year: String,
    idWeek: String,
    title: String,
    planGroup: Array,
  },
  data() {
    return {
      dialog: false,
      dataHeader: [],
      optionsType: [],
      optionsStatus: [],
      optionsState: [],
      optionsGroup: [],
      result: {
        group: "",
        type: null,
        amount: null,
        status: null,
        date: null,
      },
      isView: false,
      localES: {
        days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
        daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
        months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
          "_"
        ),
        monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
        firstDayOfWeek: 1,
      },
      item: {},
      action: null,
      data: {},
      emitToParent: false,
    };
  },
  methods: {
    async show(item, action) {
      console.log(this.idWeek);
      this.dialog = true;
      this.item = Object.assign({}, item);
      this.action = action;
      if (item) {
        this.result.amount = item.amount;
        this.result.date = item.dateProx;
      }
      if (action == "VIEW" || action == "APPROVE") this.isView = true;
      let hierarchyId = parseInt(localStorage.getItem("hierarchyId"));
      this.dataHeader = [];
      if (hierarchyId == 1) {
        this.dataHeader.push({
          label: "Gerente Agencia",
          value: this.$store.state.username,
        });
      } else if (hierarchyId == 2) {
        this.dataHeader.push({
          label: "Asesor Grupal",
          value: this.$store.state.username,
        });
      } else {
        this.dataHeader.push({ label: "Facilitador", value: this.$store.state.username });
      }
      this.dataHeader.push({ label: "Oficina", value: this.$store.state.office });

      console.log("innit rquest");
      await this.getGroups(action);
      await Promise.all(
        [this.getTypes(action), , this.getStatus(action)],
        this.getState()
      );
      console.log("end reqeust");
    },
    getGroups(action) {
      if (this.optionsGroup.length == 0) {
        return this.request("grupos", {}).then(async (response) => {
          if (response) {
            if (response.estado == 200) {
              this.optionsGroup = [];
              if (!response.data) return;
              response.data.map((item) => {
                let model = {
                  value: item.codigo,
                  label: item.nombre,
                };
                this.optionsGroup.push(model);
              });
              if (action != "ADD")
                this.result.group = this.optionsGroup.filter(
                  (item) => item.value == this.item.groupId
                )[0];
            } else this.notifyError("Error al obtener los datos");

            return Promise.resolve();
          }
        });
      } else {
        if (action != "ADD")
          this.result.group = this.optionsGroup.filter(
            (item) => item.value == this.item.groupId
          )[0];
        return Promise.resolve();
      }
    },
    async getTypes(action) {
      if (this.optionsType.length == 0) {
        return this.request("tipoSeguimiento", {}).then((response) => {
          if (response) {
            if (response.estado == 200) {
              this.optionsType = [];
              if (!response.data) return;
              response.data.map((item) => {
                let model = {
                  value: item.id,
                  label: item.descripcion,
                };
                this.optionsType.push(model);
              });
              if (action != "ADD")
                this.result.type = this.optionsType.filter(
                  (item) => item.value == this.item.typeId
                )[0];
            } else this.notifyError("Error al obtener los datos");
            return Promise.resolve();
          }
        });
      } else {
        if (action != "ADD")
          this.result.type = this.optionsType.filter(
            (item) => item.value == this.item.typeId
          )[0];
        return Promise.resolve();
      }
    },

    getStatus(action) {
      if (this.optionsStatus.length == 0) {
        return this.request("grupos/estados", {}).then((response) => {
          if (response) {
            if (response.estado == 200) {
              if (!response.data) return;
              this.optionsStatus = [];
              response.data.map((item) => {
                let model = {
                  value: item.id,
                  label: item.descripcion,
                };
                this.optionsStatus.push(model);
              });
              if (action != "ADD")
                this.result.status = this.optionsStatus.filter(
                  (item) => item.value == this.item.statusId
                )[0];
            } else this.notifyError("Error al obtener los datos");
            return Promise.resolve();
          }
        });
      } else {
        if (action != "ADD")
          this.result.status = this.optionsStatus.filter(
            (item) => item.value == this.item.statusId
          )[0];
        return Promise.resolve();
      }
    },

    getState() {
      if (this.optionsState.length == 0) {
        return this.request("estados", {}).then((response) => {
          if (response) {
            if (response.estado == 200) {
              if (!response.data) return;
              this.optionsState = [];
              response.data.map((item) => {
                let model = {
                  value: item.id,
                  label: item.descripcion,
                };
                this.optionsState.push(model);
              });
            } else this.notifyError("Error al obtener los datos");
            return Promise.resolve();
          }
        });
      }
    },

    sendData() {
      this.$refs.form.validate().then((res) => {
        if (res) {
          if (
            this.planGroup.filter((item) => item.groupId == this.result.group.value)
              .length > 0
          ) {
            if (this.item) {
              if (this.item.groupId != this.result.group.value) {
                this.notifyError("Ya existe un registro con el grupo seleccionado");
                return;
              }
            } else {
              this.notifyError("Ya existe un registro con el grupo seleccionado");
              return;
            }
          }
          let body = {
            idGrupo: this.result.group.value,
            idTipo: this.result.type.value,
            monto: this.formatToParse(this.result.amount),
            idEstatus: this.result.status.value,
            anio: this.year,
            mes: this.month,
            idOfi: this.$store.state.officeId,
            idSemana: this.idWeek,
            fechaProxDes: this.result.date,
            estado: this.optionsState.filter((item) => item.value == 1)[0].label,
            idEstado: 1,
            id: this.action == "UPDATE" ? this.item.id : null,
            tempId: Date.now(),
          };
          body.nombre = this.result.group.label;

          this.data = body;

          this.result = {
            group: null,
            type: null,
            amount: null,
            status: null,
            date: null,
          };
          this.dialog = false;
          if (this.action == "UPDATE") {
            this.notifySuccess("Grupo actualizado ");
            this.$emit("data", this.data, this.item.tempId);
          } else {
            this.notifySuccess("Grupo agregado");
            this.$emit("data", this.data);
          }
        }
      });
    },
    changeState(stateId) {
      let body = {
        id: this.item.id,
        estado: stateId,
      };
      this.request("gestor/plan/grupo/estado", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.emitToParent = true;
            this.dialog = false;

            if (stateId == 2) this.notifySuccess("Autorizado correctamente");
            else if (stateId == 3) this.notifySuccess("Rechazado correctamente");

            this.$emit("getData");
          }
        } else {
          if (stateId == 2) this.notifyError("Error al autorizar ");
          else if (stateId == 3) this.notifyError("Error al rechazar");
        }
      });
    },
    hideDialog() {
      this.isView = false;
      this.result = {
        group: null,
        type: null,
        amount: null,
        status: null,
        date: null,
      };
      this.$emit("hide");
    },
  },
};
</script>
