<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          title="Facilitadores"
          @back="dialog = !dialog"
          icon-close="close"
        ></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md q-mb-xl">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.week }}
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            emptyMessage="No se han encontrado facilitadores"
            :data="data"
            @groups="groups"
          ></list-actions>
        </div>
      </q-card>
    </q-dialog>
    <weekly-plan-group
      ref="weeklyPlanGroup"
      :month="month + ''"
      :year="year + ''"
      :weekId="item.weekId"
      :title="item.week"
      @getData="getData(true)"
      :asesor="item.title"
    ></weekly-plan-group>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo facilitadores
 * Desc: Componente para ver los facilitadores de un asesor
 * Rol: Asesor y supervisor
 */
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import Toolbar from "src/components/common/Toolbar";
import WeeklyPlanGroup from "src/components/faciliting-monitoring/WeeklyPlanGroup";

// mixin
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: { Toolbar, HeaderData, ListActions, WeeklyPlanGroup },
  props: {
    month: String,
    year: String,
  },
  data: () => ({
    dialog: false,
    dataHeader: [],
    optionsLeft: [],
    data: [],
    item: {},
    options: [],
    keyList: 0,
    emitToParent: false,
    isSupervisor: false,
  }),
  created() {},
  methods: {
    show(item, options, isSupervisor) {
      this.dialog = true;
      this.isSupervisor = isSupervisor;
      this.item = Object.assign({}, item);
      this.options = options;
      this.getData();
      let hierarchyId = parseInt(localStorage.getItem("hierarchyId"));
      this.dataHeader = [
        {
          label: "Oficina",
          value: this.$store.state.office,
        },
        {
          label: "Asesor Grupal",
          ...(isSupervisor && hierarchyId == this.USER_LEVEL_1
            ? {
                value: item.title,
              }
            : {
                value: this.$store.state.username,
              }),
        },
        {
          label: "Gerente Agencia",
          ...(isSupervisor && hierarchyId == this.USER_LEVEL_1
            ? {
                value: this.$store.state.username,
              }
            : {
                value: this.$store.state.supervisorName,
              }),
        },
      ];
    },
    getData(emitToParent) {
      let body = {
        mes: this.month,
        anio: this.year,
        idOfi: this.$store.state.officeId,
        idSemana: this.item.weekId,
        idJerarquia: parseInt(localStorage.getItem("hierarchyId")) + 1 || 0,
        ...(this.isSupervisor && { idAsesor: this.item.id }),
      };

      this.request("asesor/plan/facilitador", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            const data = response.data;
            this.data = [];
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let model = {
                  id: item.id,
                  title: item.nombre,
                  description: item.estado,
                  alwaysAutorize: this.item.alwaysAutorize
                };
                this.data.push(model);
              });
              if (emitToParent) this.emitToParent = true;
            }
            this.fillOptions();
          } else {
            this.notifyError("Error al obtener datos");
          }
        }
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Grupos",
          icon: "group",
          action: "groups",
          enable: this.isEnableOption(this.options, 39),
        },
      ];
      this.keyList++;
    },
    monthName(month) {
      return this.getMonthName(month);
    },
    groups(item) {
      this.$refs.weeklyPlanGroup.show("APPROVE", this.options, [], item);
    },
    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
  },
};
</script>
