<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          v-if="action == 'ADD' || action == 'UPDATE'"
          :title="'Plan Semanal Grupos'"
          @back="hide"
          @send="sendData"
          button-title="ACEPTAR"
        ></toolbar>
        <toolbar
          v-else-if="action == 'VIEW' || action == 'APPROVE'"
          :title="'Plan Semanal Grupos'"
          @back="dialog = false"
        ></toolbar>

        <header-data :data-header="dataHeader"> </header-data>
        <div class="card q-pa-md q-mt-md" v-if="action == 'ADD'">
          <div class="q-mr-sm q-ml-sm">
            <q-form ref="form">
              <q-input
                label="Mes y Año"
                v-model="object.date"
                :rules="[(val) => !!val || 'Seleccione mes y año']"
                readonly
                @click="openDate"
                :disable="action == 'UPDATE' || action == 'VIEW' || action == 'APPROVE'"
              />
              <q-select
                v-model="object.week"
                :options="optionsWeek"
                label="Semana"
                :rules="[(val) => !!val || 'Seleccione semana']"
                :disable="!object.date"
                :readonly="action == 'VIEW' || action == 'UPDATE'"
              />
            </q-form>
          </div>
        </div>
        <!-- Creamos un form vacio para deje pasar en la validcion addUpdate -->
        <q-form v-else ref="form"></q-form>
        <div class="card q-pa-sm q-mt-md q-mb-xl">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ title || "Grupos" }}
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            :emptyMessage="messageEmpty"
            :data="data"
            @change="change"
            @see="view"
            @autorize="autorize"
            @drop="drop"
          ></list-actions>
        </div>
        <q-fab
          v-if="isAsesor && (this.action == 'ADD' || this.action == 'UPDATE')"
          unelevated
          v-model="fab"
          class="fixed fixed-bottom-right q-ma-md add"
          label="Agregar"
          label-position="right"
          color="primary"
          icon="fas fa-plus-circle"
          direction="right"
          @click="add"
        >
        </q-fab>
      </q-card>
    </q-dialog>
    <expected-result
      ref="expectedResult"
      :month="month"
      :year="year"
      :idWeek="weekId"
      :title="title"
      @data="dataExpectedResult"
      @hide="fab = false"
      :planGroup="data"
      @getData="getData(true)"
    ></expected-result>
    <q-dialog v-model="dialogDelete" full-width>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="red" text-color="white" />
          <span class="q-ml-sm">¿Desea eliminar el grupo: {{ item.title }}?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Aceptar" color="primary" @click="remove" />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
    <q-dialog v-model="dialogClose" full-width>
      <q-card>
        <q-card-section class="row items-center">
          <q-avatar icon="delete" color="red" text-color="white" />
          <span class="q-ml-sm">¿Desea salir sin guardar la planificación semanal?</span>
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn
            flat
            label="Aceptar"
            color="primary"
            @click="
              dialog = false;
              dialogClose = false;
              $emit('getData');
              emitToParent = false;
            "
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/***
 * Modulo: Monitoreo facilitadores
 * Desc: Componente para agregar, ver, actualizar, aprobar plan semanal grupos
 * Rol: Asesor y supervisor
 */
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import Toolbar from "src/components/common/Toolbar";
import ExpectedResult from "src/components/faciliting-monitoring/ExpectedResult";
import DateDialog from "src/components/common/DateDialog";
// mixin
import Util from "src/mixin/Util";
export default {
  props: {
    month: String,
    year: String,
    weekId: String,
    title: String,
    planId: String,
    asesor: String,
    optionSection: String,
  },
  mixins: [Util],
  components: { Toolbar, HeaderData, ListActions, ExpectedResult, DateDialog },
  data() {
    return {
      fab: false,
      keyList: 1,
      dialog: false,
      dialogClose: false,
      dataHeader: [],
      optionsLeft: [],
      options: [],
      data: [],
      messageEmpty: "No se encontraron grupos",
      optionsType: [],
      isAsesor: localStorage.getItem("supervisorId"),
      emitToParent: false,
      action: null,
      dialogDelete: false,
      item: {},
      userFaciliting: {},
      object: {
        year: 0,
        month: 0,
        week: null,
      },
      optionsWeek: [],
      hierarchyId: parseInt(localStorage.getItem("hierarchyId")) || 0,
    };
  },
  methods: {
    /**
     *  @action = VIEW, ADD, UPDATE, APPROVE
     *  @options = Opciones que están habilitadas para el usuario
     *  @PlanGroup = Datos que son almacenados localmente para despues ser insertados
     *  @User = Usuario Facilitador seleccionado (Cuando es Asesor Grupal)
     *  @isPlanAsesor Indica si el plan es de un asesor
     *
     */

    async show(action, options, planGroup, user, isPlanAsesor) {
      this.dialog = true;
      this.options = options;
      this.action = action;
      this.userFaciliting = user;
      this.data = Object.assign([], planGroup);
      this.keyList++;
      this.object = {
        year: 0,
        month: 0,
        week: null,
      };
      let hierarchyId = parseInt(localStorage.getItem("hierarchyId")) || 0;

      if (this.isAsesor && hierarchyId == this.USER_LEVEL_3) {
        this.dataHeader = [
          { label: "Facilitador", value: this.$store.state.username },
          { label: "Asesor Grupal", value: this.$store.state.supervisorName },
        ];
      } else {
        this.dataHeader = [
          {
            label: "Gerente Agencia",
            ...(hierarchyId == this.USER_LEVEL_1
              ? {
                  value: this.$store.state.username,
                }
              : {
                  value: this.$store.state.supervisorName,
                }),
          },
          {
            label: "Asesor Grupal",
            ...(hierarchyId == this.USER_LEVEL_1 || isPlanAsesor
              ? { value: this.asesor || this.userFaciliting.title }
              : { value: this.$store.state.username }),
          },
          {
            ...(this.userFaciliting &&
              !isPlanAsesor &&
              this.userFaciliting.title && {
                label: "Facilitador",
                value: this.userFaciliting.title,
              }),
          },
        ];
      }

      await this.getTypes();
      if (action != "ADD" && planGroup.length == 0) this.getData();
    },
    /**
     * @emitToParent  Indica si emite un evento al componente padre
     */
    getData(emitToParent) {
      let body = {
        idSemana: this.weekId,
        mes: this.month,
        anio: this.year,
        idOfi: this.$store.state.officeId,
      };
      let isAsesor = localStorage.getItem("supervisorId");
      let hierarchyId = parseInt(localStorage.getItem("hierarchyId")) || 0;
      let url = "";
      if (isAsesor && (hierarchyId == this.USER_LEVEL_3 || this.optionSection == "P"))
        url = "facilitador/plan/grupo";
      else {
        body.idFacilitador = this.userFaciliting.id;
        url = "grupal/plan/grupo";
      }

      this.request(url, body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            const data = response.data;
            this.data = [];
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let parseData = {
                  id: item.id,
                  title: item.nombre,
                  right: [this.getFormatMoney(item.monto), item.estado],
                  amount: item.monto,
                  statusId: item.idEstatus,
                  typeId: item.idTipo,
                  groupId: item.idGrupo,
                  dateProx: item.fechaProximoDes,
                  state: item.descripcion,
                  stateId: item.idEstado,
                  tempId: this.uuidv4(),
                };

                if (
                  this.optionsType.filter((item) => item.value == parseData.typeId)
                    .length > 0
                ) {
                  parseData.description = this.optionsType.filter(
                    (item) => item.value == parseData.typeId
                  )[0].label;
                }
                if (item.idEstado == 2) parseData.hiddenOptionsLeft = [0, 1];
                else parseData.hiddenOptionsLeft = [3];

                if (!this.userFaciliting.alwaysAutorize && item.idEstado == 2)
                  parseData.hiddenOptionsLeft.push(2);
                if (emitToParent) this.emitToParent = true;
                this.data.push(parseData);
              });
            }

            this.fillOptions();
          } else {
            this.notifyError("Error al obtener datos");
          }
        }
      });
    },
    sendData() {
      this.addUpdate();
    },
    update() {
      if (this.data.filter((item) => !item.isHidden).length == 0) {
        this.notifyError("Debe ingresar grupos");
        return;
      }
      let body = {
        anio: this.year,
        mes: this.month,
        idEstado: 1,
        idOfi: this.$store.state.officeId,
      };
      let url;

      url = "facilitador/plan/semanal/upd";
      body.idSem = this.weekId;
      body.id = this.planId;

      body.grupoPlanSemanal = this.formatDataPlanGroup(body.idSem);
      this.request(url, body).then((response) => {
        if (response) {
          if (response.estado == 1) {
            this.notifySuccess("Planificación editada corrctamente");

            this.dialog = false;
            this.data = [];
            this.emitToParent = false;
            this.$emit("getData");
            this.hide();
          } else if (response.estado == 2) {
            this.notifyError("Error al editar la planificación");
          } else {
            this.notifyError(response.data);
          }
        }
      });
    },
    //Actualiza o inserta el registro
    addUpdate() {
      this.$refs.form.validate().then((res) => {
        if (res) {
          if (this.data.filter((item) => !item.isHidden).length == 0) {
            this.notifyError("Debe ingresar grupos");
            return;
          }
          let body = {
            idEstado: 1,
            idOfi: this.$store.state.officeId,
          };
          let url;
          if (this.action == "UPDATE") {
            url = "facilitador/plan/semanal/upd";
            body.idSem = this.weekId;
            body.id = this.planId;
            body.anio = this.year;
            body.mes = this.month;
          } else {
            url = "facilitador/plan/semanal/add";
            body.idSem = this.object.week.value;
            body.anio = this.object.year;
            body.mes = this.object.month;
          }
          body.grupoPlanSemanal = this.formatDataPlanGroup(
            body.idSem,
            body.mes,
            body.anio
          );
          this.request(url, body).then((response) => {
            if (response) {
              if (response.estado == 1) {
                if (this.action == "UPDATE")
                  this.notifySuccess("Planificación editada corrctamente");
                else this.notifySuccess("Planificación agregada corrctamente");
                this.dialog = false;
                this.dataPlanGroup = [];
                this.emitToParent = false;
                this.$emit("getData");
                this.hide();
              } else if (response.estado == 2) {
                if (this.action == "UPDATE")
                  this.notifyError("Error al editar la planificación");
                else this.notifyError("Error al insertar la planificación");
              } else {
                this.notifyError(response.data);
              }
            }
          });
        }
      });
    },
    async getTypes() {
      if (this.optionsType.length == 0) {
        return this.request("tipoSeguimiento", {}).then((response) => {
          if (response) {
            if (response.estado == 200) {
              this.optionsType = [];
              if (!response.data) return;
              response.data.map((item) => {
                let model = {
                  value: item.codigo,
                  label: item.nombre,
                };
                this.optionsType.push(model);
              });
            } else this.notifyError("Error al obtener los datos");
            return Promise.resolve();
          }
        });
      } else {
        return Promise.resolve();
      }
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Editar",
          icon: "edit",
          action: "change",
          enable:
            this.isAsesor &&
            !this.userFaciliting.title &&
            this.isEnableOption(this.options, 16),
        },
        {
          title: "Eliminar",
          icon: "delete",
          action: "drop",
          enable:
            this.isAsesor &&
            !this.userFaciliting.title &&
            this.isEnableOption(this.options, 38),
        },
        {
          title: "Autorizar",
          icon: "check",
          action: "autorize",
          enable:
            (!this.isAsesor ||
              (this.getHierarchy() == this.USER_LEVEL_2 && this.optionSection != "P")) &&
            this.isEnableOption(this.options, 20),
        },
        {
          title: "Ver",
          icon: "visibility",
          action: "see",
          enable: this.isEnableOption(
            this.options,
            this.isAsesor && this.getHierarchy() == this.USER_LEVEL_1 ? 17 : 21
          ),
        },
      ];

      this.keyList++;
    },
    change(item) {
      this.$refs.expectedResult.show(item, "UPDATE");
    },
    add() {
      this.$refs.expectedResult.show(null, "ADD");
    },
    view(item) {
      this.$refs.expectedResult.show(item, "VIEW");
    },
    autorize(item) {
      this.$refs.expectedResult.show(item, "APPROVE");
    },
    drop(item) {
      this.dialogDelete = true;
      this.item = item;
    },
    remove() {
      this.data.map((item, index) => {
        if (item.tempId == this.item.tempId) {
          this.data[index].isHidden = true;
          this.notifySuccess("Grupo eliminado");
          this.dialogDelete = false;
          this.emitToParent = true;
          this.keyList++;
        }
      });
    },
    dataExpectedResult(item, tempId) {
      this.emitToParent = true;

      let parseData = {
        id: item.id,
        title: item.nombre,
        right: [this.getFormatMoney(item.monto), item.estado],
        amount: item.monto,
        statusId: item.idEstatus,
        typeId: item.idTipo,
        groupId: item.idGrupo,
        dateProx: item.fechaProxDes,
        stateId: item.idEstado,
        tempId: tempId ? tempId : item.tempId,
      };

      if (this.optionsType.filter((item) => item.value == parseData.typeId).length > 0) {
        parseData.description = this.optionsType.filter(
          (item) => item.value == parseData.typeId
        )[0].label;
      }

      if (item.idEstado == 2) parseData.hiddenOptionsLeft = [0, 1, 2];
      else parseData.hiddenOptionsLeft = [3];
      if (tempId) {
        this.data.map((item, index) => {
          if (item.tempId == tempId) this.data[index] = parseData;
        });
      } else {
        this.data.push(parseData);
      }

      this.fillOptions();
    },
    hide() {
      if (this.emitToParent) {
        this.dialogClose = true;
      } else {
        this.dialog = false;
      }
      this.$emit("hide");
    },
    uuidv4() {
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function (c) {
        var r = (Math.random() * 16) | 0,
          v = c == "x" ? r : (r & 0x3) | 0x8;
        return v.toString(16);
      });
    },
    /**
     * @idSem Id de la semana
     * @month Mes
     * @year Año
     *
     */
    formatDataPlanGroup(idSem, month, year) {
      let temp = [];
      this.data.map((item) => {
        let body = {
          idGrupo: item.groupId,
          idTipo: item.typeId,
          monto: this.formatToParse(item.amount),
          idEstatus: item.statusId,
          anio: year,
          mes: month,
          idOfi: this.$store.state.officeId,
          idSemana: idSem,
          fechaProxDes: item.dateProx,
          idEstado: item.stateId,
          id: item.id,
          eliminado: item.isHidden ? "S" : "N",
        };
        temp.push(body);
      });

      return temp;
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
    dateSelected(month, year, fullDate) {
      if (this.dialog) {
        this.object.week = null;
        this.object.month = month;
        this.object.year = year;
        this.object.date = fullDate;
        if (this.action != "UPDATE" && this.action != "APPROVE" && this.action != "VIEW")
          this.getWeeks(month, year);
      }
    },
    getWeeks(month, year, initValue) {
      let body = {
        mes: month,
        anio: year,
      };
      this.request("semanas", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.optionsWeek = [];
            response.data.map((item) => {
              let model = {
                value: item.id,
                label: item.semana,
              };
              this.optionsWeek.push(model);
            });
            if (initValue) {
              this.optionsWeek.map((elem) => {
                if (elem.value == this.object.id) {
                  this.object.week = elem;
                }
              });
            }
          } else this.notifyError(response.descripcion);
        }
      });
    },
  },
  created() {},
};
</script>
