<template>
  <div>
    <q-dialog
      v-model="dialog"
      @hide="closeDialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          v-if="action == 'ADD' || action == 'UPDATE'"
          :title="
            action == 'UPDATE'
              ? 'Editar Planificación Crédito Grupal'
              : 'Agregar Planificación Credito Grupal'
          "
          @back="dialog = false"
          button-title="ACEPTAR"
          icon-close="close"
          @send="sendData"
        >
        </toolbar>
        <toolbar
          v-else-if="action == 'VIEW' || action == 'APPROVE'"
          :title="
            action == 'VIEW'
              ? 'Ver Planificación Crédito Grupal'
              : 'Planificación Crédito Grupal'
          "
          @back="dialog = false"
          icon-close="close"
        ></toolbar>

        <toolbar
          v-else
          title="Resultados del Mes"
          @back="dialog = false"
          icon-close="close"
        ></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-mt-md q-mb-xl">
          <q-form action ref="form" class="q-pa-sm">
            <q-input
              label="Mes y año"
              v-model="plan.date"
              :rules="[(val) => !!val || 'Seleccione mes y año']"
              readonly
              @click="openDate"
              :disable="
                action == 'UPDATE' ||
                action == 'VIEW' ||
                action == 'APPROVE' ||
                action == 'RESULTS'
              "
              lazy-rules
            >
            </q-input>
            <q-input
              bottom-slots
              v-model="plan.ref"
              label="No. Grupos Refinanciados"
              :rules="[
                (val) => !!val || 'Ingrese no. de grupos refinanciados',
                (val) =>
                  parseInt((val + '').split(',').join('')) > -1 ||
                  'El valor debe ser mayor a cero',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en', precision: 0 }"
              :disable="action == 'VIEW' || action == 'APPROVE' || action == 'RESULTS'"
              lazy-rules
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="plan.new"
              label="No. Grupos Nuevos"
              :rules="[
                (val) => !!val || 'Ingrese no. de grupos nuevos',
                (val) =>
                  parseInt((val + '').split(',').join('')) > 0 ||
                  'El valor debe ser mayor a cero',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en', precision: 0 }"
              :disable="action == 'VIEW' || action == 'APPROVE' || action == 'RESULTS'"
              lazy-rules
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="plan.net"
              label="Colocación neta"
              :rules="[
                (val) => !!val || 'Ingrese colocación neta',
                (val) =>
                  parseInt((val + '').split(',').join('')) > 0 ||
                  'El monto debe ser mayor a cero',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              :disable="action == 'VIEW' || action == 'APPROVE' || action == 'RESULTS'"
              lazy-rules
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="plan.newClients"
              label="Clientes nuevos"
              :rules="[
                (val) => !!val || 'Ingrese clientes nuevos',
                (val) =>
                  parseInt((val + '').split(',').join('')) > 0 ||
                  'El valor debe ser mayor a cero',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en', precision: 0 }"
              :disable="action == 'VIEW' || action == 'APPROVE' || action == 'RESULTS'"
              lazy-rules
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="plan.walletBalance"
              label="Saldo cartera"
              :rules="[
                (val) => !!val || 'Ingrese saldo cartera',
                (val) =>
                  parseInt((val + '').split(',').join('')) > 0 ||
                  'El monto debe ser mayor a cero',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              :disable="action == 'VIEW' || action == 'APPROVE' || action == 'RESULTS'"
              lazy-rules
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="plan.growth"
              label="Crecimiento"
              :rules="[
                (val) => !!val || 'Ingrese crecimiento',
                (val) =>
                  parseInt((val + '').split(',').join('')) > 0 ||
                  'El monto debe ser mayor a cero',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              :disable="action == 'VIEW' || action == 'APPROVE' || action == 'RESULTS'"
              lazy-rules
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="plan.cer"
              label="CER-1"
              :rules="[
                (val) => !!val || 'Ingrese CER-1',
                (val) =>
                  parseInt((val + '').split(',').join('')) > 0 ||
                  'El valor debe ser mayor a cero',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en', precision: 0 }"
              prefix="% "
              :disable="action == 'VIEW' || action == 'APPROVE' || action == 'RESULTS'"
              lazy-rules
            >
            </q-input>
          </q-form>
        </div>
        <div class="fixed fixed-bottom shadow-1" v-if="action == 'APPROVE'">
          <div class="row shadow-8 bg-white">
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(3)"
                label="Rechazar"
                text-color="primary"
                flat
                color="white"
                class="full-width"
                icon="clear"
              ></q-btn>
            </div>
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(2)"
                label="Aprobar"
                unelevated
                color="primary"
                class="full-width"
                icon="done"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>
    <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
  </div>
</template>
<script>
/***
 * Modulo: Plan Facilitador
 * Desc: Componente para editar, aprobar, agregar, ver ,resultados esperados de planificacion credito grupal
 * Rol: Asesor y Supervisor
 */
import Toolbar from "src/components/common/Toolbar";
import HeaderData from "src/components/common/HeaderData";
import Util from "src/mixin/Util";
import DateDialog from "src/components/common/DateDialog";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    DateDialog,
  },
  data: () => ({
    dialog: false,
    dataHeader: [],
    plan: {
      ref: "",
      new: "",
      net: "",
      newClients: "",
      walletBalance: "",
      growth: "",
      cer: "",
      date: null,
      month: null,
      year: null,
    },
    action: null,
    hierarchyId: parseInt(localStorage.getItem("hierarchyId")) || 0,
  }),
  created() {},
  methods: {
    show(item, action, idUsu) {
      this.dialog = true;
      this.action = action;
      let isAsesor = localStorage.getItem("supervisorId");
      if (isAsesor && this.hierarchyId == this.USER_LEVEL_3) {
        this.dataHeader = [
          {
            label: "Facilitador",
            value: this.$store.state.username,
          },
          {
            label: "Agencia",
            value: this.$store.state.office,
          },
          {
            label: "Asesor Crédito",
            value: this.$store.state.supervisorName,
          },
        ];
      } else {
        this.dataHeader = [
          {
            label: "Facilitador",
            value: item.title,
          },
          {
            label: "Agencia",
            value: this.$store.state.office,
          },
          {
            ...(this.hierarchyId == this.USER_LEVEL_1
              ? { label: "Gerente Agencia", value: this.$store.state.username }
              : { label: "Asesor Crédito", value: this.$store.state.supervisorName }),
          },
        ];
      }
      if (action != "RESULTS") {
        if (item) {
          this.plan = Object.assign({}, item);
          this.plan.date = `${this.getMonthName(item.month)} - ${item.year}`;
        }
      } else {
        this.getData(idUsu, item);
      }
    },
    hideDialog() {},
    sendData() {
      this.$refs.form.validate().then((res) => {
        if (res) {
          let body = {
            anio: this.plan.year,
            mes: this.plan.month,
            idOfi: this.$store.state.officeId,
            idEstado: 1,
            ref: this.formatToParse(this.plan.ref),
            nuevos: this.formatToParse(this.plan.new),
            colocacionNeta: this.formatToParse(this.plan.net),
            clientesNuevos: this.formatToParse(this.plan.newClients),
            saldoCartera: this.formatToParse(this.plan.walletBalance),
            crecimineto: this.formatToParse(this.plan.growth),
            cer: this.formatToParse(this.plan.cer),
          };
          let url;
          if (this.action == "UPDATE") {
            body.id = this.plan.id;
            url = "facilitador/mes/upd";
          } else {
            url = "facilitador/mes/add";
          }
          this.request(url, body).then((response) => {
            if (response) {
              if (response.estado == 200) {
                if (this.action == "UPDATE")
                  this.notifySuccess("Planificación editada correctamente");
                else this.notifySuccess("Planificación agregada correctamente");
                this.dialog = false;
                this.closeDialog();
                this.$emit("getData");
              } else this.notifyError(response.mensaje);
            }
          });
        }
      });
    },
    getData(idUsu, plan) {
      let body = {
        mes: plan.month,
        anio: this.$store.state.systemDate.split("/")[2],
        idOfi: this.$store.state.officeId,
        empresaUsu: localStorage.getItem("companyUser"),
      };
      let isAsesor = localStorage.getItem("supervisorId");
      let url = "";
      if (isAsesor && this.hierarchyId == this.USER_LEVEL_3) {
        url = "facilitador/mes/resultado";
      } else {
        url = "facilitador/mes/resultado/supervisor";
        body.idFacilitador = idUsu;
      }
      this.request(url, body).then((response) => {
        if (response && response.estado === 200) {
          this.data = [];
          const data = response.data;
          if (Array.isArray(data) && data.length !== 0) {
            let item = data[0];
            this.plan = {
              ref: item.refinanciado,
              new: item.nuevos,
              net: item.colocacionNeta,
              newClients: item.clientesNuevos,
              walletBalance: item.saldoCartera,
              growth: item.crecimiento,
              cer: item.cer1,
              date: `${this.getMonthName(plan.month)} - ${plan.year}`,
              month: plan.month,
              year: plan.year,
            };
          }
        } else this.notifyError("Error al obtener los datos");
      });
    },
    dateSelected(month, year, fullDate) {
      this.plan.month = month;
      this.plan.year = year;
      this.plan.date = fullDate;
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
    changeState(id) {
      let body = {
        estado: id,
        id: this.plan.id,
      };
      this.request("facilitador/mes/upd/estado", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            if (id == 2) this.notifySuccess("Aprobada correctamente");
            else this.notifySuccess("Rechazada correctamente");
            this.dialog = false;
            this.$emit("getData", true);
          } else {
            if (id == 2) this.notifyError("Error al aprobar");
            else this.notifyError("Error al rechazar");
          }
        }
      });
    },
    closeDialog() {
      this.$emit("hide");
      this.plan = {
        ref: "",
        new: "",
        net: "",
        newClients: "",
        walletBalance: "",
        growth: "",
        cer: "",
        date: null,
        month: null,
        year: null,
      };
    },
  },
};
</script>
