<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Asesores" @back="dialog = !dialog" icon-close="close"></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md q-mb-xl">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.title }}
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            emptyMessage="No se han encontrado asesores"
            :data="data"
            @faciliting="faciliting"
            @view="view"
            @results="results"
            @autorize="autorize"
          ></list-actions>
        </div>
      </q-card>
    </q-dialog>
    <faciliting ref="faciliting" @getData="getData(true)"></faciliting>
    <add-faciliting-plan
      ref="addFacilitingPlan"
      @getData="getData(true)"
    ></add-faciliting-plan>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo Facilitador
 * Desc: Componente para ver los asesores del supervisor
 * Rol: Asesor y Supervisor
 */
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import Toolbar from "src/components/common/Toolbar";
import WeeklyPlanGroup from "src/components/faciliting-monitoring/WeeklyPlanGroup";
import Faciliting from "src/components/facilitating-plan/Faciliting.vue";
import AddFacilitingPlan from "src/components/facilitating-plan/AddFacilitingPlan.vue";
// mixin
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    ListActions,
    Faciliting,
    WeeklyPlanGroup,
    AddFacilitingPlan,
  },
  props: {},
  data: () => ({
    dialog: false,
    dataHeader: [],
    optionsLeft: [],
    data: [],
    item: {},
    options: [],
    keyList: 0,
    emitToParent: false,
  }),
  created() {
    this.dataHeader = [
      {
        label: "Oficina",
        value: this.$store.state.office,
      },
      {
        label: "Gerente Agencia",
        value: this.$store.state.username,
      },
    ];
  },
  methods: {
    show(item, options) {
      this.dialog = true;
      this.item = Object.assign({}, item);
      this.options = options;
      this.getData();
    },
    getData(emitToParent) {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        idOfi: this.$store.state.officeId,
      };

      this.request("plan/facilitador/asesores", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            const data = response.data;
            this.data = [];
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let model = {
                  id: item.id,
                  title: item.nombre,
                  description: item.estado,
                  month: this.item.month,
                  year: this.item.year,
                  idAdviser: item.id,
                    alwaysAutorize: this.item.alwaysAutorize,
                  ...(item.idPlan && {
                    plan: {
                      id: item.idPlan,
                      title: item.usuario,
                      description: item.estadoPlan,
                      month: body.mes,
                      year: body.anio,
                      ref: item.ref,
                      new: item.nuevos,
                      net: item.colocacionNeta,
                      newClients: item.clientesNuevos,
                      walletBalance: item.saldoCartera,
                      growth: item.crecimiento,
                      cer: item.cer,
                    },
                  }),
                };

                //Si no existe algun plan del asesor ocultamos "Autorizar , ver y resultados"
                if (!item.idPlan) model.hiddenOptionsLeft = [1, 2, 3];
                else if (item.idPlan) {
                  //Si el estado del plan del asesor es aprobado ocultamos "Autorizar" de lo contrario ocultamos "Ver"
                  if (item.idEstado == 2) {
                    model.hiddenOptionsLeft = [1];
                  } else {
                    model.hiddenOptionsLeft = [2];
                  }
                }

                if (item.facilitadores && item.facilitadores == 0) {
                  model.hiddenOptionsLeft.push(0);
                }

                this.data.push(model);
              });
              if (emitToParent) this.emitToParent = true;
            }
            this.fillOptions();
          } else {
            this.notifyError("Error al obtener datos");
          }
        }
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Facilitadores",
          icon: "group",
          action: "faciliting",
          enable: this.isEnableOption(this.options, 44),
        },
        {
          title: "Autorizar",
          icon: "check",
          action: "autorize",
          enable: this.isEnableOption(this.options, 42),
        },
        {
          title: "Ver",
          icon: "fas fa-eye",
          action: "view",
          enable: this.isEnableOption(this.options, 46),
        },
        {
          title: "Resultados",
          icon: "fas fa-check-circle",
          action: "results",
          enable: this.isEnableOption(this.options, 43),
        },
      ];
      this.keyList++;
    },
    monthName(month) {
      return this.getMonthName(month);
    },

    results(item) {
      this.$refs.addFacilitingPlan.show(item.plan, "RESULTS", item.id);
    },
    faciliting(item) {
      this.$refs.faciliting.show(item, this.options);
    },
    autorize(item) {
      this.$refs.addFacilitingPlan.show(item.plan, "APPROVE");
    },
    view(item) {
      this.$refs.addFacilitingPlan.show(item.plan, "VIEW");
    },

    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
  },
};
</script>
