<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          title="Facilitadores"
          @back="dialog = !dialog"
          icon-close="close"
        ></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md q-mb-xl">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.title }}
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            emptyMessage="No se han encontrado facilitadores"
            :data="data"
            @autorize="autorize"
            @results="results"
            @view="view"
          ></list-actions>
        </div>
        <add-faciliting-plan
          ref="addFacilitingPlan"
          @getData="getData"
        ></add-faciliting-plan>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
/***
 * Modulo: Plan Facilitador
 * Desc: Componente para ver los asesores del supervisor
 * Rol:  Supervisor
 */
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import Toolbar from "src/components/common/Toolbar";
import AddFacilitingPlan from "src/components/facilitating-plan/AddFacilitingPlan.vue";

// mixin
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    ListActions,
    AddFacilitingPlan,
  },
  props: {
    month: String,
    year: String,
  },
  data: () => ({
    dialog: false,
    dataHeader: [],
    optionsLeft: [],
    data: [],
    item: {},
    options: [],
    keyList: 0,
    emitToParent: false,
  }),
  created() {
    this.dataHeader = [
      {
        label: "Oficina",
        value: this.$store.state.office,
      },

      {
        label: "Gerente Agencia",
        value: this.$store.state.username,
      },
    ];
  },
  methods: {
    show(item, options) {
      this.dialog = true;
      this.item = Object.assign({}, item);
      this.options = options;
      this.getData();
      console.log(options);
    },
    getData(emitToParent) {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        idOfi: this.$store.state.officeId,
        ...(this.item.idAdviser && { idAsesor: this.item.idAdviser }),
      };

      this.request("facilitador/mes/supervisor/usuarios", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            const data = response.data;
            this.data = [];
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let model = {
                  id: item.id,
                  title: item.usuario,
                  description: item.estado,
                  month: body.mes,
                  year: body.anio,
                  ref: item.ref,
                  new: item.nuevos,
                  net: item.colocacionNeta,
                  newClients: item.clientesNuevos,
                  walletBalance: item.saldoCartera,
                  growth: item.crecimiento,
                  cer: item.cer,
                  id: item.id,
                };

                //Si el estado es autorizado, oculta la opcion autorizar
                if (!this.item.alwaysAutorize && item.idEstado == 2)
                  model.hiddenOptionsLeft = [0];
                else model.hiddenOptionsLeft = [1];

                this.data.push(model);
              });
              if (emitToParent) this.emitToParent = true;
            }
            this.fillOptions();
          } else {
            this.notifyError("Error al obtener datos");
          }
        }
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Autorizar",
          icon: "check",
          action: "autorize",
          enable: this.isEnableOption(this.options, 42),
        },
        {
          title: "Ver",
          icon: "fas fa-eye",
          action: "view",
          enable: this.isEnableOption(this.options, 46),
        },
        {
          title: "Resultados",
          icon: "fas fa-check-circle",
          action: "results",
          enable: this.isEnableOption(this.options, 43),
        },
      ];
      this.keyList++;
    },
    monthName(month) {
      return this.getMonthName(month);
    },
    autorize(item) {
      this.$refs.addFacilitingPlan.show(item, "APPROVE");
    },
    view(item) {
      this.$refs.addFacilitingPlan.show(item, "VIEW");
    },
    results(item) {
      this.$refs.addFacilitingPlan.show(item, "RESULTS", item.id);
    },
    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
  },
};
</script>
