<template>
  <div class="dialog-min">
    <div class="bg-header text-white q-pa-md fixed fixed-top" style="z-index: 11">
      <p class="text-h6 q-mb-none row">
        <span class="col"
          ><q-item-label lines="1">Bienvenido {{ $store.state.username }}</q-item-label>
        </span>
        <q-btn flat round dense icon="more_vert" class="q-mr-xs">
          <q-menu transition-show="jump-down" transition-hide="jump-up">
            <q-list style="min-width: 150px">
              <q-item clickable @click="modeView = 'day'" v-close-popup>
                <q-item-section>Día</q-item-section>
              </q-item>
              <q-item clickable @click="modeView = 'week'" v-close-popup>
                <q-item-section>Semana</q-item-section>
              </q-item>
              <q-item clickable @click="modeView = 'month'" v-close-popup>
                <q-item-section>Mes</q-item-section>
              </q-item>
              <q-separator></q-separator>
              <q-item
                clickable
                @click="$router.push({ name: 'Dashboard' })"
                v-close-popup
              >
                <q-item-section>Home</q-item-section>
              </q-item>
            </q-list>
          </q-menu>
        </q-btn>
      </p>
    </div>

    <div style="padding-top: 65px" v-if="modeView == 'month'">
      <q-date
        v-model="currentDate"
        minimal
        :locale="localES"
        flat
        class="full-width q-pa-none"
        :events="events"
        event-color="amber-6"
        color="red"
        @input="changeDate"
        @navigation="navigationDate"
      />

      <div class="q-pa-md">
        <div class="row">
          <div class="q-mr-sm" style="min-width: 28px">
            <p class="text-subtitle1 text-bold q-mt-sm q-mb-none q-pb-none">
              {{ currentDay }}
            </p>
            <p class="text-subtitle2 text-grey text-caption text-uppercase">
              {{ currentDayName }}
            </p>
          </div>
          <div
            class="col"
            v-if="
              activities.filter(
                (item) =>
                  item.day == parseInt(currentDay) &&
                  item.month == parseInt(currentDate.split('/')[1])
              ).length > 0
            "
          >
            <transition
              v-for="(item, index) in activities.filter(
                (item) =>
                  item.day == parseInt(currentDay) &&
                  item.month == parseInt(currentDate.split('/')[1])
              )"
              :key="index"
              appear
              enter-active-class="animated fadeInUp"
              leave-active-class="animated fadeOutUp"
            >
              <q-item
                clickable
                @click="openActivity(item, item.stateId == 2 ? 'VIEW' : 'UPDATE')"
                class="card card-item border-left q-mb-sm q-pt-sm"
              >
                <q-item-section>
                  <q-item-label lines="1">{{
                    item.nameClient || item.group
                  }}</q-item-label>
                  <q-item-label caption lines="2">{{ item.description }}</q-item-label>
                </q-item-section>

                <q-item-section side>
                  <q-item-label caption v-if="item.time">
                    <q-icon class="q-mr-sm" name="access_time" color="grey" />
                    {{ item.time }}
                  </q-item-label>
                  <q-item-label caption v-else>
                    <q-icon class="q-mr-sm" name="access_time" color="grey" />
                    Todo el día
                  </q-item-label>
                  <q-item-label caption>{{ item.placeShort }} </q-item-label>
                </q-item-section>
              </q-item>
            </transition>
          </div>
          <div v-else class="col-10 q-pt-lg">
            <p class="text-grey text-center">No se han encontrado actividades</p>
          </div>
        </div>
      </div>
    </div>
    <q-fab
      unelevated
      v-model="fab"
      class="fixed fixed-bottom-right q-ma-md add"
      label="Actividad"
      label-position="right"
      color="primary"
      icon="fas fa-pen"
      direction="right"
      @click="openActivity(null, 'ADD')"
    >
    </q-fab>

    <add-activity
      ref="addActivity"
      @hide="fab = false"
      @getData="getData"
      @validActivity="validActivity"
    ></add-activity>

    <transition
      v-if="modeView == 'day'"
      appear
      enter-active-class="animated fadeIn "
      leave-active-class="animated fadeOut "
    >
      <day
        ref="day"
        @changeDate="changeDateDay"
        :date="currentDate"
        :activities="activities"
        @openActivity="openActivity"
      ></day>
    </transition>
    <transition
      v-if="modeView == 'week'"
      appear
      enter-active-class="animated fadeIn "
      leave-active-class="animated fadeOut "
    >
      <weekly
        ref="weekly"
        :date="currentDate"
        :activities="activities"
        @getData="getData()"
        @changeDate="changeDateWeek"
        @openActivity="openActivity"
      ></weekly>
    </transition>
  </div>
</template>
<script>
/***
 * Modulo: Actividades
 * Path: activities/:id
 * Desc: Pagina principal del modulo actividades
 * Rol: Todos
 */
import { Swiper, SwiperSlide, directive } from "vue-awesome-swiper";
import Util from "../mixin/Util";
import "swiper/swiper-bundle.css";
import AddActivity from "src/components/activities/AddActivity.vue";
import Weekly from "src/components/activities/Weekly.vue";
import Day from "src/components/activities/Day.vue";
const crypto = require("crypto");
export default {
  mixins: [Util],
  components: {
    Swiper,
    SwiperSlide,
    AddActivity,
    Weekly,
    Day,
  },

  data: () => ({
    currentDate: null,
    events: [],
    localES: {
      days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
      daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
      months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
        "_"
      ),
      monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
      firstDayOfWeek: 1,
    },
    fab: false,
    currentDay: null,
    currentDayName: null,
    activities: [],
    modeView: "month",
  }),

  created() {
    this.currentDate = this.$store.state.systemDate.split("/").reverse().join("/");
    this.currentDay = this.currentDate.split("/")[2];
    this.currentDayName = this.localES.daysShort[new Date(this.currentDate).getDay()];
    this.getData();
  },

  methods: {
    previewMonth() {},
    nextMonth() {},
    openActivity(item, action) {
      this.$refs.addActivity.show(item, action);
    },
    getData() {
      let body = {
        mes: this.currentDate.split("/")[1],
        anio: this.currentDate.split("/")[0],
      };
      this.request("actividades/detalle", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.activities = [];
            this.events = [];

            response.data.map((item) => {
              this.activities.push({
                id: item.id,
                clientId: item.idCli,
                groupId: item.idGrupo,
                description: item.descripcion,
                day: parseInt(item.dia),
                month: parseInt(item.mes),
                year: parseInt(item.anio),
                date: `${this.formatTwoDigit(item.dia)}/${this.formatTwoDigit(
                  item.mes
                )}/${item.anio}`,
                time: item.hora,
                placeShort: item.descripcionLugarCorta,
                placeLarge: item.descripcionLugarLarga,
                group: item.grupo,
                client: item.cliente,
                nameClient: item.nombreCliente,
                description: item.descripcion,
                stateId: item.idEstado,
                documentId: item.idTipoIdentificacion,
              });
              if (parseInt(this.currentDate.split("/")[1]) == item.mes) {
                this.events.push(
                  `${this.currentDate.split("/")[0]}/${this.formatTwoDigit(
                    this.currentDate.split("/")[1]
                  )}/${this.formatTwoDigit(item.dia)}`
                );
              }

              if (this.$refs.weekly) this.$refs.weekly.getData(this.activities);

              if (this.$refs.day) this.$refs.day.getData(this.activities);
            });
          } else this.notifyError("Error al obtener los datos");
        }
      });
    },
    changeDate(value) {
      if (value) {
        let tempDate = value.split("/");
        this.currentDay = tempDate[2];
        this.currentDayName = this.localES.daysShort[new Date(value).getDay()];
      }
    },
    changeDateWeek(value, viewDiferentMonth) {
      this.setDateValues(value);
      if (viewDiferentMonth) this.getData();
    },
    changeDateDay(value) {
      this.setDateValues(value);
    },
    setDateValues(value) {
      this.currentDate = `${value.getFullYear()}/${this.formatTwoDigit(
        value.getMonth() + 1
      )}/${this.formatTwoDigit(value.getDate())}`;
      this.currentDay = value.getDate();
      this.currentDayName = this.localES.daysShort[value.getDay()];
    },
    navigationDate(value) {
      this.currentDate = `${value.year}/${this.formatTwoDigit(
        value.month
      )}/${this.formatTwoDigit(this.currentDay)}`;
      this.currentDayName = this.localES.daysShort[new Date(this.currentDate).getDay()];
      this.getData();
    },
    validActivity(day, month, year, time) {
      let flag = false;
      this.activities.map((item) => {
        if (
          day == item.day &&
          month == item.month &&
          year == item.year &&
          time == item.time
        )
          flag = true;
      });
      if (!flag) this.$refs.addActivity.sendData();
      else this.$refs.addActivity.exitsActivity();
    },
  },
};
</script>
<style scoped lang="sass">
.border-left
  border-left: 5px solid #f44336

.q-date__view
  height: 100px !important
</style>
<style lang="sass">
.add .q-btn__wrapper
  padding: 12px 16px !important
  min-height: 20px !important

.card-item
  box-shadow: none !important
  border: 1px solid #eaeaea
  padding: 16px 8px
</style>
