<template>
  <div class="q-mt-big-card dialog-min">
    <toolbar-big> </toolbar-big>
    <segmented-control
      @select="changeOption"
      @initSelect="(val) => (optionSection = val)"
      label1="Recuperación"
      label2="Planificaciones"
    ></segmented-control>
    <header-data
      class="q-ml-sm q-mr-sm q-mt-none"
      :data-header="dataHeader"
      v-if="optionSection == 'P'"
    ></header-data>
    <div class="card q-pa-sm q-ma-sm q-mt-md" v-if="optionSection == 'P'">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
        Recuperación {{ monthName(item[1]) }} {{ item[2] }}
      </p>
      <q-list>
        <q-item v-for="(item, index) in data" :key="index" class="q-mb-md">
          <q-item-section>
            <q-item-label>{{ item.title }}</q-item-label>
            <q-item-label caption lines="1">{{ item.description }}</q-item-label>
          </q-item-section>
          <q-item-section v-if="item.right" side>
            <q-item-label caption v-for="(element, index) in item.right" :key="index">{{
              element
            }}</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </div>

    <planning-adviser v-else ref="planningAdviser" @getData="getData"></planning-adviser>
  </div>
</template>
<script>
/***
 * Modulo: Gestor de cobros
 * Path: collections-manager/:id
 * Desc: Pagina principal del modulo gestor de cobros
 * Rol: Gestor
 */
import HeaderData from "src/components/common/HeaderData";
import PlanningAdviser from "src/components/collections-manager/PlanningAdviser.vue";
import ToolbarBig from "src/components/common/ToolbarBig";
import SegmentedControl from "src/components/common/SegmentedControl.vue";
// Util
import Util from "src/mixin/Util";

export default {
  mixins: [Util],
  components: {
    HeaderData,
    PlanningAdviser,
    ToolbarBig,
    SegmentedControl,
  },

  data: () => ({
    dataHeader: [],
    data: [],
    messageEmpty: "No se han encontrado gestores supervisados",
    item: [],
    options: [],
    optionSection: "P",
  }),
  methods: {
    getOptions() {
      let body = {
        idRol: this.$store.state.rolId,
        idMod: this.$route.params.id,
      };
      this.request("rolPermisos/permisos", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.options = response.data;
            this.getData();
          } else this.notifyError(response.descripcion);
        }
      });
    },
    getData() {
      let date = this.$store.state.systemDate.split("/");

      // set date into model data 'item'
      this.item = date;

      let body = {
        mes: date[1],
        anio: date[2],
      };
      this.request("gestor/asesor/mes", body).then((response) => {
        if (response) {
          if (response.estado === 200) {
            const data = response.data;
            this.data = [];
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item, index) => {
                item.nombre == "Clientes" ? (item = null) : item;
                if (item) {
                  let meta = item.meta == "null" ? (item.meta = 0) : item.meta;

                  const parseData = {
                    title: item.nombre,
                    description: `Meta : ${this.getFormatMoney(meta)}`,
                    right: [
                      `% ${item.porcentaje}`,
                      `Recuperación: ${this.getFormatMoney(item.actual)}`,
                    ],
                  };
                  this.data.push(parseData);
                }
              });
            }
          } else this.notifyError("Error al obtener los datos");
        }
      });
    },
    enableOption(id) {
      return this.isEnableOption(this.options, id);
    },
    monthName(month) {
      return this.getMonthName(month);
    },
    close() {
      console.log("close action");
    },
    planning() {
      this.$refs.planningAdviser.show(this.options);
    },
    sendMessage() {
      console.log("send message");
    },
    changeOption(option) {
      console.log(option);
      this.optionSection = option;
      this.$nextTick(() => {
        if (option == "S") this.$refs.planningAdviser.show(this.options);
        else this.getData();
      });
    },
  },
  created() {
    this.getOptions();

    this.dataHeader = [
      {
        label: "Gerente Agencia",
        value: this.$store.state.supervisorName,
      },
    ];
  },
};
</script>
