<template>
  <div class="q-mt-big-card dialog-min">
    <toolbar-big> </toolbar-big>
    <div class="card q-pa-sm q-ma-sm">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
        Coordinadores Supervisados
      </p>
      <list-actions
        :key="keyList"
        :optionsLeft="optionsLeft"
        :emptyMessage="messageEmpty"
        :data="data"
        @close="close"
        @managers="managers"
        @sendMessage="sendMessage"
        @planning="planning"
      ></list-actions>
    </div>
    <managers ref="managers" @getData="getData"></managers>
    <planning ref="planning" @getData="getData"></planning>
  </div>
</template>
<script>
/***
 * Modulo: Gestor de cobros
 * Path: collections-manager/:id
 * Desc: Pagina principal del modulo gestor de cobros
 * Rol: Supervisor
 */
import Managers from "src/components/collections-manager/Managers.vue";
import ListActions from "../components/common/ListActions";
import Planning from "src/components/collections-manager/Planning.vue";
import DateDialog from "src/components/common/DateDialog";
import ToolbarBig from "src/components/common/ToolbarBig";
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: {
    ListActions,
    Managers,
    DateDialog,
    ToolbarBig,
    Planning,
  },
  data: () => ({
    optionsLeft: [],
    data: [],
    messageEmpty: "No se han encontrado gestores supervisados",
    date: null,
    keyList: 1,
    options: [],
  }),
  created() {
    this.getOptions();
  },
  methods: {
    getOptions() {
      let body = {
        idRol: this.$store.state.rolId,
        idMod: this.$route.params.id,
      };
      this.request("rolPermisos/permisos", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.options = response.data;
            this.getData();
          } else this.notifyError(response.descripcion);
        }
      });
    },
    getData() {
      let body = {
        idOfi: this.$store.state.officeId,
      };
      this.request("gerente/coordinador", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.data.length = 0;
            response.data.map((item) => {
              let model = {
                title: item.nombre,
                description: item.estado,
                id: item.id,
                stateId: item.idEstado,
                coordinatorId: item.id,
              };

              model.hiddenOptionsLeft = [];
              if (item.planCoordinador == 0) model.hiddenOptionsLeft.push(1);

              if (item.gestores == 0) model.hiddenOptionsLeft.push(0);

              this.data.push(model);
            });
            this.fillOptions();
          } else this.notifyError("Error al obtener los datos ");
        }
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Gestores",
          icon: "fas fa-users",
          action: "managers",
          enable: this.isEnableOption(this.options, 52),
        },
        {
          title: "Planificaciones",
          icon: "fas fa-pen-nib",
          action: "planning",
          enable: this.isEnableOption(this.options, 1),
        },
        {
          title: "Enviar mensaje",
          icon: "fas fa-paper-plane",
          action: "sendMessage",
          enable: this.isEnableOption(this.options, 2) && false,
        },
      ];
      this.keyList++;
    },
    close() {
      console.log("close action");
    },
    managers(item) {
      this.$refs.managers.show(item, this.options);
    },
    planning(item) {
      this.$refs.planning.show(item, this.options);
    },
    sendMessage() {
      console.log("send message");
    },
    dateSelected(month, year, fullDate) {
      console.log(month, year);
      this.date = fullDate;
    },
  },
};
</script>
