<template>
  <div class="q-mt-big-card dialog-min">
    <toolbar-big> </toolbar-big>
    <segmented-control
      @select="changeOption"
      @initSelect="(val) => (optionSection = val)"
      v-if="hierarchyId == 2"
    ></segmented-control>
    <div class="card q-pa-sm q-ma-sm">
      <q-input
        v-model="year"
        label="Año"
        class="q-mx-md q-mb-md"
        @click="$refs.qDateProxy.show()"
      >
        <template v-slot:append>
          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
            <q-date
              style="width: 100%"
              mask="YYYY"
              :emit-immediately="true"
              v-model="year"
              minimal
              default-view="Years"
              @input="
                changeOption(optionSection);
                $refs.qDateProxy.hide();
              "
            >
            </q-date>
          </q-popup-proxy>
        </template>
      </q-input>
    </div>
    <div class="card q-pa-sm q-ma-sm">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
        Proyecciones Mensuales
      </p>

      <list-actions
        :key="keyList"
        :optionsLeft="optionsLeft"
        emptyMessage="No se han encontrado proyecciones mensuales"
        :data="data"
        @results="results"
        @change="changeProjection"
        @view="viewProjecttion"
        @close="close"
        @projection="projection"
      ></list-actions>
    </div>
    <q-fab
      unelevated
      v-model="fab"
      class="fixed fixed-bottom-right q-ma-md add"
      label="Agregar"
      label-position="right"
      color="primary"
      icon="fas fa-plus-circle"
      direction="right"
      @click="showAddProjection"
      v-if="enableItem(12) && (optionSection == 'P' || hierarchyId == 3)"
    >
    </q-fab>
    <add-projection
      ref="addProjection"
      @hide="fab = false"
      @getData="changeOption(optionSection)"
    ></add-projection>
    <expected-results-month ref="propsExpectedResultsMonth"></expected-results-month>
    <monthly-closure
      ref="monthlyClosure"
      @getData="changeOption(optionSection)"
    ></monthly-closure>
    <monthly-advisors-projection
      ref="monthlyAdvisorsProjection"
      @getData="changeOption(optionSection)"
    ></monthly-advisors-projection>
  </div>
</template>
<script>
/***
 * Modulo: Planificador de creditos
 * Path: credit-planner/:id
 * Desc: Pagina principal del modulo Planificador de credtios
 * Rol: Asesor
 */
import ToolbarBig from "src/components/common/ToolbarBig";
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import AddProjection from "src/components/credit-planner/AddProjection.vue";
import Util from "src/mixin/Util";
import ExpectedResultsMonth from "src/components/credit-planner/ExpectedResultsMonth.vue";
import SegmentedControl from "src/components/common/SegmentedControl.vue";
import MonthlyAdvisorsProjection from "src/components/credit-planner/MonthlyAdvisorsProjection.vue";
import MonthlyClosure from "src/components/credit-planner/MonthlyClosure.vue";

export default {
  mixins: [Util],
  components: {
    HeaderData,
    ListActions,
    AddProjection,
    ExpectedResultsMonth,
    ToolbarBig,
    SegmentedControl,
    MonthlyAdvisorsProjection,
    MonthlyClosure,
  },
  data: () => ({
    keyList: 0,
    dialog: false,
    dataHeader: [],
    loading: null,
    data: [],
    emptyMessage: "No se han encontrado proyecciones",
    options: [],
    optionsLeft: [],
    fab: false,
    optionSection: null,
    hierarchyId: parseInt(localStorage.getItem("hierarchyId")) || 0,
    year: null,
  }),
  created() {
    this.year = this.$store.state.systemDate.split("/")[2];
    this.loading = this.$q.loading;
    this.getOptions();
  },
  methods: {
    getOptions() {
      let body = {
        idRol: this.$store.state.rolId,
        idMod: this.$route.params.id,
      };
      this.request("rolPermisos/permisos", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.options = response.data;
            this.getData();
          } else this.notifyError(response.descripcion);
        }
      });
    },
    getData() {
      let body = {
        idNus: this.$store.state.supervisorId,
        anio: this.year,
        idOfi: this.$store.state.officeId,
      };
      this.request("asesor/cartera/mes", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.data.length = 0;
            response.data.map((item) => {
              let model = {
                id: item.id,
                title: this.getMonthName(item.mes).concat(" ", item.anio),
                description: item.estado,
                month: item.mes,
                year: item.anio,
                noClients: item.noClientesVencen,
                amountOvercome: item.otorgadoClientesVencen,
                renumberingA: item.recuperacionCapital,
                increaseB: item.crecimientoEsperado,
                estimateC: item.estimacionCantidadAnticipada,
                reductionD: item.reduccionBrecha,
                placement: item.colocacionNeta,
                stateId: item.idEstado,
              };
              //hiddenOptionsLeft: array con el indice de las opciones de la izquierda que van a estar ocultas

              //No puede editar si tiene el mes cerrado y estado aprobado
              if (item.idEstadoMes == 2 || item.idEstado == 2)
                model.hiddenOptionsLeft = [1];
              else model.hiddenOptionsLeft = [2];

              this.data.push(model);
            });

            this.fillOptions();
          } else this.notifyError("Error al obtener los datos");
        }
      });
    },
    getDataSupervisor() {
      let body = {
        anio: this.year,
      };
      this.request("gestor/cartera/mes", body).then((response) => {
        if (response) {
          this.data.length = 0;
          if (response.estado == 200) {
            response.data.map((item) => {
              let model = {
                title: this.getMonthName(item.mes).concat(" ", item.anio),
                description: item.estado,
                month: item.mes,
                year: item.anio,
                stateId: item.idEstado,
                id: item.id,
                  alwaysAutorize: item.ultimoPlan == "1" ? true : false,
              };
              //Estado cerrado
              if (item.idEstado == 2) model.hiddenOptionsLeft = [0];
              this.data.push(model);
            });
            this.fillOptionsSupervisor();
          } else {
            this.notifyError("Error al obtener los datos");
          }
        }
      });
    },
    fillOptionsSupervisor() {
      this.optionsLeft = [
        {
          title: "Cierre",
          icon: "fas fa-times-circle",
          action: "close",
          enable: this.isEnableOption(this.options, 6),
        },
        {
          title: "Facilitadores",
          icon: "fas fa-users",
          action: "projection",
          enable: this.isEnableOption(this.options, 8),
        },
      ];
      this.keyList++;
    },
    enableItem(id) {
      return this.isEnableOption(this.options, id);
    },
    show() {
      this.dialog = true;
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "R. esperados",
          icon: "fas fa-check",
          action: "results",
          enable: this.isEnableOption(this.options, 18),
        },
        {
          title: "Editar",
          icon: "edit",
          action: "change",
          enable: this.isEnableOption(this.options, 23),
        },
        {
          title: "Ver",
          icon: "visibility",
          action: "view",
          enable: this.isEnableOption(this.options, 24),
        },
      ];
      this.keyList++;
    },
    hideDialog() {},
    sendData() {},
    adviser() {},

    viewProjecttion(item) {
      this.$refs.addProjection.show(item, "VIEW");
    },

    changeProjection(item) {
      this.$refs.addProjection.show(item, "UPDATE");
    },

    showAddProjection() {
      this.$refs.addProjection.show(null, "ADD");
    },
    results(item) {
      this.$refs.propsExpectedResultsMonth.show(item);
    },
    close(item) {
      this.$refs.monthlyClosure.show(item);
    },
    projection(item) {
      this.$refs.monthlyAdvisorsProjection.show(item, this.options);
    },
    changeOption(option) {
      if (option == "S") this.getDataSupervisor();
      else this.getData();
      this.optionSection = option;
    },
  },
};
</script>
