<template>
  <div class="q-mt-big-card dialog-min">
    <toolbar-big> </toolbar-big>
    <div class="card q-pa-sm q-ma-sm">
      <q-input
        v-model="year"
        label="Año"
        class="q-mx-md q-mb-md"
        @click="$refs.qDateProxy.show()"
      >
        <template v-slot:append>
          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
            <q-date
              style="width: 100%"
              mask="YYYY"
              :emit-immediately="true"
              v-model="year"
              minimal
              default-view="Years"
              @input="
                getData();
                $refs.qDateProxy.hide();
              "
            >
            </q-date>
          </q-popup-proxy>
        </template>
      </q-input>
    </div>

    <div class="card q-pa-sm q-ma-sm">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
        Proyecciones Mensuales
      </p>

      <list-actions
        :key="keyList"
        :optionsLeft="optionsLeft"
        :emptyMessage="messageEmpty"
        :data="data"
        @close="close"
        @adviser="adviser"
      ></list-actions>
    </div>

    <monthly-closure ref="monthlyClosure" @getData="getData"></monthly-closure>
    <adviser ref="adviser" @getData="getData"></adviser>
  </div>
</template>
<script>
/***
 * Modulo: Planificador de créditos
 * Path: credit-planner/:id
 * Desc: Pagina principal del modulo planificador de creditos
 * Rol: Supervisor
 */
import ToolbarBig from "src/components/common/ToolbarBig";
import MonthlyClosure from "src/components/credit-planner/MonthlyClosure.vue";
import ListActions from "../components/common/ListActions";
import ExpectedResultsMonth from "src/components/credit-planner/ExpectedResultsMonth.vue";
import Util from "src/mixin/Util";
import Adviser from "src/components/credit-planner/Adviser.vue";
export default {
  mixins: [Util],
  components: {
    ListActions,
    ExpectedResultsMonth,
    MonthlyClosure,
    Adviser,
    ToolbarBig,
  },
  data: () => ({
    optionsLeft: [],
    data: [],
    messageEmpty: "No se han encontrado proyecciones mensuales",
    propsAdvisorsProjection: {},
    options: [],
    keyList: 1,
    year: 0,
  }),
  created() {
    this.year = this.$store.state.systemDate.split("/")[2];
    this.getOptions();
  },
  methods: {
    getOptions() {
      let body = {
        idRol: this.$store.state.rolId,
        idMod: this.$route.params.id,
      };
      this.request("rolPermisos/permisos", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.options = response.data;
            this.getData();
          } else this.notifyError(response.descripcion);
        }
      });
    },
    getData() {
      let body = {
        anio: this.year,
      };
      this.request("gerente/cartera/mes", body).then((response) => {
        if (response) {
          this.data.length = 0;
          if (response.estado == 200) {
            response.data.map((item) => {
              let model = {
                title: this.getMonthName(item.mes).concat(" ", item.anio),
                description: item.estado,
                month: item.mes,
                year: item.anio,
                stateId: item.idEstado,
                id: item.id,
                  alwaysAutorize: item.ultimoPlan == "1" ? true : false,
              };
              //Estado cerrado
              if (item.idEstado == 2) model.hiddenOptionsLeft = [0];
              this.data.push(model);
            });
            this.fillOptions();
          } else {
            this.notifyError("Error al obtener los datos");
          }
        }
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Cierre",
          icon: "fas fa-times-circle",
          action: "close",
          enable: this.isEnableOption(this.options, 6),
        },
        {
          title: "Asesores",
          icon: "fas fa-users",
          action: "adviser",
          enable: this.isEnableOption(this.options, 51),
        },
      ];
      this.keyList++;
    },
    close(item) {
      this.$refs.monthlyClosure.show(item);
    },
    adviser(item) {
      this.$refs.adviser.show(item, this.options);
    },
  },
};
</script>
