<template>
  <div class="q-mt-big-card dialog-min">
    <toolbar-big></toolbar-big>

    <segmented-control
      @select="changeOption"
      @initSelect="(val) => (optionSection = val)"
      v-if="hierarchyId == 2"
    ></segmented-control>
    <div class="card q-pa-sm q-ma-sm">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">Fecha</p>

      <div class="q-px-md">
        <q-input
          class="q-my-md"
          label="Mes y Año"
          v-model="date"
          readonly
          @click="openDate"
        >
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer"> </q-icon>
          </template>
        </q-input>
      </div>
    </div>

    <div class="card q-pa-sm q-ma-sm q-mt-md">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
        Planificaciones semanales
      </p>

      <list-actions
        :key="keyList"
        :optionsLeft="optionsLeft"
        :emptyMessage="messageEmpty"
        :data="data"
        @update="upate"
        @drop="drop"
        @faciliting="faciliting"
        @view="view"
        @adviser="adviser"
      ></list-actions>
    </div>
    <q-fab
      v-if="isAsesor && (optionSection == 'P' || hierarchyId == 3)"
      unelevated
      v-model="fab"
      class="fixed fixed-bottom-right q-ma-md add"
      label="Agregar"
      label-position="right"
      color="primary"
      icon="fas fa-plus-circle"
      direction="right"
      @click="addFaciliting"
    >
    </q-fab>

    <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
    <add-faciliting-monitoring
      ref="addFacilitingMonitoring"
      @getData="getData"
    ></add-faciliting-monitoring>
    <faciliting
      ref="faciliting"
      :month="selectedDate.month + ''"
      :year="selectedDate.year + ''"
      @getData="getData"
    ></faciliting>
    <adviser
      ref="adviser"
      :month="selectedDate.month + ''"
      :year="selectedDate.year + ''"
      @getData="getData"
    ></adviser>
    <weekly-plan-group
      ref="weeklyPlanGroup"
      :month="selectedDate.month + ''"
      :year="selectedDate.year + ''"
      :weekId="currentItem.weekId"
      :title="currentItem.title"
      :planId="currentItem.id"
      :key="keyPlanGroup"
      :optionSection="optionSection"
      @getData="getData()"
      @hide="fab = false"
    ></weekly-plan-group>
    <q-dialog v-model="dialogDelete" full-width>
      <q-card>
        <q-card-section>
          <div class="text-h6">Eliminar Planificación</div>
        </q-card-section>
        <q-card-section class="row items-center">
          <span class="q-ml-sm"
            >¿Desea eliminar la planificacion: {{ currentItem.title }}?</span
          >
        </q-card-section>

        <q-card-actions align="right">
          <q-btn flat label="Cancelar" color="primary" v-close-popup />
          <q-btn flat label="Aceptar" color="primary" @click="remove" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo Facilitadores
 * Path: faciliting-monitoring/{id}
 * Desc: Pagina principal del modulo monitoreo facilitadores
 * Rol: Asesor, Facilitador, Supervisor
 */
import ListActions from "src/components/common/ListActions";
import DateDialog from "src/components/common/DateDialog";
import ToolbarBig from "src/components/common/ToolbarBig";
import AddFacilitingMonitoring from "src/components/faciliting-monitoring/AddFacilitingMonitoring.vue";
import Adviser from "src/components/faciliting-monitoring/Adviser.vue";
// mixin
import Util from "src/mixin/Util";
import Faciliting from "src/components/faciliting-monitoring/Faciliting.vue";
import WeeklyPlanGroup from "src/components/faciliting-monitoring/WeeklyPlanGroup.vue";
import SegmentedControl from "src/components/common/SegmentedControl.vue";

export default {
  mixins: [Util],
  components: {
    ListActions,
    DateDialog,
    ToolbarBig,
    AddFacilitingMonitoring,
    Faciliting,
    WeeklyPlanGroup,
    Adviser,
    SegmentedControl,
  },
  data() {
    return {
      keyList: 1,
      date: null,
      selectedDate: {},
      optionsLeft: [],
      options: [],
      data: [],
      messageEmpty: "No se han encontrado planificaciones ",
      fab: false,
      fabMore: false,
      dialogDelete: false,
      currentItem: {
        weekId: "",
        year: "",
        title: "",
        id: "",
      },
      keyPlanGroup: 0,
      isAsesor: localStorage.getItem("supervisorId"),
      hierarchyId: parseInt(localStorage.getItem("hierarchyId")) || 0,
      optionSection: null,
    };
  },
  created() {
    this.getOptions();
  },
  methods: {
    dateSelected(month, year, fullDate) {
      this.selectedDate = {
        month: month.toString(),
        year: year.toString(),
      };
      if (this.date) {
        this.getData();
      }
      this.date = fullDate;
    },
    getData() {
      let body = {
        mes: this.selectedDate.month,
        anio: this.selectedDate.year,
      };
      let isAsesor = localStorage.getItem("supervisorId");
      let url = "";
      if (isAsesor) {
        let hierarchyId = parseInt(localStorage.getItem("hierarchyId")) || 0;
        if (hierarchyId == this.USER_LEVEL_2 && this.optionSection == "S") {
          url = "asesor/plan/semanal";
          body.idOfi = this.$store.state.officeId;
          body.idJerarquia = parseInt(localStorage.getItem("hierarchyId")) + 1 || 0;
        } else {
          url = "facilitador/plan/semanal";
        }
      } else {
        /**Al idJerarquia se le agrega "1" para obtener los usuarios que tengan un nivel menor en cuanto a jerarquia
         */
        body.idOfi = this.$store.state.officeId;
        body.idJerarquia = parseInt(localStorage.getItem("hierarchyId")) + 1 || 0;
        url = "grupal/plan/semanal";
      }

      this.request(url, body).then((response) => {
        if (response) {
          if (response.estado === 200) {
            this.data = [];
            const data = response.data;
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let parseData = {
                  title: item.semana,
                  description: item.estado,
                  weekId: item.idSemana,
                  month: this.selectedDate.month,
                  year: this.selectedDate.year,
                  total: item.totalGrupos,
                  week: item.semana,
                  alwaysAutorize: item.ultimoPlan == "1" ? true : false,
                };

                if (isAsesor) parseData.id = item.id;
                if (isAsesor && item.idEstado == 2) parseData.hiddenOptionsLeft = [0, 1];
                else if (isAsesor && item.idEstado == 1)
                  parseData.hiddenOptionsLeft = [2];

                this.data.push(parseData);
              });
            }
          } else this.notifyError("Error al obtener los datos");
        }
        this.fillOptions();
      });
    },
    getOptions() {
      let body = {
        idRol: this.$store.state.rolId,
        idMod: this.$route.params.id,
      };
      this.request("rolPermisos/permisos", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.options = response.data;
            this.getData();
          } else this.notifyError(response.descripcion);
        }
      });
    },
    fillOptions() {
      let isAsesor = localStorage.getItem("supervisorId");
      let hierarchyId = localStorage.getItem("hierarchyId");
      this.optionsLeft = [
        {
          title: "Grupos",
          icon: "group",
          action: "update",
          enable:
            isAsesor &&
            (this.optionSection == "P" || hierarchyId == this.USER_LEVEL_3) &&
            this.isEnableOption(this.options, 36),
        },
        {
          title: "Eliminar",
          icon: "delete",
          action: "drop",
          enable: isAsesor && this.isEnableOption(this.options, 37),
        },
        {
          title: "Ver Grupos",
          icon: "group",
          action: "view",
          enable: isAsesor && this.isEnableOption(this.options, 41),
        },
        {
          title: "Facilitadores",
          icon: "group",
          action: "faciliting",
          enable:
            parseInt(hierarchyId) == 2 &&
            this.optionSection == "S" &&
            this.isEnableOption(this.options, 48),
        },

        {
          title: "Asesores",
          icon: "group",
          action: "adviser",
          enable: parseInt(hierarchyId) == 1 && this.isEnableOption(this.options, 47),
        },
      ];
      this.keyList++;
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
    addFaciliting() {
      this.$refs.weeklyPlanGroup.show("ADD", this.options, []);
    },
    upate(item) {
      this.currentItem = item;
      this.$nextTick(function () {
        this.$refs.weeklyPlanGroup.show("UPDATE", this.options, [], {});
      });
    },
    view(item) {
      this.currentItem = item;
      this.$nextTick(function () {
        this.$refs.weeklyPlanGroup.show("VIEW", this.options, [], {});
      });
    },
    faciliting(item) {
      this.$refs.faciliting.show(item, this.options, true);
    },
    adviser(item) {
      this.$refs.adviser.show(item, this.options);
    },
    drop(item) {
      this.dialogDelete = true;
      this.currentItem = item;
    },
    remove() {
      let body = {
        id: this.currentItem.id,
      };
      this.request("facilitador/plan/semanal/del", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.notifySuccess("Eliminado correctamente");
            this.dialogDelete = false;
            this.getData();
          } else {
            this.notifyError("Error al eliminar");
          }
        }
      });
    },
    changeOption(option) {
      this.optionSection = option;
      this.getData();
    },
  },
};
</script>
