<template>
  <div class="q-mt-big-card dialog-min">
    <toolbar-big></toolbar-big>

    <segmented-control
      @select="changeOption"
      @initSelect="(val) => (optionSection = val)"
      v-if="hierarchyId == 2"
    ></segmented-control>
    <div class="card q-pa-sm q-ma-sm">
      <q-input
        v-model="year"
        label="Año"
        class="q-mx-md q-mb-md"
        @click="$refs.qDateProxy.show()"
      >
        <template v-slot:append>
          <q-popup-proxy ref="qDateProxy" transition-show="scale" transition-hide="scale">
            <q-date
              style="width: 100%"
              mask="YYYY"
              :emit-immediately="true"
              v-model="year"
              minimal
              default-view="Years"
              @input="
                getData();
                $refs.qDateProxy.hide();
              "
            >
            </q-date>
          </q-popup-proxy>
        </template>
      </q-input>
    </div>

    <div class="card q-pa-sm q-ma-sm">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
        Proyecciones Mensuales
      </p>
      <list-actions
        :key="keyList"
        :optionsLeft="optionsLeft"
        :emptyMessage="messageEmpty"
        :data="data"
        @planning="planning"
        @results="results"
        @facilator="facilator"
        @view="view"
        @adviser="adviser"
      ></list-actions>
    </div>
    <q-fab
      v-if="isAsesor && (optionSection == 'P' || hierarchyId == 3)"
      unelevated
      v-model="fab"
      class="fixed fixed-bottom-right q-ma-md add"
      label="Agregar"
      label-position="right"
      color="primary"
      icon="fas fa-plus-circle"
      direction="right"
      @click="openPlan"
    >
    </q-fab>
    <faciliting ref="faciliting" @getData="getData"></faciliting>
    <add-faciliting-plan
      ref="addFacilitingPlan"
      @getData="getData"
      @hide="fab = false"
    ></add-faciliting-plan>
    <adviser ref="adviser" @getData="getData"> </adviser>
  </div>
</template>

<script>
/***
 * Modulo: Plan Facilitador
 * Path: faciliting-plan/:id
 * Desc: Pagina principal del modulo gestor de cobros
 */
import ListActions from "../components/common/ListActions";
import Faciliting from "src/components/facilitating-plan/Faciliting.vue";
import ToolbarBig from "src/components/common/ToolbarBig";
import HeaderData from "src/components/common/HeaderData";
import SegmentedControl from "src/components/common/SegmentedControl.vue";
// mixin
import Util from "src/mixin/Util";
import AddFacilitingPlan from "src/components/facilitating-plan/AddFacilitingPlan.vue";
import Adviser from "src/components/facilitating-plan/Adviser.vue";

export default {
  mixins: [Util],
  components: {
    ListActions,
    ToolbarBig,
    Faciliting,
    AddFacilitingPlan,
    HeaderData,
    SegmentedControl,
    Adviser,
  },
  data() {
    return {
      data: [],
      messageEmpty: "No se han encontrado proyecciones mensuales",
      optionsLeft: [],
      options: [],
      keyList: 1,
      fab: false,
      isAsesor: localStorage.getItem("supervisorId"),
      hierarchyId: parseInt(localStorage.getItem("hierarchyId")) || 0,
      year: 0,
      headerData: [
        {
          label: "Fecha",
        },
      ],
      optionSection: null,
    };
  },

  methods: {
    getData() {
      let body = {
        anio: this.year,
        idOfi: this.$store.state.officeId,
      };
      let isAsesor = localStorage.getItem("supervisorId");
      let url = "";
      if (isAsesor) {
        if (this.hierarchyId == this.USER_LEVEL_3 || this.optionSection == "P") {
          url = "facilitador/mes";
        } else {
          url = "facilitador/mes/asesor";
        }
      } else {
        url = "facilitador/mes/supervisor";
      }

      this.request(url, body).then((response) => {
        if (response && response.estado === 200) {
          this.data = [];
          const data = response.data;
          if (Array.isArray(data) && data.length !== 0) {
            data.map((item) => {
              let model = {
                title: this.monthName(item.mes),
                description: item.estado,
                month: item.mes,
                year: body.anio,
                ref: item.ref,
                new: item.nuevos,
                net: item.colocacionNeta,
                newClients: item.clientesNuevos,
                walletBalance: item.saldoCartera,
                growth: item.crecimiento,
                cer: item.cer,
                id: item.id,
                alwaysAutorize: item.ultimoPlan == "1" ? true : false,
              };

              //Si el estado es aprobado, oculta la opcion Editar
              if (item.idEstado == 2) model.hiddenOptionsLeft = [0];
              else model.hiddenOptionsLeft = [1];

              this.data.push(model);
            });
          }
        } else this.notifyError("Error al obtener los datos");
        this.fillOptions();
      });
    },
    getOptions() {
      let body = {
        idRol: this.$store.state.rolId,
        idMod: this.$route.params.id,
      };
      this.request("rolPermisos/permisos", body).then((response) => {
        if (response && response.estado === 200) {
          this.options = response.data;
          this.getData();
        } else this.notifyError("Error al obtener los datos");
      });
    },
    fillOptions() {
      let isAsesor = localStorage.getItem("supervisorId");
      this.optionsLeft = [
        {
          title: "Editar",
          icon: "edit",
          action: "planning",
          enable:
            this.isEnableOption(this.options, 34) &&
            isAsesor &&
            (this.optionSection == "P" || this.hierarchyId == this.USER_LEVEL_3),
        },
        {
          title: "Ver",
          icon: "fas fa-eye",
          action: "view",
          enable:
            this.isEnableOption(this.options, 45) &&
            isAsesor &&
            (this.optionSection == "P" || this.hierarchyId == this.USER_LEVEL_3),
        },
        {
          title: "Resultados",
          icon: "fas fa-check-circle",
          action: "results",
          enable:
            this.isEnableOption(this.options, 35) &&
            isAsesor &&
            (this.optionSection == "P" || this.hierarchyId == this.USER_LEVEL_3),
        },
        {
          title: "Facilitadores",
          icon: "fas fa-users",
          action: "facilator",
          enable:
            this.isEnableOption(this.options, 44) &&
            this.hierarchyId == this.USER_LEVEL_2 &&
            this.optionSection == "S",
        },
        {
          title: "Asesores",
          icon: "fas fa-users",
          action: "adviser",
          enable:
            this.isEnableOption(this.options, 49) &&
            !isAsesor &&
            this.hierarchyId == this.USER_LEVEL_1,
        },
      ];
      this.keyList++;
    },
    monthName(month) {
      return this.getMonthName(month);
    },
    planning(item) {
      this.$refs.addFacilitingPlan.show(item, "UPDATE");
    },
    view(item) {
      this.$refs.addFacilitingPlan.show(item, "VIEW");
    },
    results(item) {
      this.$refs.addFacilitingPlan.show(item, "RESULTS");
    },
    facilator(item) {
      this.$refs.faciliting.show(item, this.options);
    },
    adviser(item) {
      this.$refs.adviser.show(item, this.options);
    },
    openPlan() {
      this.$refs.addFacilitingPlan.show(null, "ADD");
    },
    changeOption(option) {
      this.optionSection = option;
      this.getData();
    },
  },
  created() {
    this.year = this.$store.state.systemDate.split("/")[2];
    this.getOptions();
  },
};
</script>
