<template>
  <div style="min-height: 100vh">
    <div
      class="header q-pa-md q-pl-lg q-pb-lg q-pt-lg fixed fixed-top"
      style="z-index: 2"
    >
      <q-item-label class="text-white text-h6 q-mb-xs">
        <div class="flex">
          <div style="flex: 1">Bienvenido,</div>
          <span
            ><q-icon
              name="fas fa-info-circle"
              size="md"
              @click="dialogHelp = true"
            ></q-icon
          ></span>
        </div>
        <div>
          <q-item-label lines="1">
            {{ $store.state.username }}
          </q-item-label>
        </div>
      </q-item-label>
    </div>
    <div style="overflow-y: scroll; padding-top: 100px">
      <div class="q-mr-xs q-ml-xs">
        <header-data class="q-ma-sm q-mt-md" :data-header="dataHeader"></header-data>
      </div>

      <div
        ref="modules"
        class="q-mr-xs q-ml-xs row"
        v-if="modules.filter((item) => item.isEnable).length > 0"
      >
        <div
          :ref="index"
          v-for="(item, index) in modules"
          :key="index"
          :class="{ 'col-12': item.isEnable }"
        >
          <div
            v-if="item.isEnable"
            class="card q-ma-sm flex relative-position containe bg-white justify-left items-center row"
            v-ripple
            @click="$router.push({ name: item.routeName, params: { id: item.id } })"
          >
            <div class="container-icon flex flex-center" :class="item.color">
              <img alt="icon" :src="item.image" class="icon-card" />
            </div>
            <span class="text-center q-ml-md">{{ item.title }}</span>
          </div>
        </div>
      </div>
      <div v-else>
        <p v-if="!$q.loading.isActive" class="text-h6 text-grey text-center q-mt-xl">
          No tiene modulos asignados
        </p>
      </div>
    </div>
    <q-dialog v-model="dialogHelp" transition-show="scale" transition-hide="scale">
      <q-card class="q-pa-sm">
        <q-card-section>
          <div class="text-h6">Ayuda</div>
        </q-card-section>
        <div style="position: relative">
          <Lottie :autoplay="false" :animationData="listAnim" style="max-height: 100px" />
          <Lottie :autoplay="false" :animationData="listAnim" style="max-height: 100px" />
          <Lottie :animationData="arrowAnim" style="position: absolute; top: -30px" />
          <p class="text-grey text-center q-mt-md q-pa-sm" style="font-size: 16px">
            Desliza para ver las opciones disponibles
          </p>
        </div>
      </q-card>
    </q-dialog>

    <q-fab
      style="min-height: 56px"
      unelevated
      class="fixed fixed-bottom-right q-ma-md add"
      label-position="right"
      color="blue-grey-9"
      icon="exit_to_app"
      direction="right"
      @click="closeSession"
      round
      size="md"
    >
    </q-fab>
  </div>
</template>
<script>
/***
 *
 * Path: login/
 * Desc: Pagina inicial
 */
import Util from "../mixin/Util";
import Lottie from "vue-lottie-web";
import HeaderData from "src/components/common/HeaderData";
import listAnim from "./list.json";
import arrowAnim from "./slide (2).json";
export default {
  components: {
    HeaderData,
    Lottie,
  },
  mixins: [Util],
  data: () => ({
    username: "",
    modules: [],
    dataHeader: [],
    dialogHelp: false,
    listAnim,
    arrowAnim,
  }),
  created() {
    let isAsesor = localStorage.getItem("supervisorId");

    this.dataHeader = [
      {
        label: "Supervisor",
        value: this.$store.state.supervisorName,
        isHidden: isAsesor ? false : true,
      },
      {
        label: "Oficina",
        value: this.$store.state.office,
      },
      {
        label: "Fecha",
        value: this.beautifullDate(this.$store.state.systemDate),
      },
    ];

    this.getModuls();
  },
  mounted() {},
  methods: {
    changePath(path) {
      this.$router.push(path);
    },
    getModuls() {
      let body = {
        idRol: this.$store.state.rolId,
      };
      this.request("rolPermisos/modulos", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.modules = response.data;
            this.fillModules();
          } else this.notifyError(response.descripcion);
        }
      });
    },
    fillModules() {
      this.modules = [
        {
          title: this.getDescription(1),
          image: "svg/pay.svg",
          routeName: "CollectionsManager",
          color: "bg-red-1",
          isEnable: this.isEnable(1),
          name: "gestor_cobros",
          id: 1,
        },
        {
          title: this.getDescription(2),
          image: "svg/credit-card.svg",
          routeName: "CreditPlanner",
          color: "bg-blue-1",
          isEnable: this.isEnable(2),
          name: "planificador_creditos",
          id: 2,
        },

        {
          title: this.getDescription(3),
          image: "svg/monitor.svg",
          routeName: "PortfolioMonitoring",
          color: "bg-yellow-1",
          isEnable: this.isEnable(3),
          name: "monitoreo_cartera",
          id: 3,
        },
        {
          title: this.getDescription(4),
          image: "svg/activity.svg",
          routeName: "Activities",
          color: "bg-cyan-1",
          isEnable: this.isEnable(4),
          name: "actividades",
          id: 4,
        },

        {
          title: this.getDescription(5),
          image: "svg/planning.svg",
          routeName: "FacilitatingPlan",
          color: "bg-green-1",
          isEnable: this.isEnable(5),
          name: "plan_facilitador",
          id: 5,
        },
        {
          title: this.getDescription(6),
          image: "svg/analytics.svg",
          routeName: "FacilitingMonitoring",
          color: "bg-amber-1",
          isEnable: this.isEnable(6),
          name: "monitoreo_actividades",
          id: 6,
        },
      ];

      this.$nextTick(function () {
        if (this.$refs.modules) {
          var children = this.$refs.modules.children;

          var maxHeight = 0;
          for (var i = 0; i < children.length; i++) {
            if (children[i].children[0]) {
              if (children[i].children[0].clientHeight > maxHeight)
                maxHeight = children[i].children[0].clientHeight;
            }
          }
          for (var i = 0; i < children.length; i++) {
            if (children[i].children[0])
              children[i].children[0].style.height = maxHeight + "px";
          }
        }
      });
    },
    isEnable(id) {
      return this.modules.filter((item) => item.idMod == id).length == 1 ? true : false;
    },
    getDescription(id) {
      return this.modules.filter((item) => item.idMod == id).length == 1
        ? this.modules.filter((item) => item.idMod == id)[0].descripcion
        : "";
    },
    closeSession() {
      let body = {
        empresaUsu: localStorage.getItem("companyUser"),
      };
      this.request("cerrarSesion", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            let password;
            let user;
            if (localStorage.getItem("rememberPassword") == "true") {
              user = localStorage.getItem("user");
              password = localStorage.getItem("password");
            }
            localStorage.clear();
            if (password) {
              localStorage.setItem("user", user);
              localStorage.setItem("password", password);
              localStorage.setItem("rememberPassword", "true");
            }

            this.storeCommits();
            this.$router.push({ name: "Login" });
          } else this.notifyError("Error al cerrar sesión");
        }
      });
    },
    beautifullDate(date) {
      let tempDate = date.split("/");

      return `${tempDate[0]} de ${this.getMonthName(
        tempDate[1]
      ).toLocaleLowerCase()} del ${tempDate[2]} `;
    },
  },

  updated() {},
};
</script>
<style scoped lang="sass">
.card
  min-height: 100px

.not-height
  min-height: 0px !important
.header
  background: $primary


.icon-dashboard
  width: 100%
  max-width: 75px

.container-icon
    background: rgba(255,255 ,255 ,.4)
    border-radius: 50%
    width: 65px
    height: 65px


.icon-card
    max-width: 44px
</style>
