<template>
  <transition name="fade">
    <div
      class="flex flex-center bg-primary container-login shadow-3"
      style="height: 100vh"
    >
      <div class="full-width shadow-login q-pb-lg shadow-1" style="height: 100vh">
        <div class="bg-white-login"></div>
        <div class="flex items-end justify-center container-image">
          <img src="images/share-logo.png" alt="LOGO" class="img-login q-mb-md" />
        </div>

        <div class="bg-primary" style="position: relative; z-index: 1">
          <q-form
            action
            @submit="sendData"
            ref="formLogin"
            class="container-inputs q-pl-lg q-pt-md q-pr-lg full-height"
          >
            <div class="text-center">
              <img src="images/share-text.png" alt="" class="text-login" />
            </div>
            <p class="text-grey text-center text-h6 q-mb-none">Negocios SHARE</p>
            <q-input
              ref="username"
              bottom-slots
              v-model="user.username"
              label="Usuario"
              :rules="[(val) => !!val || 'Ingrese su nombre de usuario']"
              maxlength="30"
              class="full-width"
              color="grey-8"
            >
              <template v-slot:prepend>
                <q-icon name="fas fa-user" />
              </template>
            </q-input>
            <q-input
              ref="password"
              bottom-slots
              :type="isPwd ? 'password' : 'text'"
              v-model="user.password"
              label="Contraseña"
              :rules="[(val) => !!val || 'Ingrese su contraseña']"
              maxlength="30"
              class="full-width q-mt-sm"
              color="grey-8"
            >
              <template v-slot:prepend>
                <q-icon name="fas fa-key" />
              </template>
              <template v-slot:append>
                <q-icon
                  :name="isPwd ? 'fas fa-eye-slash' : 'fas fa-eye'"
                  class="cursor-pointer"
                  @click="isPwd = !isPwd"
                />
              </template>
            </q-input>

            <div class="q-ml-md q-mr-md">
              <div>
                <!--  <q-btn
                  flat
                  :disable="user.username.length == 0"
                  style="margin-right: -20px"
                  color="grey-9"
                  label="¿Olvidó su contraseña?"
                  class="float-right"
                  size="12px"
                ></q-btn> -->

                <q-btn
                  color="primary"
                  label="Ingresar"
                  rounded
                  flat
                  type="submit"
                  text-color="white"
                  class="full-width center-container q-mt-lg q-pa-sm bg-primary"
                ></q-btn>

                <q-checkbox
                  class="q-mt-md"
                  v-model="rememberPassword"
                  label="Recordar contraseña"
                  style="margin-left: -30px"
                />
              </div>
            </div>
          </q-form>
        </div>
      </div>
      <q-dialog v-model="alertPassword" persistent full-width>
        <q-card>
          <q-card-section>
            <div class="text-h6">Recuperar Contraseña</div>
          </q-card-section>

          <q-card-section>
            <span class="q-ml-sm">Su nueva contraseña es: {{ this.newPassword }}</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Aceptar" color="primary" v-close-popup />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </div>
  </transition>
</template>
<script>
import Util from "../mixin/Util";
export default {
  mixins: [Util],
  data: () => ({
    isPwd: true,
    user: {
      username: "",
      password: "",
    },
    rememberPassword: false,
    alertPassword: false,
    newPassword: null,
  }),
  created() {
    if (localStorage.getItem("rememberPassword") == "true") {
      this.rememberPassword = true;
      this.user.username = this.decrypt("user");
      this.user.password = this.decrypt("password");
    }
  },
  methods: {
    sendData() {
      this.$refs.formLogin.validate().then((res) => {
        if (res) {
          let body = {
            username: this.user.username,
            password: btoa(this.user.password),
            userKey: this.$store.state.userKey || this.user.username,
            notValidateSessionActive:
              localStorage.getItem("notValidateSessionActive") || null,
          };
          this.request("login/app", body, false, false).then((response) => {
            if (response) {
              if (response.estado == 200) {
                let data = response.data;
                if (data.userKey) localStorage.setItem("userKey", data.userKey);

                localStorage.setItem("userId", data.idCli);
                localStorage.setItem("systemDate", data.fechaSis);
                localStorage.setItem("change", data.cambio);
                localStorage.setItem("username", data.nombre);
                localStorage.setItem("type", data.tipo);
                localStorage.setItem("officeId", data.oficina);
                localStorage.setItem("officeName", data.nombreOfi);
                localStorage.setItem("rolId", data.idRol);
                localStorage.setItem("hierarchyId", data.idJerarquia);
                localStorage.setItem(
                  "hash",
                  this.encrypt(
                    "hash",
                    localStorage.getItem("userKey"),
                    localStorage.getItem("userKey").substr(0, 5)
                  )
                );
                if (data.nombreSupervisor)
                  localStorage.setItem("supervisorName", data.nombreSupervisor);

                if (data.idSupervisor)
                  localStorage.setItem("supervisorId", data.idSupervisor);

                if (this.rememberPassword) {
                  localStorage.setItem("rememberPassword", "true");
                  this.encrypt("user", this.user.username);
                  this.encrypt("password", this.user.password);
                } else {
                  localStorage.setItem("rememberPassword", "false");
                }

                localStorage.setItem("companyUser", data.empresaUsu);
                localStorage.removeItem("notValidateSessionActive");

                this.storeCommits();
                this.$router.push("dashboard");
              } else this.notifyError(response.mensaje);
            }
          });
        }
      });
    },
    forgotPassword() {
      let url = "recuperarPassword";
      this.request(url, { username: this.user.username }).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.alertPassword = true;
            this.newPassword = response.data;

            this.user.password = this.newPassword;
            this.notifySuccess("Contraseña recuperada");
          } else if (response.estado == -1) {
            this.notifyError("EL usuario ingresado no es válido");
          } else this.notifyError();
        }
      });
    },
  },
};
</script>
<style scoped lang="sass">
@font-face
    font-family: Garamond
    src: url("../css/Garamond-Roman.ttf") format("opentype")

.container-image
  height: 35%
  background: #CF112B
  border-bottom-left-radius: 50px
  position: relative
  z-index: 10


.container-inputs
  position: relative
  z-index: 10
  border-top-right-radius: 50px
  background: #FFF

.title-login
  font-family: Garamond
   letter-spacing:0px


.img-login
  width: 100%
  max-width: 120px
  position: relative
  z-index: 10

.text-login
  width: 100%
  max-width: 160px

.bg-white-login
  position: absolute
  left: 0px
  top: 0px
  width: 100%
  height: 100vh
  background: #FFF
  z-index: 1
</style>
