<template>
  <div class="q-mt-big-card dialog-min">
    <toolbar-big> </toolbar-big>
    <div class="card q-pa-sm q-ma-sm">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">Fecha</p>
      <div class="q-px-md">
        <q-input
          class="q-my-md"
          label="Mes y Año"
          v-model="date"
          readonly
          @click="openDate"
        >
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer"> </q-icon>
          </template>
        </q-input>
      </div>
    </div>

    <div class="card q-pa-sm q-ma-sm q-mt-md">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
        Planeaciones semanales
      </p>
      <list-actions
        :key="keyList"
        :optionsLeft="optionsLeft"
        :emptyMessage="messageEmpty"
        :data="data"
        @coordinators="coordinators"
      ></list-actions>
    </div>

    <managers ref="managers" @getData="getData"></managers>
    <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
    <coordinator
      ref="coordinator"
      :month="selectedDate.month + ''"
      :year="selectedDate.year + ''"
      @getData="getData"
    ></coordinator>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo de cartera
 * Path: portafolio-monitoring/{id}
 * Desc: Pagina principal del modulo monitoreo cartera
 * Rol: Supervisor
 */
import ToolbarBig from "src/components/common/ToolbarBig";
import HeaderData from "src/components/common/HeaderData";
import ListActions from "../components/common/ListActions";
import Managers from "src/components/portfolio-monitoring/Managers.vue";
import DateDialog from "src/components/common/DateDialog";
import Coordinator from "src/components/portfolio-monitoring/Coordinator.vue";

// mixin
import Util from "src/mixin/Util";

export default {
  mixins: [Util],
  components: {
    HeaderData,
    ListActions,
    Managers,
    DateDialog,
    ToolbarBig,
    Coordinator,
  },
  data: () => ({
    optionsLeft: [],

    data: [],
    messageEmpty: "No se han encontrado planificaciones semanales",
    selectedDate: {},
    date: null,
    options: [],
    keyList: 0,
  }),
  created() {
    this.getOptions();
  },
  methods: {
    close() {
      console.log("close action");
    },
    autorize() {
      console.log("autoize");
    },

    dateSelected(month, year, fullDate) {
      this.selectedDate = {
        month: month.toString(),
        year: year.toString(),
      };
      if (this.date) {
        this.getData();
      }
      this.date = fullDate;
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
    getData() {
      let body = {
        mes: this.selectedDate.month,
        anio: this.selectedDate.year,
        idOfi: this.$store.state.officeId,
      };

      this.request("gerente/semana", body).then((response) => {
        if (response) {
          if (response.estado === 200) {
            this.data = [];
            const data = response.data;
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let model = {
                  title: item.semana,
                  description: item.estado,
                  weekId: item.idSemana,
                  month: this.selectedDate.month,
                  year: this.selectedDate.year,
                  alwaysAutorize: item.ultimoPlan == "1" ? true : false,
                };

                this.data.push(model);
              });
            }
          } else this.notifyError("Error al obtener los datos");
        }
        this.fillOptions();
      });
    },
    getOptions() {
      let body = {
        idRol: this.$store.state.rolId,
        idMod: this.$route.params.id,
      };
      this.request("rolPermisos/permisos", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.options = response.data;
            this.getData();
          } else this.notifyError(response.descripcion);
        }
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Coordinadores",
          icon: "fas fa-users",
          action: "coordinators",
          enable: this.isEnableOption(this.options, 50),
        },
      ];
      this.keyList++;
    },
    coordinators(item) {
      this.$refs.coordinator.show(item, this.options);
    },
  },
};
</script>
