<template>
  <div class="q-mt-big-card dialog-min">
    <toolbar-big> </toolbar-big>
    <segmented-control
      @select="changeOption"
      @initSelect="(val) => (optionSection = val)"
      v-if="hierarchyId == 2"
    ></segmented-control>
    <div class="card q-pa-sm q-ma-sm">
      <p class="text-subtitle1 text-bold q-pl-md q-mb-sm">Fecha</p>
      <div class="q-px-md">
        <q-input
          class="q-my-md"
          label="Mes y Año"
          v-model="date"
          readonly
          @click="openDate"
        >
          <template v-slot:prepend>
            <q-icon name="event" class="cursor-pointer"> </q-icon>
          </template>
        </q-input>
      </div>
    </div>

    <div class="card q-pa-sm q-ma-sm q-mt-md">
      <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
        Planeaciones semanales
      </p>
      <list-actions
        :key="keyList"
        :optionsLeft="optionsLeft"
        :emptyMessage="messageEmpty"
        :data="data"
        @view="view"
        @update="update"
        @managers="managers"
      ></list-actions>
    </div>
    <q-fab
      v-if="optionSection == 'P' || hierarchyId == 3"
      unelevated
      v-model="fab"
      class="fixed fixed-bottom-right q-ma-md add"
      label="Agregar"
      label-position="right"
      color="primary"
      icon="fas fa-plus-circle"
      direction="right"
      @click="openPlan"
    >
    </q-fab>

    <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
    <add-portfolio-monitoring
      ref="addPortfolioMonitoring"
      @hide="fab = false"
      @getData="changeOption(optionSection)"
    >
    </add-portfolio-monitoring>
    <managers ref="managers" @getData="changeOption(optionSection)"></managers>
  </div>
</template>
<script>
/***
 * Modulo: Monitoreo Cartera
 * Path: portafolio-monitoring/{id}
 * Desc: Pagina principal del modulo monitoreo cartera
 * Rol: Asesor
 */
import ToolbarBig from "src/components/common/ToolbarBig";
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import AddPortfolioMonitoring from "src/components/portfolio-monitoring/AddPortfolioMonitoring.vue";
import DateDialog from "src/components/common/DateDialog";
import SegmentedControl from "src/components/common/SegmentedControl.vue";
import Managers from "src/components/portfolio-monitoring/Managers.vue";

// mixin
import Util from "src/mixin/Util";

export default {
  mixins: [Util],
  components: {
    HeaderData,
    ListActions,
    SegmentedControl,
    AddPortfolioMonitoring,
    DateDialog,
    ToolbarBig,
    Managers,
  },
  data: () => ({
    optionsLeft: [],
    headerData: [],
    data: [],
    messageEmpty: "No se han encontrado planificaciones semanales",
    selectedDate: {},
    date: null,
    options: [],
    keyList: 0,
    fab: false,
    isAsesor: localStorage.getItem("supervisorId"),
    hierarchyId: parseInt(localStorage.getItem("hierarchyId")) || 0,
    optionSection: null,
  }),
  created() {
    this.dataHeader = [
      {
        label: "Gerente",
        value: this.$store.state.supervisorName,
      },
    ];
    this.getOptions();
  },
  methods: {
    close() {
      console.log("close action");
    },

    dateSelected(month, year, fullDate) {
      this.selectedDate = {
        month: month.toString(),
        year: year.toString(),
      };
      if (this.date) {
        this.changeOption(this.optionSection);
      }
      this.date = fullDate;
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
    getData() {
      let body = {
        mes: this.selectedDate.month,
        anio: this.selectedDate.year,
        idOfi: this.$store.state.officeId,
      };

      this.request("gestor/semana", body).then((response) => {
        if (response) {
          if (response.estado === 200) {
            this.data = [];
            const data = response.data;
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let model = {
                  title: item.semana,
                  description: item.estado,
                  id: item.id,
                  stateId: item.idEstado,
                  date: `${this.getMonthName(item.mes)} - ${item.anio}`,
                  dayInit: item.diaInicio,
                  week: item.semana,
                  weekId: item.idSemana,
                  month: item.mes,
                  year: item.anio,
                  clientNewNo: item.clientesNuevos,
                  clientNewExpected: item.esperadoNuevo,

                  clientRefNo: item.clientesRef,
                  clientRefExpected: item.esperadoRef,
                  expectedBalance: item.saldoEsperado,
                  clients: this.formatClients(item.clientesTramites || []),
                };
                if (item.idEstado == 2) model.hiddenOptionsLeft = [1];
                else model.hiddenOptionsLeft = [0];
                this.data.push(model);
              });
            }
          } else this.notifyError("Error al obtener los datos");
        }
        this.fillOptions();
      });
    },
    getDataSupervisor() {
      let body = {
        mes: this.selectedDate.month,
        anio: this.selectedDate.year,
        idOfi: this.$store.state.officeId,
      };

      this.request("coordinador/semana", body).then((response) => {
        if (response) {
          if (response.estado === 200) {
            this.data = [];
            const data = response.data;
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let model = {
                  title: item.semana,
                  description: item.estado,
                  weekId: item.idSemana,
                  month: this.selectedDate.month,
                  year: this.selectedDate.year,
                  alwaysAutorize: item.ultimoPlan == "1" ? true : false,
                };

                this.data.push(model);
              });
            }
          } else this.notifyError("Error al obtener los datos");
        }
        this.fillOptionsSupervisor();
      });
    },
    getOptions() {
      let body = {
        idRol: this.$store.state.rolId,
        idMod: this.$route.params.id,
      };
      this.request("rolPermisos/permisos", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.options = response.data;
            this.getData();
          } else this.notifyError(response.descripcion);
        }
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Ver",
          icon: "fas fa-eye",
          action: "view",
          enable: this.isEnableOption(this.options, 26),
        },
        {
          title: "Editar",
          icon: "edit",
          action: "update",
          enable: this.isEnableOption(this.options, 27),
        },
      ];
      this.keyList++;
    },
    fillOptionsSupervisor() {
      this.optionsLeft = [
        {
          title: "Gestores",
          icon: "fas fa-users",
          action: "managers",
          enable: this.isEnableOption(this.options, 30),
        },
      ];
      this.keyList++;
    },
    openPlan() {
      this.$refs.addPortfolioMonitoring.show(null, "ADD", this.options);
    },
    view(item) {
      this.$refs.addPortfolioMonitoring.show(item, "VIEW", this.options);
    },
    update(item) {
      this.$refs.addPortfolioMonitoring.show(item, "UPDATE", this.options);
    },
    formatClients(clients) {
      let temp = [];
      clients.map((item) => {
        temp.push({
          id: item.id,
          clientId: item.idCli,
          name: item.cliente,
          document: item.numeroDocumento,
          stage: item.estadoEtapa,
          stageId: item.idEstadoEtapa,
          title: item.cliente,
          description: item.estadoEtapa,
          documentType: item.tipoDocumento,
          documentTypeId: item.idTipoDocumento,
          mask: this.formatMask( item.mascara),
        });
      });

      return temp;
    },
    managers(item) {
      this.$refs.managers.show(item, this.options);
    },
     formatMask(mask) {
      let newMask = "";
      if (mask) {
        mask.split("").map((item) => {
          if (item == "9") newMask += "#";
          else if (item == "*") newMask += "N";
          else if (item == "a") newMask += "S";
          else newMask += item;
        });
      }
      console.log(newMask);
      return newMask;
    },
    changeOption(option) {
      this.optionSection = option;
      if (option == "S") this.getDataSupervisor();
      else this.getData();
    },
  },
};
</script>
