<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
      @hide="hideDialog"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          :title="action == 'UPDATE' ? 'Editar Actividad' : 'Agregar Actividad'"
          @back="dialog = false"
          button-title="ACEPTAR"
          icon-close="close"
          @send="validForm"
          v-if="action == 'UPDATE' || action == 'ADD'"
        >
        </toolbar>
        <toolbar v-else title="Ver Actividad" @back="dialog = false"> </toolbar>

        <q-form action ref="form" class="q-pa-sm">
          <q-input
            bottom-slots
            v-model="activity.username"
            label="Usuario"
            :rules="[(val) => !!val || 'Ingrese usuario']"
            maxlength="30"
            class="full-width"
            color="grey-8"
            readonly
          >
          </q-input>

          <q-input
            bottom-slots
            v-model="activity.description"
            label="Descripción"
            :rules="[(val) => !!val || 'Ingrese descripión']"
            maxlength="30"
            class="full-width"
            color="grey-8"
            :readonly="action == 'VIEW'"
          >
          </q-input>

          <q-input
            label="Fecha"
            readonly
            :disable="action == 'VIEW' || action == 'UPDATE'"
            :rules="[(val) => !!val || 'Ingrese la fecha']"
            @click="
              $refs.qDateProxy.show();
              activity.date = $store.state.systemDate;
            "
            v-model="activity.date"
          >
            <template v-slot:append>
              <q-popup-proxy
                ref="qDateProxy"
                transition-show="scale"
                transition-hide="scale"
              >
                <q-date v-model="activity.date" :locale="localES" mask="DD/MM/YYYY">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Cerrar" color="primary" flat />
                  </div>
                </q-date>
              </q-popup-proxy>
            </template>
          </q-input>

          <q-input
            label="Hora"
            v-model="activity.time"
            class="q-mb-lg"
            mask="time"
            readonly
            :disable="action == 'VIEW'"
            @click="$refs.qTimeProxy.show()"
          >
            <template v-slot:append>
              <q-popup-proxy
                ref="qTimeProxy"
                transition-show="scale"
                transition-hide="scale"
              >
                <q-time v-model="activity.time">
                  <div class="row items-center justify-end">
                    <q-btn v-close-popup label="Cerrar" color="primary" flat />
                  </div>
                </q-time>
              </q-popup-proxy>
            </template>
          </q-input>

          <q-input
            bottom-slots
            v-model="activity.placeShort"
            label="Lugar descripción corta"
            :rules="[(val) => !!val || 'Ingrese la descripción del lugar']"
            maxlength="100"
            class="full-width"
            color="grey-8"
            :readonly="action == 'VIEW'"
          >
          </q-input>
          <q-input
            bottom-slots
            v-model="activity.placeLarge"
            label="Lugar descripción larga"
            :rules="[(val) => !!val || 'Ingrese la descripción del lugar']"
            maxlength="250"
            class="full-width"
            color="grey-8"
            :readonly="action == 'VIEW'"
          >
          </q-input>

          <q-select
            bottom-slots
            v-model="currentDocument"
            :options="documents"
            label="Tipo documento"
            :rules="[(val) => !!val || 'Seleccione tipo documento']"
            maxlength="100"
            color="grey-8"
            v-if="activity.group ? false : true"
            behavior="dialog"
            @input="selectDocument"
          />

          <q-input
            ref="client"
            :key="keyClient"
            bottom-slots
            v-model="activity.client"
            label="Número de documento"
            :rules="[
              (val) => !!val || 'Ingrese DPI del cliente',
              (val) => val.length >= currentDocument.mask.length || 'Formato no válido',
            ]"
            maxlength="20"
            color="grey-8"
            @input="validClient"
            :mask="currentDocument.mask"
            :hint="activity.nameClient"
            clearable
            v-if="activity.group ? false : true"
            @clear="clearClient"
            lazy-rules
            :readonly="action == 'VIEW' || !currentDocument.mask"
          >
          </q-input>

          <q-select
            bottom-slots
            v-model="activity.group"
            :options="optionsGroup"
            label="Grupo"
            :rules="[(val) => !!val || 'Seleccione grupo']"
            maxlength="100"
            color="grey-8"
            clearable
            v-if="activity.client ? false : true"
            @popup-show="clearClient"
            @input="selectGroup"
            :readonly="action == 'VIEW'"
            behavior="dialog"
          >
          </q-select>

          <div class="text-center q-mt-md" v-if="action != 'ADD'">
            <q-btn
              class="q-mt-lg"
              icon="remove_circle"
              color="red"
              unelevated
              rounded
              label="Eliminar Actividad"
              @click="dialogDelete = true"
            >
            </q-btn>
          </div>
        </q-form>
      </q-card>
      <q-dialog v-model="dialogDelete" full-width>
        <q-card>
          <q-card-section class="row items-center">
            <q-avatar icon="delete" color="red" text-color="white" />
            <span class="q-ml-sm">¿Desea eliminar la actividad?</span>
          </q-card-section>

          <q-card-actions align="right">
            <q-btn flat label="Cancelar" color="primary" v-close-popup />
            <q-btn flat label="Aceptar" color="primary" @click="remove" />
          </q-card-actions>
        </q-card>
      </q-dialog>
    </q-dialog>
  </div>
</template>
<script>
/**
 * Modulo: Activiades
 * Componente: Agregar, Editar o Eliminar Actividad
 *
 *
 */
import Toolbar from "src/components/common/Toolbar";

import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: {
    Toolbar,
  },
  data: () => ({
    dialog: false,
    activity: {
      username: null,
      date: null,
      hour: null,
      placeShort: null,
      placeLarge: null,
      group: null,
      client: null,
      clientId: null,
      description: null,
    },
    localES: {
      days: "Domingo_Lunes_Martes_Miércoles_Jueves_Viernes_Sábado".split("_"),
      daysShort: "Dom_Lun_Mar_Mié_Jue_Vie_Sáb".split("_"),
      months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septiembre_Octubre_Noviembre_Diciembre".split(
        "_"
      ),
      monthsShort: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
      firstDayOfWeek: 1,
    },
    optionsGroup: [],
    keyClient: 1,
    action: null,
    documents: [],
    currentDocument: {
      label: "",
      value: "",
      mask: "",
    },
    dialogDelete: false,
  }),
  created() {},
  methods: {
    show(item, action) {
      this.dialog = true;
      this.action = action;
      if (item) this.activity = Object.assign({}, item);
      this.activity.username = this.$store.state.username;
      this.groups();
      this.documentsType();
    },
    hideDialog() {
      this.activity = {
        username: null,
        date: null,
        hour: null,
        placeShort: null,
        placeLarge: null,
        group: null,
        client: null,
        clientId: null,
        description: null,
      };
      this.$emit("hide");
    },
    validForm() {
      this.$refs.form.validate().then((res) => {
        if (res) {
          if (!this.activity.group && !this.activity.clientId)
            this.notifyError("El cliente ingresado no es válido");
          else this.validActivity();
        }
      });
    },
    validClient(val) {
      if (val && val.length >= this.currentDocument.mask.length) {
        let body = {
          numeroDocumento: val,
        };
        this.request("cliente/valid", body).then((response) => {
          if (response) {
            if (response.estado == 200) {
              if (response.data) {
                this.activity.clientId = response.data.id;
                this.activity.nameClient = response.data.nombre;
              } else {
                this.notifyError("El cliente ingresado no es válido");
                this.activity.clientId = null;
                this.activity.nameClient = null;
              }
            } else {
              this.notifyError("Error al obtener datos ");
            }
            this.keyClient++;
          }
        });
      }
    },
    validActivity() {
      if (this.activity.time != null && this.activity.time.trim().length != 0) {
        let day = this.getPartDate("D", this.activity.date);
        let month = this.getPartDate("M", this.activity.date);
        let year = this.getPartDate("Y", this.activity.date);
        let time = this.activity.time;
        if (this.action == "ADD") this.$emit("validActivity", day, month, year, time);
        else this.sendData();
      } else this.sendData();
    },
    sendData() {
      let body = {
        hora: this.activity.time,
        lugarDescripcionCorta: this.activity.placeShort,
        lugarDescripcionLarga: this.activity.placeLarge,
        idGrupo: this.activity.group ? this.activity.group.value : 0,
        idCliente: this.activity.clientId || 0,
        dia: this.getPartDate("D", this.activity.date),
        mes: this.getPartDate("M", this.activity.date),
        anio: this.getPartDate("Y", this.activity.date),
        idOfi: this.$store.state.officeId,
        descripcion: this.activity.description,
        idEstado: 1,
      };

      let url;
      if (this.action == "UPDATE") {
        body.id = this.activity.id;
        url = "actividades/upd";
      } else url = "actividades/add";
      this.request(url, body).then((response) => {
        if (response) {
          if (response.estado == 1) {
            if (this.action == "UPDATE")
              this.notifySuccess("Actividad editada correctamente");
            else this.notifySuccess("Actividad creada correctamente");

            this.dialog = false;
            this.activity = {
              date: null,
              hour: null,
              placeShort: null,
              placeLarge: null,
              group: null,
              client: null,
              clientId: null,
              description: null,
            };
            this.$emit("getData");
          } else this.notifyError();
        }
      });
    },
    groups() {
      if (this.optionsGroup.length == 0) {
        this.request("grupos", {}).then((response) => {
          if (response) {
            this.optionsGroup.length = 0;
            let tempOptions = [];
            response.data.map((item) => {
              tempOptions.push({
                value: item.codigo,
                label: item.nombre,
              });
            });
            this.optionsGroup = tempOptions;
            if (this.activity.groupId) {
              this.activity.group = {
                value: this.activity.groupId,
                label: this.activity.group,
              };
            }
          }
        });
      }
    },
    documentsType() {
      if (this.documents.length == 0) {
        this.request("tipo/identificacion", {}).then((response) => {
          if (response) {
            if (response.estado == 200) {
              this.documents = [];
              response.data.map((item) => {
                this.documents.push({
                  value: item.id,
                  label: item.descripcion,
                  mask: this.formatMask(item.mascara),
                });
              });

              if (this.action != "ADD") {
                this.currentDocument = this.documents.filter(
                  (item) => item.value == this.activity.documentId
                )[0];
                if (!this.currentDocument) {
                  this.currentDocument = {
                    label: "",
                    value: "",
                    mask: "",
                  };
                }
                console.log(this.currentDocument);
              }
            } else this.notifyError("Error al obtener los datos ");
          }
        });
      }
    },
    formatMask(mask) {
      let newMask = "";
      if (mask) {
        mask.split("").map((item) => {
          if (item == "9") newMask += "#";
          else if (item == "*") newMask += "N";
          else if (item == "a") newMask += "S";
          else newMask += item;
        });
      }

      return newMask;
    },

    clearClient() {
      this.activity.clientId = null;
      this.activity.nameClient = null;
      this.keyClient++;
    },
    clearGroup() {
      this.activity.group = null;
    },
    selectDocument() {
      this.activity.nameClient = null;
      this.activity.client = "";
    },
    selectGroup(val) {},
    remove() {
      this.request("actividades/del", { id: this.activity.id }).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.notifySuccess("Actividad eliminada");
            this.dialog = false;
            this.dialogDelete = false;
            this.$emit("getData");
          } else this.notifyError("Error al eliminar la actividad");
        }
      });
    },
    exitsActivity() {
      this.$q
        .dialog({
          title: "Agregar actividad",
          cancel: {
            label: "Cancelar",
            flat: true,
          },
          ok: {
            label: "Aceptar",
            flat: true,
          },
          message:
            "Ya existe una actividad en el horario indicado, ¿Desea agregar la actividad?",
        })
        .onOk(() => {
          // console.log('OK')
          this.sendData();
        })
        .onCancel(() => {
          // console.log('Cancel')
        })
        .onDismiss(() => {
          // console.log('I am triggered on both OK and Cancel')
        });
    },
  },
};
</script>
