<template>
  <div style="min-height: 100vh; margin-top: 66px" class="relative-position">
    <div class="q-pa-md">
      <p class="text-subtitle1 text-bold q-mb-none">
        {{ getMonthName(currentMonth + 1) }}
      </p>
      <p class="text-grey q-mb-none">{{ currentYear }}</p>
      <swiper
        class="swiper"
        :options="swiperOption"
        @slide-change-transition-end="slideChange"
      >
        <swiper-slide
          class="day flex column justify-center text-center q-pt-sm q-pb-sm rounded-borders"
          v-for="(item, index) in days"
          :key="index"
        >
          <span class="text-grey text-caption">{{ item.dayName }}</span>
          <span class="text-subtitle1">{{ item.dayNumber }}</span>
        </swiper-slide>

        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>
      <div class="q-mt-lg">
        <div class="row">
          <div style="min-width: 59px" class="q-mr-sm">
            <p class="text-grey" style="font-size: 12px">Todo el día</p>
          </div>
          <div class="col">
            <div
              class="row q-mt-xs q-mb-xs"
              v-for="(item, index) in activitiesAllDay"
              :key="index"
            >
              <div
                @click="openActivity(item)"
                class="q-mb-xs q-pa-sm bg-grey-3 activity text-grey-8 full-width"
              >
                {{ item.description }} - {{ item.placeShort }}
              </div>
            </div>
          </div>
        </div>

        <div class="row q-mt-xs q-mb-xs" v-for="(item, index) in getData()" :key="index">
          <div style="min-width: 59px" class="q-mr-sm">
            <p class="text-grey" style="font-size: 12px">{{ item.hourFormat }}</p>
          </div>
          <div>
            <div
              v-for="(element, index) in activitiesByDay(item.activities)"
              :key="index"
              class="q-mb-sm q-pa-sm bg-grey-3 activity text-grey-8"
              @click="openActivity(element)"
            >
              {{ element.description }} - {{ element.placeShort }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <q-inner-loading :showing="visibleLoading" style="position: fixed; z-index: 10">
      <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
  </div>
</template>
<script>
/**
 * Modulo: Actividades
 * Desc: Utlizada en Activities.vue para la vista Dia de las actividades
 * 
 */
import { Swiper, SwiperSlide, directive } from "vue-awesome-swiper";
import Util from "src/mixin/Util";
import "swiper/swiper-bundle.css";

export default {
  mixins: [Util],
  props: {
    date: String,
    activities: Array,
  },
  components: {
    Swiper,
    SwiperSlide,
  },

  data: () => ({
    days: [],
    data: [],
    keySwiper: 1,
    currentDay: null,
    currentMonth: null,
    currentYear: null,
    currentDate: null,
    swiperOption: {
      initialSlide: 0,
      slidesPerView: 5,
      spaceBetween: 8,
      centeredSlides: true,
      swiperOption: {},
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    },
    test: "no updated",
    visibleLoading: false,
    changeCurrentDate: null,
  }),

  created() {
    let date = this.date.split("/");
    this.currentDate = new Date(`${date[0]}/${date[1]}/${date[2]}`);
    this.currentDay = this.currentDate.getDate();
    this.currentMonth = this.currentDate.getMonth();
    this.currentYear = this.currentDate.getFullYear();
    this.getDays();
    this.swiperOption = {
      initialSlide: this.currentDay - 1,
      slidesPerView: 5,
      spaceBetween: 8,
      centeredSlides: true,
      pagination: {
        el: ".swiper-pagination",
        clickable: true,
      },
    };
  },

  methods: {
    slideChange(event) {
      this.$q.loading.show();
      setTimeout(() => {
        this.currentDay = event.activeIndex + 1;
        this.$q.loading.hide();
      }, 150);
    },
    getDays() {
      var lastDayOfMonth = new Date(this.currentYear, this.currentMonth + 1, 0);
      this.days = [];
      var days = ["DO", "LU", "MA", "MI", "JU", "VI", "SA"];

      for (let i = 0; i < lastDayOfMonth.getDate(); i++) {
        let date = new Date(
          this.currentMonth + 1 + "/" + (i + 1) + "/" + this.currentYear
        );
        let model = {
          dayName: days[date.getDay()],
          dayNumber: i + 1,
        };
        this.days.push(model);
      }
    },
    getData(activities) {
      let data = !activities ? this.activities : activities;
      let objects = [];
      for (let i = 0; i < 24; i++) {
        let model = {
          hour: i,
          hourFormat: this.getFormarHour(i),
          activities: data.filter(
            (item) => item.time && parseInt(item.time.split(":")[0]) == i
          ),
        };
        objects.push(model);
      }
      return objects;
    },
    render() {
      this.getData();
    },
    activitiesByDay(activities) {
      return activities.filter(
        (item) => item.day == this.currentDay && item.month == this.currentMonth + 1
      );
    },
    openActivity(item) {
      this.$emit("openActivity", item, item.stateId == 2 ? "VIEW" : "UPDATE");
    },
  },
  async mounted() {},

  computed: {
    activitiesAllDay() {
      return this.activities.filter(
        (item) =>
          !item.time && item.day == this.currentDay && item.month == this.currentMonth + 1
      );
    },
  },
};
</script>
<style scoped lang="sass">
.container-days
  overflow-x: scroll
  display: flex

.day
  width: 14%
  min-width: 14%
  transition: all 200ms linear
  transform: scale(0.85)
  font-size: 1.1em

.active
  background: #f44336
  border-radius: 10px
  color: #fff


.activity
  border-radius: 10px

.swiper-slide-active
  transform: scale(1)
  background: $red

.swiper-slide-active span
  color: #FFF !important
</style>
