<template>
  <div class="q-pa-md" style="margin-top: 66px">
    <div class="q-pa-sm">
      <div class="row">
        <div class="col">
          <p class="text-subtitle1 text-bold q-mb-none">Semanal</p>
          <p class="text-grey q-mb-none q-mb-md">{{ currentDate.getFullYear() }}</p>
        </div>
        <div>
          <q-btn flat icon="keyboard_arrow_left" color="red" round @click="previewWeek">
          </q-btn>
          <q-btn
            flat
            icon="keyboard_arrow_right"
            class="q-ml-md"
            color="red"
            round
            @click="nextWeek"
          >
          </q-btn>
        </div>
      </div>

      <swiper
        :key="keyMonth"
        ref="swiperMonth"
        class="swiper"
        :options="swiperOptionMonths"
        @slide-change-transition-end="slideChange"
      >
        <swiper-slide
          v-for="(item, index) in months"
          :key="index"
          class="day flex column justify-center text-center q-pt-sm q-pb-sm rounded-borders"
        >
          <span class="text-grey">{{ item.name }}</span>
        </swiper-slide>

        <div class="swiper-pagination" slot="pagination"></div>
      </swiper>

      <div ref="activities" class="overflow q-mt-sm" id="container">
        <transition name="slide-fade" mode="out-in">
          <div :key="keyActivity">
            <div class="row">
              <div class="col-3"></div>
              <div class="col-9 flex flex no-wrap container-activities">
                <div
                  class="flex column activity-day"
                  v-for="(item, index) in days"
                  :key="index"
                >
                  <span class="text-grey text-caption text-center">{{
                    item.dayName
                  }}</span>
                  <span class="text-subtitle1 text-center">{{ item.dayNumber }}</span>
                </div>
              </div>
            </div>

            <div class="bg-white box"></div>

            <div class="row q-mt-sm q-mb-sm" style="min-height: 40px">
              <div
                class="col-3 hour bg-white full-height q-mb-md"
                style="margin-left: -2px"
              >
                <p class="text-grey">Todo el día</p>
              </div>

              <div class="col-9 flex no-wrap container-activities">
                <div v-for="(element, index) in days" :key="index" class="activity-day">
                  <div
                    v-for="(activity, j) in activities.filter(
                      (a) =>
                        !a.time &&
                        a.day == element.dayNumber &&
                        parseInt(a.month) == parseInt(element.date.getMonth() + 1)
                    )"
                    :key="j"
                    class="q-ma-xs q-pa-sm bg-grey-3 text-grey-8 radius-10 text-caption"
                    @click="openActivity(activity)"
                  >
                    {{ activity.description }} - {{ activity.placeShort }}
                  </div>
                </div>
              </div>
            </div>

            <div
              class="row q-mt-sm q-mb-sm"
              v-for="(item, index) in getData()"
              :key="index"
              style="min-height: 40px"
            >
              <div
                class="col-3 hour bg-white full-height q-mb-md"
                style="margin-left: -2px"
              >
                <p class="text-grey">{{ item.hourFormat }}</p>
              </div>

              <div class="col-9 flex no-wrap container-activities">
                <div v-for="(element, index) in days" :key="index" class="activity-day">
                  <div
                    v-for="(activity, j) in item.activities.filter(
                      (a) =>
                        a.day == element.dayNumber &&
                        parseInt(a.month) == parseInt(element.date.getMonth() + 1)
                    )"
                    :key="j"
                    class="q-ma-xs q-pa-sm bg-grey-3 text-grey-8 radius-10 text-caption"
                    @click="openActivity(activity)"
                  >
                    {{ activity.description }} - {{ activity.placeShort }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </transition>
      </div>
    </div>
  </div>
</template>
<script>
/**
 * Modulo: Actividades
 * Componente: Utilizado en Activities.vue para ver las actividades en vista semana
 */
import { Swiper, SwiperSlide, directive } from "vue-awesome-swiper";
import Util from "src/mixin/Util";
import "swiper/swiper-bundle.css";

export default {
  props: {
    date: String,
    activities: Array,
  },
  mixins: [Util],
  components: {
    Swiper,
    SwiperSlide,
  },

  data: () => ({
    days: [],
    data: [],
    keySwiper: 1,
    currentDate: null,
    swiperOption: {},
    swiperOptionMonths: {},
    months: {},
    swiperMonth: 1,
    currentYear: 0,
    keyMonth: 0,
    keyActivity: 0,
  }),

  created() {
    let date = this.date.split("/");
    this.currentDate = new Date(`${date[0]}/${date[1]}/${date[2]}`);
    this.currentYear = this.currentDate.getFullYear();
    this.setDayToInitWeek();
    this.months = this.getMonths();
    this.days = this.getDays();
    this.swiperOption = {
      //initialSlide: this.currentDate.getDay() < 2 ? 0 : this.currentDate.getDay(),
      initialSlide: 0,
      slidesPerView: 3,
      spaceBetween: 0,

      pagination: {
        el: ".swiper-pagination2",
        clickable: true,
      },
      noSwiping: true,
      onlyExternal: true,
      allowSlideNext: false,
      allowSlidePrev: false,
    };
    this.swiperOptionMonths = {
      slidesPerView: "auto",
      initialSlide: this.currentDate.getMonth(),
      spaceBetween: 1,
      centeredSlides: true,
      pagination: {
        el: ".swiper-pagination2",
        clickable: true,
      },
    };
  },

  methods: {
    setDayToInitWeek() {
      var first = this.currentDate.getDate() - this.currentDate.getDay();
      this.currentDate.setDate(first);
    },
    getDays() {
      let tempDays = [];
      var days = ["DO", "LU", "MA", "MI", "JU", "VI", "SA"];

      for (let i = this.currentDate.getDate(); i < this.currentDate.getDate() + 7; i++) {
        console.log(
          new Date(this.currentDate.getFullYear(), this.currentDate.getMonth(), i)
        );

        let date = new Date(
          this.currentDate.getFullYear(),
          this.currentDate.getMonth(),
          i
        );
        let model = {
          dayName: days[date.getDay()],
          dayNumber: date.getDate(),
          date: date,
        };
        tempDays.push(model);
      }

      return tempDays;
    },
    getData(activities) {
      let data = !activities ? this.activities : activities;
      let objects = [];
      for (let i = 0; i < 24; i++) {
        let model = {
          hour: i,
          hourFormat: this.getFormarHour(i),
          activities: data.filter(
            (item) => item.time && parseInt(item.time.split(":")[0]) == i
          ),
        };

        objects.push(model);
      }
      return objects;
    },

    getMonths() {
      let tempMonths = [];
      let monthsName = "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septimbre_Octubre_Noviembre_Diciembre".split(
        "_"
      );
      monthsName.map((item) => {
        let model = {
          name: item,
          active: false,
        };
        tempMonths.push(model);
      });
      return tempMonths;
    },
    nextWeek() {
      this.keyActivity++;
      var container = this.$el.querySelector("#container");
      container.scrollLeft = 0;
      this.currentDate = this.addDays(this.currentDate, 7);
      this.days = this.getDays();
      if (this.currentDate.getMonth() != this.days[this.days.length - 1].date.getMonth())
        this.$emit("changeDate", this.currentDate, true);
      else this.$emit("changeDate", this.currentDate, false);
      this.$refs.swiperMonth.$swiper.activeIndex = this.currentDate.getMonth();
    },
    previewWeek() {
      this.keyActivity++;
      var container = this.$el.querySelector("#container");
      container.scrollLeft = 0;
      this.currentDate = this.restDays(this.currentDate, 7);
      this.days = this.getDays();
      if (this.currentDate.getMonth() != this.days[this.days.length - 1].date.getMonth())
        this.$emit("changeDate", this.currentDate, true);
      else this.$emit("changeDate", this.currentDate, false);
      this.$refs.swiperMonth.$swiper.activeIndex = this.currentDate.getMonth();
    },
    slideChange(event) {
      this.$refs.activities.scrollLeft = 0;
      this.currentDate = new Date(this.currentYear, event.activeIndex, 1);
      this.$emit("changeDate", this.currentDate, true);
      this.setDayToInitWeek();
      this.days = this.getDays();
      this.$forceUpdate();
    },
    slideChangeTransitionStart(event) {},
    scollActivities(event) {
      this.$refs.swiper.scrollLeft = this.$refs.activities.scrollLeft;
    },
    scrollSwiper(event) {},
    addDays(date, days) {
      return new Date(date.getFullYear(), date.getMonth(), date.getDate() + days);
    },
    restDays(date, days) {
      return new Date(date.getFullYear(), date.getMonth(), date.getDate() - days);
    },
    render() {
      this.$forceUpdate();
    },
    openActivity(item) {
      this.$emit("openActivity", item, item.stateId == 2 ? "VIEW" : "UPDATE");
    },
  },
};
</script>
<style scoped lang="sass">
.container-days
  overflow-x: scroll
  display: flex

.day
  width: 14%
  min-width: 14%
  transition: all 200ms linear
  transform: scale(0.85)
  font-size: 1.1em

.active
  background: #f44336
  border-radius: 10px
  color: #fff

.active-dayname
  color: #FFF !important

.activity
  border-radius: 10px

.activity-day
  width: 33.33%
  min-width: 33.33%
  border-radius: 10px

.overflow
  overflow-x: scroll

.container-activities
  margin-left: 28%

.radius-10
  border-radius: 10px

.hour
  position: absolute

.card-container
  position: relative
  overflow: hidden

.box
  height: 50px
  width: 16.666%
  position: absolute
  margin-top: -45px
  z-index: 10


.swiper-slide
  min-width: 75px
  padding: 8px 12px

.not-active .swiper-slide
  min-width: auto !important
  padding: 0px !important

.swiper-slide-active
  transform: scale(1)
  background: $red


.not-active .swiper-slide-active
  transform: scale(0.85)
  background: #fff

.swiper-slide-active span
  color: #FFF !important

.not-active .swiper-slide-active span
  color: #111 !important

.slide-fade-enter-active
  transition: all .1s ease

.slide-fade-leave-active
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
  transform: translateX(10px)
  opacity: 0
</style>
