<template>
  <div>
    <q-dialog
      v-model="dialog"
      @hide="closeDialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          v-if="action == 'ADD' || action == 'UPDATE'"
          :title="action == 'UPDATE' ? 'Editar Proyección' : 'Agregar Proyección'"
          @back="dialog = false"
          button-title="ACEPTAR"
          icon-close="close"
          @send="sendData"
        >
        </toolbar>
        <toolbar v-else title="Ver Proyección" @back="dialog = false" icon-close="close">
        </toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-mt-md">
          <q-form action ref="form" class="q-pa-sm">
            <q-input
              label="Mes y Año"
              v-model="projection.date"
              :rules="[(val) => !!val || 'Seleccione mes y año']"
              readonly
              @click="openDate"
              :disable="action == 'UPDATE' || action == 'VIEW'"
            >
            </q-input>
            <q-input
              bottom-slots
              v-model.number="projection.noClients"
              label="No. Clientes que vencen"
              :rules="[
                (val) => !!val || 'Ingrese No. clientes que vencen',
                (val) =>
                  parseInt((val + '').split(',').join('')) > 0 ||
                  'El valor ingresado no es válido',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              type="number"
              :disable="action == 'VIEW'"
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="projection.amountOvercome"
              label="Monto otorgado cliente vencen"
              :rules="[
                (val) => !!val || 'Ingrese monto otorgado cliente vencen',
                (val) =>
                  parseInt((val + '').split(',').join('')) >= 0 ||
                  'El monto ingresado no es válido',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              :disable="action == 'VIEW'"
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="projection.renumberingA"
              label="Recuperación capital A"
              :rules="[
                (val) => !!val || 'Ingrese recuperación capital A',
                (val) =>
                  parseInt((val + '').split(',').join('')) >= 0 ||
                  'El monto ingresado no es válido',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              @input="sumAmounts"
              :disable="action == 'VIEW'"
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="projection.increaseB"
              label="Crecimiento esperado del mes B"
              :rules="[
                (val) => !!val || 'Ingrese crecimiento del mes esperado B',
                (val) =>
                  parseInt((val + '').split(',').join('')) >= 0 ||
                  'El monto ingresado no es válido',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              @input="sumAmounts"
              :disable="action == 'VIEW'"
            >
            </q-input>
            <q-input
              bottom-slots
              v-model="projection.estimateC"
              label="Estimación cancelación anticipada C"
              :rules="[
                (val) => !!val || 'Ingrese estimación  cancelación anticipada C ',
                (val) =>
                  parseInt((val + '').split(',').join('')) >= 0 ||
                  'El monto ingresado no es válido',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              @input="sumAmounts"
              :disable="action == 'VIEW'"
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="projection.reductionD"
              label="Reducción de brecha D"
              :rules="[
                (val) => !!val || 'Ingrese reduccion de brecha D',
                (val) =>
                  parseInt((val + '').split(',').join('')) >= 0 ||
                  'El monto ingresado no es válido',
              ]"
              maxlength="30"
              class="full-width"
              color="grey-8"
              v-currency="{ currency: null, locale: 'en' }"
              prefix="Q "
              @input="sumAmounts"
              :disable="action == 'VIEW'"
            >
            </q-input>

            <q-input
              bottom-slots
              v-model="projection.placement"
              label="Colocación neta A+B+C+D"
              :rules="[(val) => !!val || 'Ingrese colocación Neta A+B+C+D']"
              maxlength="30"
              class="full-width"
              color="grey-8"
              readonly
              prefix="Q "
              v-currency="{ currency: null, locale: 'en' }"
              :disable="action == 'VIEW'"
            >
            </q-input>
          </q-form>
        </div>
      </q-card>
    </q-dialog>
    <date-dialog ref="dateDialog" @date="dateSelected"></date-dialog>
  </div>
</template>
<script>
/**
 * Modulo: Planificador de Céditos
 * Desc: Componente para editar, ver, agregar proyecciones
 * Rol: Asesor
 */
import Toolbar from "src/components/common/Toolbar";
import HeaderData from "src/components/common/HeaderData";
import Util from "src/mixin/Util";
import DateDialog from "src/components/common/DateDialog";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    DateDialog,
  },
  data: () => ({
    dialog: false,
    dataHeader: [],
    projection: {
      noClients: "",
      amountOvercome: "",
      renumberingA: "",
      increaseB: "",
      estimateC: "",
      reductionD: "",
      placement: "",
      date: null,
      month: null,
      year: null,
    },
    action: null,
  }),
  created() {
    this.dataHeader = [
      {
        label: "Asesor",
        value: this.$store.state.username,
      },
      {
        label: "Agencia",
        value: this.$store.state.office,
      },
      {
        label: "Gerente Agencia",
        value: this.$store.state.supervisorName,
      },
    ];
  },
  methods: {
    show(item, action) {
      this.dialog = true;
      this.action = action;
      if (item) {
        this.projection = Object.assign({}, item);
        this.projection.date = `${this.getMonthName(item.month)} - ${item.year}`;
        if (this.projection.noClients.split(".").length == 2)
          this.projection.noClients = this.projection.noClients.split(".")[0];
      }
    },
    hideDialog() {},
    sendData() {
      this.$refs.form.validate().then((res) => {
        if (res) {
          let body = {
            idOficina: this.$store.state.officeId,
            noClientesVencenNcm: this.projection.noClients,
            otorgadoClientesVencenNcm: this.formatToParse(this.projection.amountOvercome),
            recuperacionCapitalNcm: this.formatToParse(this.projection.renumberingA),
            crecimientoEsperadoNcm: this.formatToParse(this.projection.increaseB),
            estimacionCancelacionAnticipadaNcm: this.formatToParse(
              this.projection.estimateC
            ),
            reduccionBrechaNcm: this.formatToParse(this.projection.reductionD),
            colocacionNetaNcm: this.formatToParse(this.projection.placement),
            anioNcm: this.projection.year,
            mesNcm: this.projection.month,
            idEstadoMes: 1,
            idEstado: 1,
            nivelUsuario: parseInt(localStorage.getItem("hierarchyId")) || 0,
          };
          let url;
          if (this.action == "UPDATE") {
            body.id = this.projection.id;
            url = "asesor/cartera/mes/upd";
          } else {
            body.idNsp = this.$store.state.supervisorId;
            url = "asesor/cartera/mes/add";
          }
          this.request(url, body).then((response) => {
            if (response) {
              if (response.estado == 1) {
                if (this.action == "UPDATE")
                  this.notifySuccess("Proyección cambiada correctamente");
                else this.notifySuccess("Proyección agregado correctamente");
                this.dialog = false;
                this.closeDialog();
                this.$emit("getData");
              } else this.notifyError(response.data);
            }
          });
        }
      });
    },
    dateSelected(month, year, fullDate) {
      this.projection.month = month;
      this.projection.year = year;
      this.projection.date = fullDate;
    },
    openDate() {
      this.$refs.dateDialog.show();
    },
    sumAmounts() {
      let total = 0;
      total += parseFloat(this.formatToParse(this.projection.renumberingA));
      total += parseFloat(this.formatToParse(this.projection.increaseB));
      total += parseFloat(this.formatToParse(this.projection.estimateC));
      total += parseFloat(this.formatToParse(this.projection.reductionD));
      this.projection.placement = total.toFixed(2);
    },
    closeDialog() {
      this.$emit("hide");
      this.projection = {
        noClients: "",
        amountOvercome: "",
        renumberingA: "",
        increaseB: "",
        estimateC: "",
        reduction: "",
        placement: "",
        date: null,
        month: null,
        year: null,
      };
    },
  },
};
</script>
