<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="scale"
      transition-hide="scale"
      @hide="hide"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Asesores" @back="dialog = !dialog" icon-close="close"></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md q-mb-xl">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ item.title }}
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            emptyMessage="No se han encontrado asesores"
            :data="data"
            @faciliting="faciliting"
            @autorize="autorize"
            @view="view"
            @results="results"
          ></list-actions>
        </div>
      </q-card>
    </q-dialog>
    <monthly-advisors-projection
      ref="monthlyAdvisorsProjection"
      @getData="getData(true)"
    ></monthly-advisors-projection>
    <approve-screening
      ref="approveScreening"
      @getData="getData(true)"
    ></approve-screening>
    <see-screening ref="seeScreening"></see-screening>
    <expected-result-month-advisor ref="monthAdvisor"></expected-result-month-advisor>
  </div>
</template>
<script>
/***
 * Modulo: Planificador de creditos
 * Desc: Componente para ver los asesores del supervisor
 * Rol: Supervisor
 */
import HeaderData from "src/components/common/HeaderData";
import ListActions from "src/components/common/ListActions";
import Toolbar from "src/components/common/Toolbar";
import MonthlyAdvisorsProjection from "src/components/credit-planner/MonthlyAdvisorsProjection.vue";
import ExpectedResultMonthAdvisor from "src/components/credit-planner/ExpectedResultMonthAdvisor.vue";
import ApproveScreening from "./ApproveScreening";
import SeeScreening from "./SeeScreening";

// mixin
import Util from "src/mixin/Util";
export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    ListActions,
    MonthlyAdvisorsProjection,
    ExpectedResultMonthAdvisor,
    SeeScreening,
    ApproveScreening,
  },
  props: {},
  data: () => ({
    dialog: false,
    dataHeader: [],
    optionsLeft: [],
    data: [],
    item: {},
    options: [],
    keyList: 0,
    emitToParent: false,
  }),
  created() {
    this.dataHeader = [
      {
        label: "Oficina",
        value: this.$store.state.office,
      },
      {
        label: "Gerente Agencia",
        value: this.$store.state.username,
      },
    ];
  },
  methods: {
    show(item, options) {
      this.dialog = true;
      this.item = Object.assign({}, item);
      this.options = options;
      this.getData();
    },
    getData(emitToParent) {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        idOfi: this.$store.state.officeId,
      };

      this.request("gestor/cartera/mes/asesor", body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            const data = response.data;
            this.data = [];
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let model = {
                  id: item.id,
                  title: item.nombre,
                  description: item.estado,
                  month: this.item.month,
                  year: this.item.year,
                  adviserId: item.id,
                    alwaysAutorize: this.item.alwaysAutorize,
                };

                model.hiddenOptionsLeft = [];
                /**
                 * Si el planAsesor = 0 es decir, si el usuario no tiene niniguna proyeccion en el mes seleccionado oculta las opciones "Autorizar, Ver y R. esprado"
                 *
                 * De lo contrario si tiene algun plan y ya esta autorizdo oculta la opcion "Autorizar" sino entonces oculta la opcion "Ver"
                 */
                if (item.planAsesor == 0) model.hiddenOptionsLeft = [1, 2, 3];
                else {
                  if (item.planAsesor == 2) model.hiddenOptionsLeft.push(1);
                  else model.hiddenOptionsLeft.push(2);
                }

                /**
                 * Si no hay ningun facilitador que tenga alguna proyeccion para el asesor entonces oculta la opcion facilitadores
                 */

                if (item.facilitadores == 0) {
                  model.hiddenOptionsLeft.push(0);
                }

                this.data.push(model);
              });
              if (emitToParent) this.emitToParent = true;
            }
            this.fillOptions();
          } else {
            this.notifyError("Error al obtener datos");
          }
        }
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Facilitadores",
          icon: "fas fa-users",
          action: "faciliting",
          enable: this.isEnableOption(this.options, 8),
        },
        {
          title: "Autorizar",
          icon: "fas fa-check-circle",
          action: "autorize",
          enable: this.isEnableOption(this.options, 9),
        },
        {
          title: "Ver",
          icon: "far fa-eye",
          action: "view",
          enable: this.isEnableOption(this.options, 10),
        },
        {
          title: "R. Esperado",
          icon: "fas fa-check",
          action: "results",
          enable: this.isEnableOption(this.options, 11),
        },
      ];
      this.keyList++;
    },
    monthName(month) {
      return this.getMonthName(month);
    },
    faciliting(item) {
      this.$refs.monthlyAdvisorsProjection.show(item, this.options);
    },
    autorize(item) {
      this.$refs.approveScreening.show(item);
    },
    view(item) {
      this.$refs.seeScreening.show(item);
    },
    results(item) {
      this.$refs.monthAdvisor.show(item);
    },
    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
  },
};
</script>
