<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Aprobar Proyección" @back="dialog = false"></toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="q-pb-lg">
          <div class="card q-mt-md q-mb-xl">
            <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
              {{ monthName(item.month) }} {{ item.year }}
            </p>
            <q-list>
              <q-item v-for="(item, index) in dataBody" :key="index">
                <q-item-section>
                  <q-item-label>{{ item.label }}</q-item-label>
                  <q-item-label caption lines="1">{{ item.value }}</q-item-label>
                </q-item-section>
              </q-item>
            </q-list>
          </div>
        </div>

        <div class="fixed fixed-bottom shadow-1">
          <div class="row shadow-8 bg-white">
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(3)"
                label="Rechazar"
                text-color="primary"
                flat
                color="white"
                class="full-width"
                icon="clear"
              ></q-btn>
            </div>
            <div class="col q-pa-sm">
              <q-btn
                @click="changeState(2)"
                label="Aprobar"
                unelevated
                color="primary"
                class="full-width"
                icon="done"
              ></q-btn>
            </div>
          </div>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/**
 * Modulo: Planificador de Céditos
 * Desc: Componente para aprobar proyecciones
 * Rol: Supervisor
 */
import HeaderData from "../common/HeaderData";
import Toolbar from "../common/Toolbar";

// mixin
import Util from "src/mixin/Util";

export default {
  components: { Toolbar, HeaderData },
  mixins: [Util],
  data() {
    return {
      dialog: false,
      dataHeader: [],
      dataBody: [],
      item: {},
      hierarchyId: parseInt(localStorage.getItem("hierarchyId")) || 0,
    };
  },
  methods: {
    show(item) {
      this.dialog = true;
      this.item = Object.assign({}, item);
      this.getData();
      this.dataHeader = [
        {
          label: "Agencia",
          value: this.$store.state.office,
        },
        {
          label:
            this.hierarchyId == this.USER_LEVEL_1 ? "Gerente Agencia" : "Asesor Crédito",
          value: this.$store.state.username,
        },
        {
          label: "Facilitador",
          value: item.title,
        },
      ];
    },
    getData() {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        estado: this.item.stateId,
        idNus: this.item.id,
      };

      this.request("cartera/asesor/proyeccion", body).then((response) => {
        if (response) {
          if (response.estado === 200) {
            const data = response.data[0];

            // const key = Object.keys(data);
            const value = Object.values(data);

            // console.log({ key, value });

            let parseData = [
              {
                label: "No. Clientes que vencen",
                value: value[0],
              },
              {
                label: "Monto otorgado cliente vencen",
                value: this.getFormatMoney(value[6]),
              },
              {
                label: "Recuperación de capital A",
                value: this.getFormatMoney(value[5]),
              },
              {
                label: "Crecimiento esperado del mes B",
                value: this.getFormatMoney(value[3]),
              },
              {
                label: "Estimación cancelación anticipada C",
                value: this.getFormatMoney(value[11]),
              },
              {
                label: "Reducción de brecha D",
                value: this.getFormatMoney(value[4]),
              },
              {
                label: "Colocación Neta A+B+C+D",
                value: this.getFormatMoney(value[7]),
              },
            ];

            this.dataBody = parseData;
          } else this.notifyError("Error al obtener datos ");
        }
      });
    },
    changeState(state) {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        estado: state,
        idNus: this.item.id,
      };

      this.request("cartera/asesor/proyeccion/estado", body).then((response) => {
        if (response) {
          if (response.estado == 1) {
            this.dialog = false;
            if (state == 2) this.notifySuccess("Proyección aprobada correctamente");
            else this.notifySuccess("Proyección rechazada correctamente");
            this.$emit("getData");
          } else {
            if (state == 2) this.notifyError("Error al aprobar la proyección");
            else this.notifyError("Error al rechazar la proyección");
          }
        }
      });
    },
    monthName(month) {
      return this.getMonthName(month);
    },
  },
  mounted() {},
};
</script>
