<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Resultados esperados mes" @back="dialog = false"> </toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ monthName(item.month) }} {{ item.year }}
          </p>
          <q-list>
            <q-item v-for="(item, index) in dataBody" :key="index">
              <q-item-section>
                <q-item-label>{{ item.labelOne }}</q-item-label>
                <q-item-label caption lines="1">{{ item.labelTwo }}</q-item-label>
              </q-item-section>
              <q-item-section side top>
                <q-item-label caption>{{ item.valueOne }}</q-item-label>
                <q-item-label caption>{{ item.valueTwo }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/**
 * Modulo: Planificador de Céditos
 * Desc: Componente para ver resultados esperado del mes
 * Rol: Supervisor
 */
import Toolbar from "../common/Toolbar";
import HeaderData from "../common/HeaderData";
import BodyData from "../common/BodyData";
import Util from "src/mixin/Util";

export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    BodyData,
  },
  data() {
    return {
      dialog: false,
      dataHeader: [],
      dataBody: [],
      item: {},
      hierarchyId: parseInt(localStorage.getItem("hierarchyId")) || 0,
    };
  },
  methods: {
    show(item) {
      this.dialog = true;
      this.item = Object.assign({}, item);
      this.getData();
      this.dataHeader = [
        {
          label:
            this.hierarchyId == this.USER_LEVEL_1 ? "Gerente Agencia" : "Asesor Crédito",
          value: this.$store.state.username,
        },
        {
          label: "Agencia",
          value: this.$store.state.office,
        },
        {
          label: "Facilitador",
          value: item.title,
        },
      ];
    },
    getData() {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        estado: this.item.stateId,
        idNus: this.item.id,
      };
      this.request("cartera/resultado/mes", body).then((response) => {
        if (response) {
          if (response.estado === 200) {
            const data = response.data;
            this.dataBody = [];
            if (Array.isArray(data) && data.length !== 0) {
              data.map((item) => {
                let parseData = {
                  labelOne: item.tipo,
                  valueOne: `Meta: ${item.meta}`,
                  labelTwo: `logro: ${item.logro}`,
                  valueTwo: `Diferencia: ${item.diferencia}`,
                };

                this.dataBody.push(parseData);
              });
            }
          } else {
            this.notifyError("Error al obtener los datos");
          }
        }
      });
    },
    monthName(month) {
      return this.getMonthName(month);
    },
  },
  created() {},
};
</script>
