<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Resultados esperados mes" @back="dialog = false"> </toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ monthName(item.month) }} {{ item.year }}
          </p>
          <q-list>
            <q-item v-for="(item, index) in dataBody" :key="index" class="q-mb-md">
              <q-item-section>
                <q-item-label>{{ item.labelOne }}</q-item-label>
                <q-item-label caption lines="1">{{ item.labelTwo }}</q-item-label>
              </q-item-section>
              <q-item-section side top>
                <q-item-label caption>{{ item.valueOne }}</q-item-label>
                <q-item-label caption>{{ item.valueTwo }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/**
 * Modulo: Planificador de Céditos
 * Desc: Componente para ver resultados esperados del mes
 * Rol: Asesor
 */
import Toolbar from "../common/Toolbar";
import HeaderData from "../common/HeaderData";
import BodyData from "../common/BodyData";
// mixin
import Util from "app/src/mixin/Util";

export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    BodyData,
  },
  data() {
    return {
      dialog: false,
      dataHeader: [],
      item: {},
      dataBody: [],
    };
  },
  methods: {
    show(item) {
      this.item = Object.assign({}, item);
      this.dialog = true;
      this.getData();
    },
    getData() {
      const body = {
        mes: this.item.month,
        anio: this.item.year,
        estado: this.item.stateId,
      };
      this.dataBody.length = 0;
      this.request("cartera/resultado/mes", body).then((response) => {
        if (response) {
          if (response.estado === 200) {
            const data = response.data;
            if (Array.isArray(data) && data.length !== 0) {
              // console.log(data);

              data.map((el) => {
                const parseData = {
                  labelOne: el.tipo,
                  valueOne: `Meta: ${el.meta}`,
                  labelTwo: `logro: ${el.logro}`,
                  valueTwo: `Diferencia: ${el.diferencia}`,
                };

                this.dataBody.push(parseData);
              });
            }
          }
        }
      });
    },
    // from mixin
    monthName(month) {
      return this.getMonthName(month);
    },
  },
  mounted() {
    let isAsesor = localStorage.getItem("supervisorId");
    if (isAsesor) {
      this.dataHeader = [
        {
          label: "Asesor",
          value: this.$store.state.username,
        },
        {
          label: "Agencia",
          value: this.$store.state.office,
        },
        {
          label: "Gestor Agencia",
          value: this.$store.state.supervisorName,
        },
      ];
    } else {
      this.dataHeader = [
        {
          label: "Gerente Agencia",
          value: this.$store.state.username,
        },
        {
          label: "Agencia",
          value: this.$store.state.office,
        },
      ];
    }
  },
};
</script>
