<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar
          title="Cierre mensual"
          @back="dialog = false"
          button-title="CONFIRMAR"
          @send="send"
        >
        </toolbar>
        <header-data :data-header="dataHeader"></header-data>

        <div class="card q-pa-sm q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ monthName(item.month) }} {{ item.year }}
          </p>
          <q-list>
            <q-item v-for="(item, index) in data" :key="index" class="q-mt-sm">
              <q-item-section>
                <q-item-label>{{ item.title }}</q-item-label>
                <q-item-label
                  caption
                  lines="1"
                  v-for="(label, i) in item.left"
                  :key="i"
                  >{{ label }}</q-item-label
                >
              </q-item-section>
              <q-item-section side class="items-bottom">
                <q-item-label caption lines="1">{{ item.titleR }}</q-item-label>
                <q-item-label
                  caption
                  lines="1"
                  v-for="(label, i) in item.right"
                  :key="i"
                  >{{ label }}</q-item-label
                >
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/**
 * Modulo: Planificador de Céditos
 * Desc: Componente para cirre mensual
 * Rol: Supervisor
 */
import Toolbar from "../common/Toolbar";
import HeaderData from "../common/HeaderData";
import Util from "app/src/mixin/Util";

export default {
  name: "MonthlyClosure",
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
  },

  data() {
    return {
      dialog: false,
      dataHeader: [],
      data: [],
      item: {},
    };
  },
  methods: {
    show(item) {
      this.item = Object.assign({}, item);
      this.dialog = true;
      this.getData();
    },

    getData() {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        estado: this.item.stateId,
        empresaUsu: localStorage.getItem("companyUser"),
      };
      this.data.length = 0;
      this.request("cartera/cierre", body).then((res) => {
        if (res) {
          if (res.estado === 200) {
            const data = res.data;
            if (Array.isArray(data) && data.length !== 0) {
              data.map((el, index) => {
                index === 2 ? (el = "") : el;

                // console.log(el, "item");
                let keys = el ? Object.keys(el) : "";
                // console.log(keys, "keys");

                const key = (index) => {
                  if (keys.length !== 0) {
                    return keys[index].replace(/\b\w/g, (l) => l.toUpperCase());
                  }
                };

                const value = el ? Object.values(el) : "";

                let parseData = {
                  title: el.tipo,
                  left: [key(1), key(2), key(3)],
                  right: [value[1], value[2], value[3]],
                };
                this.data.push(parseData);
              });
            }
          }
        }
      });
    },
    monthName(month) {
      return this.getMonthName(month);
    },
    send() {
      // console.log("confirm");
      let body = {
        id: this.item.id,
        mes: this.item.month,
        anio: this.item.year,
      };
      let hierarchyId = parseInt(localStorage.getItem("hierarchyId")) || 0;
      let url =
        hierarchyId == this.USER_LEVEL_2
          ? "cartera/asesor/mes/estado"
          : "cartera/mes/estado";
      this.request(url, body).then((response) => {
        if (response) {
          if (response.estado == 200) {
            this.dialog = false;
            this.notifySuccess("Cierre realizado correctamente");
            this.$emit("getData");
          } else {
            this.notifyError(response.data);
          }
        }
      });
    },
  },
  created() {},
  mounted() {
    this.dataHeader = [
      {
        label: "Gerente Agencia",
        value: this.$store.state.username,
      },
      {
        label: "Oficina",
        value: this.$store.state.office,
      },
      {
        label: "Fecha sistema",
        value: this.$store.state.systemDate,
      },
    ];
  },
};
</script>
