<template>
  <div>
    <q-dialog
      @hide="hide"
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Facilitadores" @back="dialog = false"> </toolbar>
        <header-data :data-header="dataHeader"></header-data>
        <div class="card q-pa-sm q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ monthName(item.month) }} {{ item.year }}
          </p>
          <list-actions
            :key="keyList"
            :optionsLeft="optionsLeft"
            :optionsRight="optionsRight"
            :emptyMessage="emptyMessage"
            :data="data"
            @approveProjection="approveProjection"
            @approveHealth="approveHealth"
            @seeProjection="seeProjection"
            @seeHealth="seeHealth"
            @results="results"
          ></list-actions>
        </div>
      </q-card>
    </q-dialog>
    <approve-screening
      ref="ApproveScreening"
      @getData="getData(true)"
    ></approve-screening>
    <see-screening ref="SeeScreening"></see-screening>
    <expected-result-month-advisor ref="MonthAdvisor"></expected-result-month-advisor>
  </div>
</template>
<script>
/**
 * Modulo: Planificador de Céditos
 * Desc: Componente para ver las proyecciones mensuales de los asesores
 * Rol: Supervisor
 */
import Toolbar from "../common/Toolbar";
import HeaderData from "../common/HeaderData";
import ListActions from "../common/ListActions";
import ExpectedResultMonthAdvisor from "src/components/credit-planner/ExpectedResultMonthAdvisor.vue";
import ApproveScreening from "./ApproveScreening";
import SeeScreening from "./SeeScreening";

// mixin
import Util from "src/mixin/Util";

export default {
  mixins: [Util],
  components: {
    Toolbar,
    HeaderData,
    ListActions,
    ApproveScreening,
    SeeScreening,
    ExpectedResultMonthAdvisor,
  },
  data: () => ({
    keyList: 1,
    dialog: false,
    dataHeader: [],
    optionsLeft: [],
    optionsRight: [],
    data: [],
    emptyMessage: "No se han encontrado datos",
    item: {},
    options: [],
    emitToParent: false,
  }),
  created() {
    this.dataHeader = [
      {
        label: "Agencia",
        value: this.$store.state.office,
      },
      {
        label: "Gerente",
        value: this.$store.state.username,
      },
    ];
  },
  methods: {
    show(item, options) {
      this.item = Object.assign({}, item);
      this.dialog = true;
      this.options = options;
      this.getData();
    },
    getData(emitToParent) {
      let body = {
        mes: this.item.month,
        anio: this.item.year,
        estado: this.item.stateId,
        ...(this.item.adviserId && { idNus: this.item.adviserId }),
      };
      console.log(this.item);
      this.request("cartera/asesor", body).then((response) => {
        if (response) {
          this.data.length = 0;
          response.data.map((item) => {
            let model = {
              title: item.nombre,
              description: item.estado,
              id: item.id,
              month: this.item.month,
              year: this.item.year,
              state: this.item.stateId,
            };
            if (item.idEstado == 2 && !this.item.alwaysAutorize)
              model.hiddenOptionsLeft = [0];
            else model.hiddenOptionsLeft = [1];
            this.data.push(model);
          });
          if (emitToParent) this.emitToParent = true;
          this.fillOptions();
        }
      });
    },
    fillOptions() {
      this.optionsLeft = [
        {
          title: "Autorizar",
          icon: "fas fa-check-circle",
          action: "approveProjection",
          enable: this.isEnableOption(this.options, 9),
        },
        {
          title: "Ver",
          icon: "far fa-eye",
          action: "seeProjection",
          enable: this.isEnableOption(this.options, 10),
        },
        {
          title: "R. Esperado",
          icon: "fas fa-check",
          action: "results",
          enable: this.isEnableOption(this.options, 11),
        },
      ];
      this.optionsRight = [];
      this.keyList++;
    },
    monthName(month) {
      return this.getMonthName(month);
    },
    hideDialog() {},
    sendData() {},
    approveProjection(item) {
      this.$refs.ApproveScreening.show(item);
    },
    approveHealth() {},
    seeProjection(item) {
      this.$refs.SeeScreening.show(item);
    },
    seeHealth() {},
    results(item) {
      this.$refs.MonthAdvisor.show(item);
    },
    hide() {
      if (this.emitToParent) {
        this.$emit("getData");
        this.emitToParent = false;
      }
    },
  },
};
</script>
