<template>
  <div>
    <q-dialog
      v-model="dialog"
      maximized
      transition-show="slide-left"
      transition-hide="slide-right"
    >
      <q-card class="q-mt-58 q-pa-sm">
        <toolbar title="Ver Proyección" @back="dialog = false"></toolbar>
        <header-data :data-header="dataHeader"></header-data>

        <div class="card q-mt-md">
          <p class="text-subtitle1 text-bold q-pl-md q-pt-sm q-mb-sm">
            {{ monthName(item.month) }} {{ item.year }}
          </p>
          <q-list>
            <q-item v-for="(item, index) in dataBody" :key="index">
              <q-item-section>
                <q-item-label>{{ item.label }}</q-item-label>
                <q-item-label caption lines="1">{{ item.value }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/**
 * Modulo: Planificador de Céditos
 * Desc: Componente para ver proyecciones
 * Rol: Supervisor
 */
import HeaderData from "../common/HeaderData";
import Toolbar from "../common/Toolbar";
import Util from "src/mixin/Util";

export default {
  mixins: [Util],
  components: { Toolbar, HeaderData },
  data() {
    return {
      dialog: false,
      dataHeader: [],
      dataBody: [],
      item: {},
    };
  },
  methods: {
    show(item) {
      this.item = Object.assign({}, item);
      this.dialog = true;
      this.getData();
      this.dataHeader = [
        {
          label: "Gestor",
          value: this.item.title,
        },
        {
          label: "Agencia",
          value: this.$store.state.office,
        },
        {
          label: "Gerente",
          value: this.$store.state.username,
        },
      ];
    },
    getData() {
      const body = {
        mes: this.item.month,
        anio: this.item.year,
        estado: this.item.stateId,
        idNus: this.item.id,
      };
      this.request("cartera/asesor/proyeccion", body).then((response) => {
        if (response) {
          if (response.estado === 200) {
            const data = response.data[0];

            const value = Object.values(data);

            let parseData = [
              {
                label: "No. Clientes que vencen",
                value: value[0],
              },
              {
                label: "Monto otorgado cliente vencen",
                value: this.getFormatMoney(value[6]),
              },
              {
                label: "Recuperación de capital A",
                value: this.getFormatMoney(value[5]),
              },
              {
                label: "Crecimiento esperado del mes B",
                value: this.getFormatMoney(value[3]),
              },
              {
                label: "Estimación cancelación anticipada C",
                value: this.getFormatMoney(value[11]),
              },
              {
                label: "Reducción de brecha D",
                value: this.getFormatMoney(value[4]),
              },
              {
                label: "Colocación Neta A+B+C+D",
                value: this.getFormatMoney(value[7]),
              },
            ];

            this.dataBody = parseData;
          } else this.notifyError("Error al obtener datos ");
        }
      });
    },
    monthName(month) {
      return this.getMonthName(month);
    },
  },
  mounted() {},
};
</script>
