// app global css in Sass form
@font-face 
    font-family: GoogleSans
    src: url("./GoogleSans-Regular.ttf") format("opentype")
body
    font-family: "GoogleSans" ,"Product Sans",Arial,Helvetica,sans-serif !important

.card
  border-radius: 10px !important
  background: #FFF
  padding: 8px
  cursor: pointer
  box-shadow: 0px 1px 10px 5px rgba(213,213,213,0.4) !important
//  height: 117px


.q-mt-58
    padding-top: 58px

.bg-header
  background: #cf112b

.p-color
  background: #cf112b

.text-date
  font-size: 18px


.icon-home
  margin-top: -12px

.icon-home-sm
  margin-top: -8px
  font-size: .8em

.q-mt-big-card
  padding-top: 120px


.dialog-min
  min-height: 100vh

.q-btn--fab .q-btn__wrapper 
  padding-top: 0px
  padding-bottom: 0px
  min-height: 50px
  min-width: 56px