<template>
  <div class="card q-mt-md" style="height: auto; border-radius: 10px">
    <div class="row full-width text-subtitle1 text-bold q-pl-sm q-pt-sm q-pb-lg">
      {{ date }}
    </div>
    <div class="row full-width q-mb-md" v-for="(item, index) of dataBody" :key="index">
      <div class="row full-width">
        <div class="col text-grey-10 text-bold q-ml-sm">
          {{ item.labelOne }}
        </div>
        <div class="text-grey-7 q-mr-sm">
          {{ item.valueOne }}
        </div>
      </div>
      <div class="row full-width">
        <div class="col text-grey-7 q-ml-sm">
          {{ item.labelTwo }}
        </div>
        <div class="text-grey-7 q-mr-sm">
          {{ item.valueTwo }}
        </div>
      </div>
      <div class="row full-width">
        <div class="col text-grey-7 q-ml-sm">
          {{ item.labelThree }}
        </div>
        <div class="text-grey-7 q-mr-sm">
          {{ item.valueThree }}
        </div>
      </div>
      <div class="row full-width">
        <div class="col text-grey-7 q-ml-sm">
          {{ item.labelFour }}
        </div>
        <div class="text-grey-7 q-mr-sm">
          {{ item.valueFour }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/**
 * Modulo: Se utiliza en varios modulos
 * Desc: Componente para mostar datos varios 
 * Rol: --
 */
export default {
  props: {
    date: String,
    dataBody: Array,
  },
  data() {
    return {
      data: "",
    };
  },
};
</script>
