<template>
  <div>
    <q-dialog v-model="dialogDate" full-width>
      <q-card>
        <q-linear-progress :value="1" color="red" />
        <q-card-section>
          <div class="text-h6">Fecha</div>
        </q-card-section>

        <div class="q-pa-md">
          <div class="row">
            <div class="col">
              <q-btn
                color="red"
                round
                unelevated
                flat
                icon="keyboard_arrow_left"
                @click="changeYear(false)"
              ></q-btn>
            </div>
            <div class="col flex justify-center items-center">
              <transition name="slide-fade" mode="out-in">
                <p
                  :key="currentYear"
                  class="label-year text-center q-ma-none q-pa-none animate__animated animate__fadeInLeft"
                >
                  {{ currentYear }}
                </p>
              </transition>
            </div>
            <div class="col text-right">
              <q-btn
                color="red"
                round
                unelevated
                flat
                icon="keyboard_arrow_right"
                @click="changeYear(true)"
              ></q-btn>
            </div>
          </div>
          <div class="row flex justify-center" :key="keyMonth">
            <q-btn
              v-for="(month, index) in monthName"
              :key="index"
              :label="month"
              unelevated
              class="w-100"
              :class="{ 'active-button': monthState[index] }"
              text-color="black"
              color="white"
              @click="changeMonth(index, true)"
            ></q-btn>
          </div>
        </div>
      </q-card>
    </q-dialog>
  </div>
</template>

<script>
/**
 * Modulo: Se utiliza en varios modulos
 * Desc: Componente para seleccionar mes y año 
 * Rol: --
 */
export default {
  data() {
    return {
      currentYear: null,
      currentMonth: null,
      keyMonth: 1,
      monthState: [
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
        false,
      ],
      monthName: "Ene_Feb_Mar_Abr_May_Jun_Jul_Ago_Sep_Oct_Nov_Dic".split("_"),
      months: "Enero_Febrero_Marzo_Abril_Mayo_Junio_Julio_Agosto_Septimbre_Octubre_Noviembre_Diciembre".split(
        "_"
      ),
      date: null,
      dialogDate: false,
    };
  },
  methods: {
    show() {
      this.dialogDate = true;
    },
    changeMonth(i, updateData) {
      this.monthState.map((item, index) => (this.monthState[index] = false));
      this.monthState[i] = true;
      this.keyMonth++;
      this.currentMonth = i + 1;
      this.date = `${this.months[this.currentMonth - 1]} - ${this.currentYear}`;
      // this.showDialogDate = false;
      this.dialogDate = false;
      this.$emit("date", this.currentMonth, this.currentYear, this.date);
    },
    changeYear(isNext) {
      if (isNext) this.currentYear++;
      else this.currentYear--;

      this.date = `${this.months[this.currentMonth - 1]} - ${this.currentYear}`;
    },
    dateSelected() {
      this.dialogDate = false;
      this.$emit("date", this.currentMonth, this.currentYear, this.date);
    },
  },
  created() {
    this.currentYear = this.$store.state.systemDate.split("/")[2];
    this.currentMonth = this.$store.state.systemDate.split("/")[1];
    this.date = `${this.months[this.currentMonth - 1]} - ${this.currentYear}`;
    this.monthState[this.currentMonth - 1] = true;
    this.$emit("date", this.currentMonth, this.currentYear, this.date);
  },
};
</script>

<style lang="sass">
.separator
    width: 50%
    position: absolute
    right:  0px
.w-100
    width: 25%
    border-radius: none
    margin: 10px

.label-year
    font-size: 1.3em

.active-button
    background: $red !important
    color: #FFF !important

.slide-fade-enter-active
  transition: all .1s ease

.slide-fade-leave-active
  transition: all .4s cubic-bezier(1.0, 0.5, 0.8, 1.0)

.slide-fade-enter, .slide-fade-leave-to
  transform: translateX(10px)
  opacity: 0
</style>
