<template>
  <div>
    <div class="card q-mt-md" style="height: auto">
      <div class="q-mt-sm q-mb-sm">
        <div v-for="(item, i) in dataHeaderCopy" :key="i">
          <div class="q-mb-sm row full-width" v-if="!item.isHidden">
            <div class="text-grey-9 text-bold q-ml-sm q-mr-sm">
              {{ item.label }}
            </div>
            <div class="text-grey-9 q-mr-sm col text-right" style="overflow: hidden">
              <q-item-label lines="1">
                {{ item.value }}
              </q-item-label>
            </div>
          </div>
        </div>
        <slot name="complement"></slot>
      </div>
    </div>
  </div>
</template>
<script>
/**
 * Modulo: Se utiliza en varios modulos
 * Desc: Componente para encabezado de las pantallas 
 * Rol: --
 */
export default {
  props: {
    dataHeader: Array,
  },
  data: () => ({
    dataHeaderCopy: [],
  }),
  created() {
    this.dataHeaderCopy = this.dataHeader;
  },
  methods: {},
};
</script>
