<template>
  <div>
    <swipe-list
      ref="list"
      :disabled="!enabled"
      :items="data"
      item-key="id"
      @swipeout:click="closeAll"
      @active="closeAll"
      v-if="data && data.length > 0"
    >
      <template v-slot="{ item }">
        <q-item v-if="!item.isHidden" class="q-pt-md q-pb-md">
          <q-item-section>
            <q-item-label>{{ item.title }}</q-item-label>
            <q-item-label caption lines="1">{{ item.description }}</q-item-label>
          </q-item-section>
          <q-item-section v-if="item.right" side>
            <q-item-label caption v-for="(element, index) in item.right" :key="index">{{
              element
            }}</q-item-label>
          </q-item-section>
        </q-item>
      </template>

      <template
        v-slot:left="{ item }"
        style="border: 10px solid #fff"
        v-if="optionsLeftCopy && optionsLeftCopy.length > 0"
      >
        <div v-for="(option, index) in optionsLeftCopy" :key="index">
          <div
            v-if="option.enable && !isHidenOption(item.hiddenOptionsLeft, index)"
            @click="action(option.action, item)"
            class="q-pl-sm q-pr-sm swipeout-action flex items-center justify-center column bg-red-light"
          >
            <q-icon color="red" size="sm" :name="option.icon"></q-icon>
            <p
              class="q-mb-none text-red text-center text-caption"
              style="min-width: 75px"
            >
              {{ option.title }}
            </p>
          </div>
        </div>
      </template>

      <template
        v-slot:right="{ item }"
        v-if="optionsRightCopy && optionsRightCopy.length > 0"
      >
        <div v-for="(option, index) in optionsRightCopy" :key="index">
          <div
            v-if="option.enable && !isHidenOption(item.hiddenOptionsRight, index)"
            class="q-pl-sm q-pr-sm swipeout-action flex items-center justify-center column bg-red-light"
            @click="action(option.action, item)"
          >
            <q-icon color="red" size="sm" :name="option.icon"></q-icon>
            <p class="text-center q-mb-none text-red" style="min-width: 75px">
              {{ option.title }}
            </p>
          </div>
        </div>
      </template>
    </swipe-list>
    <div v-else>
      <p class="text-center text-grey q-mt-lg" v-if="!loading.isActive">
        {{ emptyMessage }}
      </p>
    </div>
  </div>
</template>

<script>
/**
 * Modulo: Se utiliza en varios modulos
 * Desc: Componente para mostrar las opciones de izquierda y derecha al realiar el "swipe"
 * Rol: --
 */
import { SwipeList, SwipeOut } from "vue-swipe-actions";

import "vue-swipe-actions/dist/vue-swipe-actions.css";

export default {
  props: {
    optionsLeft: Array,
    optionsRight: Array,
    data: Array,
    emptyMessage: String,
  },
  components: {
    SwipeOut,
    SwipeList,
  },
  data() {
    return {
      loading: this.$q.loading,
      enabled: true,
      optionsLeftCopy: [],
      optionsRightCopy: [],
    };
  },
  created() {
    this.optionsLeftCopy = this.optionsLeft;
    this.optionsRightCopy = this.optionsRight;
  },
  methods: {
    action(action, item) {
      console.log(item);
      this.$refs.list.closeActions();
      this.$emit(action, item);
    },
    closeAll() {
      this.$refs.list.closeActions();
    },
    revealLeft() {
      this.$refs.list.closeActions();
    },
    revealRight() {
      this.$refs.list.closeActions();
    },
    /**
     * funcion para validar si una opcion va a estar ocula o no
     * @options  es una array con los indices que van a estar ocultos eje: [0,2]
     * @index  posicion de las opciones que se estan renderizando
     */

    isHidenOption(options, index) {
      let flag = false;
      if (options && Array.isArray(options)) {
        options.map((item) => {
          if (item == index) flag = true;
        });
      }
      return flag;
    },
  },
};
</script>
<style lang="sass">
.swipeout-action
  height: 100%

.swipeout-left
  border-right: 3px solid #FFF

.swipeout-right
  border-left: 3px solid #FFF

.bg-red-light
  background: #FFEFF1

.color-red-light
  color: #FD5B71
</style>
