<template>
  <div :id="'A' + id3">
    <div class="ios-segmented-control q-mx-sm">
      <span class="selection"></span>
      <div class="option">
        <input
          type="radio"
          :id="id1"
          name="sample"
          :value="id1"
          checked
          @change="updatePillPosition('P')"
        />
        <label :for="id1"
          ><span>{{ label1 || "Mis Proyecciones" }}</span></label
        >
      </div>
      <div class="option">
        <input
          type="radio"
          :id="id2"
          name="sample"
          :value="id2"
          @change="updatePillPosition('S')"
        />
        <label :for="id2"
          ><span>{{ label2 || "Mis Supervisados" }}</span></label
        >
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    label1: String,
    label2: String,
  },
  data: () => ({
    SEGMENTED_CONTROL_BASE_SELECTOR: ".ios-segmented-control",
    SEGMENTED_CONTROL_INDIVIDUAL_SEGMENT_SELECTOR: ".ios-segmented-control .option input",
    SEGMENTED_CONTROL_BACKGROUND_PILL_SELECTOR: ".ios-segmented-control .selection",
    id1: null,
    id2: null,
    id3: null,
  }),
  created() {
    this.id1 = this.uuidv4();
    this.id2 = this.uuidv4();
    this.id3 = this.uuidv4();
    this.$emit("initSelect", "P");
    this.SEGMENTED_CONTROL_BASE_SELECTOR =
      "#A" + this.id3 + " " + ".ios-segmented-control";
    this.SEGMENTED_CONTROL_INDIVIDUAL_SEGMENT_SELECTOR =
      "#A" + this.id3 + " " + ".ios-segmented-control .option input";
    this.SEGMENTED_CONTROL_BACKGROUND_PILL_SELECTOR =
      "#A" + this.id3 + " " + ".ios-segmented-control .selection";
  },
  updated() {
    this.setup();
  },
  methods: {
    uuidv4() {
      return "xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx".replace(/[xy]/g, function (c) {
        var r = (Math.random() * 16) | 0,
          v = c == "x" ? r : (r & 0x3) | 0x8;
        return v.toString(16);
      });
    },
    setup() {
      this.forEachElement(this.SEGMENTED_CONTROL_BASE_SELECTOR, (elem) => {
        elem.addEventListener("change", this.updatePillPosition());
      });
      window.addEventListener("resize", this.updatePillPosition());
    },

    updatePillPosition(option) {
      this.forEachElement(
        this.SEGMENTED_CONTROL_INDIVIDUAL_SEGMENT_SELECTOR,
        (elem, index) => {
          if (elem.checked) {
            this.moveBackgroundPillToElement(elem, index);
            this.$emit("select", option);
          }
        }
      );
    },

    moveBackgroundPillToElement(elem, index) {
      console.log(this.SEGMENTED_CONTROL_BACKGROUND_PILL_SELECTOR);
      document.querySelector(
        this.SEGMENTED_CONTROL_BACKGROUND_PILL_SELECTOR
      ).style.transform = "translateX(" + elem.offsetWidth * index + "px)";
    },

    forEachElement(className, fn) {
      Array.from(document.querySelectorAll(className)).forEach(fn);
    },
  },
};
</script>
<style>
.ios-segmented-control {
  --background: rgba(239, 239, 240, 1);
  background: var(--background);
  border-radius: 9px;
  padding: 2px;
  border: none;
  outline: none;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.ios-segmented-control .option {
  position: relative;
  cursor: pointer;
}

.ios-segmented-control .option:hover input:not(:checked) + label span,
.ios-segmented-control .option:active input:not(:checked) + label span,
.ios-segmented-control .option:focus input:not(:checked) + label span {
  opacity: 1;
}

.ios-segmented-control .option:active input:not(:checked) + label span {
  transform: scale(0.95);
}

.ios-segmented-control .option label {
  position: relative;
  display: block;
  text-align: center;
  padding: 3px 6vmin;
  background: rgba(255, 255, 255, 0);
  font-weight: 500;
  color: rgba(0, 0, 0, 1);
  font-size: 14px;
}

.ios-segmented-control .option label::before,
.ios-segmented-control .option label::after {
  content: "";
  width: 1px;
  background: rgba(142, 142, 147, 0.15);
  position: absolute;
  top: 14%;
  bottom: 14%;
  border-radius: 10px;
  will-change: background;
  -webkit-transition: background 0.2s ease;
  transition: background 0.2s ease;
}

.ios-segmented-control .option label::before {
  left: 0;
  transform: translateX(-0.5px);
}

.ios-segmented-control .option label::after {
  right: 0;
  transform: translateX(0.5px);
}

.ios-segmented-control .option:first-of-type {
  grid-column: 1;
  grid-row: 1;
  box-shadow: none;
}

.ios-segmented-control .option:first-of-type label::before {
  opacity: 0;
}

.ios-segmented-control .option:last-of-type label::after {
  opacity: 0;
}

.ios-segmented-control .option input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
  opacity: 0;
}

.ios-segmented-control .selection {
  background: rgba(255, 255, 255, 1);
  border: 0.5px solid rgba(0, 0, 0, 0.04);
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.12), 0 3px 1px 0 rgba(0, 0, 0, 0.04);
  border-radius: 7px;
  grid-column: 1;
  grid-row: 1;
  z-index: 2;
  will-change: transform;
  -webkit-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
}

.ios-segmented-control .option label span {
  display: block;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  will-change: transform;
  padding: 4px 0px;
}

.ios-segmented-control .option input:checked + label::before,
.ios-segmented-control .option input:checked + label::after {
  background: var(--background);
  z-index: 1;
}

.ios-segmented-control .option input:checked + label {
  cursor: default;
}
</style>
