<template>
  <div
    class="bg-primary q-pb-xs q-sm-md q-pt-xs q-pb-xs fixed-top shadow-1 z-index-toolbar"
  >
    <q-toolbar class="text-white">
      <q-btn
        flat
        round
        dense
        :icon="iconClose ? iconClose : 'arrow_back'"
        @click="back"
      />
      <q-toolbar-title>{{ title }}</q-toolbar-title>
      <q-btn v-if="buttonTitle" flat :label="buttonTitle" @click="send"></q-btn>

      <q-btn v-if="$slots.options" text-color="white" flat color="red" icon="more_vert">
        <q-menu transition-show="scale" transition-hide="scale">
          <q-list style="min-width: 150px">
            <slot name="options"></slot>
          </q-list>
        </q-menu>
      </q-btn>
    </q-toolbar>
  </div>
</template>
<script>
/**
 * Modulo: Se utiliza en varios modulos
 * Desc: Componente para el toolbar 
 * Rol: --
 */
export default {
  props: {
    title: String,
    buttonTitle: String,
    iconClose: String,
  },
  data: () => ({
    text: "",
  }),
  methods: {
    back() {
      this.$emit("back");
    },
    send() {
      this.$emit("send");
    },
  },
};
</script>
<style scoped lang="sass">
.z-index-toolbar
  z-index: 2
</style>
