<template>
  <div class="bg-primary q-pb-xs q-sm-md q-pt-xs fixed-top shadow-1 z-index-toolbar">
    <q-toolbar class="text-white">
      <q-btn
        flat
        round
        dense
        icon="arrow_back"
        class="q-mr-sm"
        @click="$router.push({ name: 'Dashboard' })"
      ></q-btn>
      <q-toolbar-title>Bienvenido {{ $store.state.username }}</q-toolbar-title>
      <slot name="menu"></slot>
    </q-toolbar>
    <q-toolbar inset class="text-white">
      <p class="row full-width">
        <span class="col">{{ $store.state.office }}</span>
        <span class="flex items-center"
          ><q-icon class="q-mr-sm" size="xs" name="far fa-calendar"></q-icon>
          {{ $store.state.systemDate }}</span
        >
      </p>
    </q-toolbar>
  </div>
</template>
<script>
/**
 * Modulo: Se utiliza en varios modulos
 * Desc: Componente para mostar el toolbar en las pantallas de la carpeta "pages"
 * Rol: --
 */
export default {
  props: {
    title: String,
    buttonTitle: String,
    iconClose: String,
  },
  data: () => ({
    text: "",
  }),
  methods: {},
};
</script>
<style scoped lang="sass">
.z-index-toolbar
  z-index: 3
</style>
