<template>
  <div id="q-app">
    <transition name="slide-fade" mode="out-in">
      <router-view />
    </transition>
  </div>
</template>
<script>
import Util from "./mixin/Util";
export default {
  name: "App",
  mixins: [Util],
  created() {
    if (window.cordova) {
      StatusBar.show();
      StatusBar.backgroundColorByHexString("#CF112B");
    }
    this.storeCommits();
  },
};
</script>
<style scoped>
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.5s ease;
}

.fade-leave-active {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.slide-fade-enter-active {
  transition: all 0.3s ease;
}
.slide-fade-leave-active {
  transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}
.slide-fade-enter, .slide-fade-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
  transform: translateX(10px);
  opacity: 0;
}
</style>
